include ../icon/icons

//- Аргумент data - один из вариантов json данных income, income1, income2, income3 .json
//- для каждого вида вкладок 02, 04, 06, 08 соотв.

//- таблица в доходах бюджета
mixin table-income(data)

  mixin dataType(data, type)
    case data.length
      when 3
        - var cells = 'three';
      when 2
        - var cells = 'two';
      when 1
        - var cells = 'one';

    each item in data
      if (typeof data[0].total === "object")
        +e.col._one= item[type].initial
        +e.col._one= item[type].change
        +e.col._one= item[type].final
      else
        +e(class= 'col_'+cells)= item.total


  +b.table&attributes(attributes)
    +e.P.periodtext
      span Плановый период

    +e.row._caption
      +e.col._four Виды доходов

      if (data[0].year)
        each item in data
          +e.col._four= item.year
            if item.leftperiod
              +e.SPAN.period-left
            if item.rightperiod
              +e.SPAN.period-right
      else
        +e.col._four МЛРД РУБ.
        +e.col._four %

    if (typeof data[0].total === "object")
      +e.row._subcaption
        +e.col._four empty

        +e.col._one Закон перво- начальный
        +e.col._one Изменение
        +e.col._one Закон с учетом Изменений

        +e.col._one Закон перво- начальный
        +e.col._one Изменение
        +e.col._one Закон с учетом Изменений

        +e.col._one Закон перво- начальный
        +e.col._one Изменение
        +e.col._one Закон с учетом Изменений

    +e.row
      +e.col._four Доходы, всего

      +dataType(data, 'total')

    +e.row._opened._hassub
      +e.col._four
        +e.SPAN.arrow
          +icon('angle-arrow')
        | Налоговые доходы, в том числе:

      +dataType(data, 'tax')

    +e.row._subrow_tax
      +e.col._four._subcol Налог на прибыль организаций

      +dataType(data, 'org')

    +e.row._subrow_tax
      +e.col._four._subcol Налог на доходы физических лиц

      +dataType(data, 'ndfl')

    +e.row
      +e.col._four ...

      +dataType(data, 'other')

    +e.row._hassub
      +e.col._four
        +e.SPAN.arrow
          +icon('angle-arrow')
        | Неналоговые доходы, в том числе:

      +dataType(data, 'nonTax')
mixin table-income_slider(data)

  mixin dataType(data, type)
    case data.length
      when 3
        - var cells = 'three';
      when 2
        - var cells = 'two';
      when 1
        - var cells = 'one';

    each item in data
      if (typeof data[0].total === "object")
        +e.col._one= item[type].initial
        +e.col._one= item[type].change
        +e.col._one= item[type].final
      else
        +e(class= 'col_'+cells)= item.total


  +b.table&attributes(attributes)
    +e.P.periodtext
      span Плановый период

    +e.row._caption
      +e.col._four Виды доходов

      if (data[0].year)
        each item in data
          +e.col._four= item.year
            if item.leftperiod
              +e.SPAN.period-left
            if item.rightperiod
              +e.SPAN.period-right
      else
        +e.col._four МЛРД РУБ.
        +e.col._four %

    if (typeof data[0].total === "object")
      +e.row._subcaption
        +e.col._four empty

        +e.col._one Закон перво- начальный
        +e.col._one Изменение
        +e.col._one Закон с учетом Изменений

        +e.col._one Закон перво- начальный
        +e.col._one Изменение
        +e.col._one Закон с учетом Изменений

        +e.col._one Закон перво- начальный
        +e.col._one Изменение
        +e.col._one Закон с учетом Изменений

    +e.row
      +e.col._four Доходы, всего

      +dataType(data, 'total')

    +e.row._opened._hassub
      +e.col._four
        +e.SPAN.arrow
          +icon('angle-arrow')
        | Налоговые доходы, в том числе:

      +dataType(data, 'tax')

    +e.row._subrow_tax
      +e.col._four._subcol Налог на прибыль организаций

      +dataType(data, 'org')

    +e.row._subrow_tax
      +e.col._four._subcol Налог на доходы физических лиц

      +dataType(data, 'ndfl')

    +e.row
      +e.col._four ...

      +dataType(data, 'other')

    +e.row._hassub
      +e.col._four
        +e.SPAN.arrow
          +icon('angle-arrow')
        | Неналоговые доходы, в том числе:

      +dataType(data, 'nonTax')

mixin table-vmo(data)


  mixin dataType(data, type)
    case data.length
      when 3
        - var cells = 'three';
      when 2
        - var cells = 'two';
      when 1
        - var cells = 'one';

    each item in data
      if (typeof data[0].total === "object")
        +e.col._one= item[type].initial
        +e.col._one= item[type].change
      else
        +e(class= 'col_'+cells)= item.total


  +b.table&attributes(attributes)

    +e.row._caption
      +e.col._four Показатели

      if (data[0].year)
        each item in data
          +e.col._four= item.year
      else
        +e.col._four МЛРД РУБ.
        +e.col._four %

    if (typeof data[0].total === "object")
      +e.row._subcaption
        +e.col._four &nbsp;

        +e.col._one план
        +e.col._one факт

        +e.col._one план
        +e.col._one темп

        +e.col._one план
        +e.col._one факт

        +e.col._one план
        +e.col._one факт

        +e.col._one план
        +e.col._one факт

        +e.col._one план
        +e.col._one факт

    +e.row._opened._hassub
      +e.col._four
        +e.SPAN.arrow
          +icon('angle-arrow')
        | Доходы

      +dataType(data, 'total')

    +e.row._subrow_tax
      +e.col._four._subcol Налоговые доходы

      +dataType(data, 'tax')

    +e.row._opened._hassub
      +e.col._four
        +e.SPAN.arrow
          +icon('angle-arrow')
        | Расходы

      +dataType(data, 'org')

    +e.row._subrow_tax
      +e.col._four._subcol Общегосударственные вопросы

      +dataType(data, 'ndfl')

    +e.row
      +e.col._four Дефицит/профицит

      +dataType(data, 'other')

//- таблица в расходах бюджета
mixin table-expenses(data)

  mixin dataType(data, type)
    case data.length
      when 3
        - var cells = 'three';
      when 2
        - var cells = 'two';
      when 1
        - var cells = 'one';

    each item in data
      if (typeof data[0].total === "object")
        +e.col._one= item[type].initial
        +e.col._one= item[type].change
        +e.col._one= item[type].final
      else
        +e(class= 'col_'+cells)= item.total


  +b.table._multilevel&attributes(attributes)
    
    +e.P.periodtext
      span Плановый период

    +e.row._caption
      +e.col._four Виды расходов

      if (data[0].year)
        each item in data
          +e.col._four= item.year
            if item.leftperiod
              +e.SPAN.period-left
            if item.rightperiod
              +e.SPAN.period-right
      else
        +e.col._four МЛРД РУБ.
        +e.col._four %

    if (typeof data[0].total === "object")
      +e.row._subcaption
        +e.col._four empty

        +e.col._one Закон перво- начальный
        +e.col._one Изменение
        +e.col._one Закон с учетом Изменений

        +e.col._one Закон перво- начальный
        +e.col._one Изменение
        +e.col._one Закон с учетом Изменений

        +e.col._one Закон перво- начальный
        +e.col._one Изменение
        +e.col._one Закон с учетом Изменений

    +e.row._level1(data-level='1').active
      +e.col._four Расходы, всего
      +dataType(data, 'total')
      
    +e.row._level1(data-level='1')._opened.active
      +e.col._four Уровень 1 Налоговые расходы, в том числе:
        +e.SPAN.arrow
          +icon('angle-arrow')
      +dataType(data, 'tax')
      
    +e.row._level2(data-level='2')
      +e.col._four Уровень 2 Налог на прибыль организаций
      +dataType(data, 'org')
      
    +e.row._level2(data-level='2')._opened
      +e.col._four Уровень 2 Налог на доходы физических лиц
        +e.SPAN.arrow
          +icon('angle-arrow')
      +dataType(data, 'ndfl')
      
    +e.row._level3(data-level='3')._opened
      +e.col._four Уровень 3 Налог на прибыль организаций
        +e.SPAN.arrow
          +icon('angle-arrow')
      +dataType(data, 'org')
      
    +e.row._level4(data-level='4')
      +e.col._four Уровень 4 Налог на прибыль организаций
      +dataType(data, 'org')
      
    +e.row._level4(data-level='4')
      +e.col._four Уровень 4 Налог на прибыль организаций
        +e.SPAN.arrow
          +icon('angle-arrow')
      +dataType(data, 'org')
      
    +e.row._level5(data-level='5')
      +e.col._four Уровень 5 Налог на прибыль организаций
      +dataType(data, 'org')
      
    +e.row._level5(data-level='5')._opened
      +e.col._four Уровень 5 Налог на прибыль организаций
        +e.SPAN.arrow
          +icon('angle-arrow')
      +dataType(data, 'org')
      
    +e.row._level6(data-level='6')
      +e.col._four Уровень 6 Налог на прибыль организаций
      +dataType(data, 'org')
      
    +e.row._level5(data-level='5')
      +e.col._four Уровень 5 Налог на прибыль организаций
      +dataType(data, 'org')
      
    +e.row._level3(data-level='3')
      +e.col._four Уровень 3 Налог на прибыль организаций
      +dataType(data, 'org')
      
    +e.row._level1(data-level='1').active
      +e.col._four Уровень 1 Неналоговые расходы, в том числе:
        +e.SPAN.arrow
          +icon('angle-arrow')
      +dataType(data, 'nonTax')
      
    +e.row._level2(data-level='2')
      +e.col._four Уровень 2 Налог на прибыль организаций
      +dataType(data, 'org')



mixin table-sources(data)

  mixin dataType(data, type)
    case data.length
      when 3
        - var cells = 'three';
      when 2
        - var cells = 'two';
      when 1
        - var cells = 'one';

    each item in data
      if (typeof data[0].total === "object")
        +e.col._one= item[type].initial
        +e.col._one= item[type].change
        +e.col._one= item[type].final
      else
        +e(class= 'col_'+cells)= item.total


  +b.table&attributes(attributes)
    +e.P.periodtext
      span Плановый период

    +e.row._caption
      +e.col._four Виды источников

      if (data[0].year)
        each item in data
          +e.col._four= item.year
            if item.leftperiod
              +e.SPAN.period-left
            if item.rightperiod
              +e.SPAN.period-right
      else
        +e.col._four МЛРД РУБ.
        +e.col._four %

    if (typeof data[0].total === "object")
      +e.row._subcaption
        +e.col._four empty

        +e.col._one Закон перво- начальный
        +e.col._one Изменение
        +e.col._one Закон с учетом Изменений

        +e.col._one Закон перво- начальный
        +e.col._one Изменение
        +e.col._one Закон с учетом Изменений

        +e.col._one Закон перво- начальный
        +e.col._one Изменение
        +e.col._one Закон с учетом Изменений

    +e.row
      +e.col._four Источники, всего

      +dataType(data, 'total')

    +e.row._opened._hassub
      +e.col._four
        +e.SPAN.arrow
          +icon('angle-arrow')
        | Источники, в том числе:

      +dataType(data, 'tax')

    +e.row._subrow_tax
      +e.col._four._subcol Источник 1

      +dataType(data, 'org')

    +e.row._subrow_tax
      +e.col._four._subcol Источник 2

      +dataType(data, 'ndfl')

    +e.row
      +e.col._four ...

      +dataType(data, 'other')

    +e.row._hassub
      +e.col._four
        +e.SPAN.arrow
          +icon('angle-arrow')
        | Другие, в том числе:

      +dataType(data, 'nonTax')

//- таблица в аналитике Главная
mixin table-main(data)

  mixin dataType(data, type)
    case data.length
      when 3
        - var cells = 'three';
      when 2
        - var cells = 'two';
      when 1
        - var cells = 'one';

    each item in data
      if (typeof data[0].total === "object")
        +e.col._one(data-set=item.set)= item[type].initial
        +e.col._one(data-set=item.set)= item[type].change
      else
        +e(class= 'col_'+cells)= item.total


  +b.table&attributes(attributes)

    +e.row._caption
      +e.col._four Показатели

      if (data[0].year)
        each item in data
          +e.col._four(data-set=item.set data-set-year)= item.year
      else
        +e.col._four МЛРД РУБ.
        +e.col._four %

    if (typeof data[0].total === "object")
      +e.row._subcaption
        +e.col._four &nbsp;

        +e.col._one(data-set='gt1' data-set-stage) факт
        +e.col._one(data-set='gt1') &nbsp;

        +e.col._one(data-set='gt2' data-set-stage) факт
        +e.col._one(data-set='gt2') темп, %

        +e.col._one(data-set='gt3' data-set-stage) закон утвержденный
        +e.col._one(data-set='gt3') темп, %

        +e.col._one(data-set='gt4' data-set-stage) закон утвержденный
        +e.col._one(data-set='gt4') темп, %

        +e.col._one(data-set='gt5' data-set-stage) закон утвержденный
        +e.col._one(data-set='gt5') темп, %

    +e.row
      +e.col._four Доходы

      +dataType(data, 'total')

    +e.row
      +e.col._four ...

      +dataType(data, 'other')

    +e.row
      +e.col._four Расходы

      +dataType(data, 'total')

    +e.row
      +e.col._four ...

      +dataType(data, 'other')

    +e.row
      +e.col._four Дефицит/профицит

      +dataType(data, 'total')


//- таблица аналитике доходы
mixin table-aincome(data, type)

  mixin dataType(data, type)
    case data.length
      when 3
        - var cells = 'three';
      when 2
        - var cells = 'two';
      when 1
        - var cells = 'one';

    each item in data
      if (typeof data[0].total === "object")
        +e.col._one(data-set=item.set)= item[type].initial
        +e.col._one(data-set=item.set)= item[type].change
        //+e.col._one= item[type].final
      else
        +e(class= 'col_'+cells)= item.total


  +b.table&attributes(attributes)

    +e.row._caption
      +e.col._four Показатели

      if (data[0].year)
        each item in data
          if type == 'exe'
            +e.col._four(data-set=item.set)
              span(data-set-month)= item.month
              span(data-set-year)= item.year
          else
            +e.col._four(data-set=item.set data-set-year)= item.year
      else
        +e.col._four МЛРД РУБ.
        +e.col._four %

    if (typeof data[0].total === "object")
      +e.row._subcaption
        +e.col._four &nbsp;
        
        if type == 'rate'
          +e.col._one(data-set='gt1' data-set-stage) факт
          +e.col._one(data-set='gt1') &nbsp;
          
          +e.col._one(data-set='gt2' data-set-stage) факт
          +e.col._one(data-set='gt2') темп
          
          +e.col._one(data-set='gt3' data-set-stage) закон утвержденный
          +e.col._one(data-set='gt3') темп
          
          +e.col._one(data-set='gt4' data-set-stage) закон утвержденный
          +e.col._one(data-set='gt4') темп
          
          +e.col._one(data-set='gt5' data-set-stage) закон утвержденный
          +e.col._one(data-set='gt5') темп
          
        else if type == 'part'
          +e.col._one(data-set='gt1' data-set-stage) факт
          +e.col._one(data-set='gt1') доля
          
          +e.col._one(data-set='gt2' data-set-stage) факт
          +e.col._one(data-set='gt2') доля
          
          +e.col._one(data-set='gt3' data-set-stage) закон утвержденный
          +e.col._one(data-set='gt3') доля
          
          +e.col._one(data-set='gt4' data-set-stage) закон утвержденный
          +e.col._one(data-set='gt4') доля
          
          +e.col._one(data-set='gt5' data-set-stage) закон утвержденный
          +e.col._one(data-set='gt5') доля
          
        else if type == 'exe'
          +e.col._one(data-set='gt1' data-set-stage) факт
          +e.col._one(data-set='gt1') % исполнения
          
          +e.col._one(data-set='gt2' data-set-stage) факт
          +e.col._one(data-set='gt2') % исполнения
          
          +e.col._one(data-set='gt3' data-set-stage) закон утвержденный
          +e.col._one(data-set='gt3') % исполнения
          
          +e.col._one(data-set='gt4' data-set-stage) закон утвержденный
          +e.col._one(data-set='gt4') % исполнения
          
          +e.col._one(data-set='gt5' data-set-stage) закон утвержденный
          +e.col._one(data-set='gt5') % исполнения

    +e.row
      +e.col._four Налоговые и неналоговые доходы

      +dataType(data, 'total')

    +e.row
      +e.col._four ...

      +dataType(data, 'other')

    +e.row
      +e.col._four Налог на прибыль

      +dataType(data, 'total')

    +e.row
      +e.col._four ...

      +dataType(data, 'other')

    +e.row
      +e.col._four Неналоговые доходы

      +dataType(data, 'total')

//- таблица в аналитике Гос. программы
mixin table-gp(data, analytics, switcher, type)

  mixin dataType(data, type)
    case data.length
      when 3
        - var cells = 'three';
      when 2
        - var cells = 'two';
      when 1
        - var cells = 'one';

    each item in data
      if (typeof data[0].total === "object")
        if analytics
          +e.col._one(data-set=item.set)= item[type].initial
          +e.col._one(data-set=item.set)= item[type].change
        else
          +e.col._one= item[type].initial
          +e.col._one= item[type].change
      else
        +e(class= 'col_'+cells)= item.total

  if switcher
    .table-switcher
      .analityc-control-switcher.analityc-control-switcher_table.analityc-control-switcher_large.active
        a(href="#").active млн руб.
        a(href="#") млрд руб.

  +b.table._multilevel&attributes(attributes)

    +e.row._caption
      +e.col._four Показатели

      if (data[0].year)
        each item in data
          if analytics
            if type == 'exe'
              +e.col._four(data-set=item.set)
                span(data-set-month)= item.month
                span(data-set-year)= item.year
            else
              +e.col._four(data-set=item.set data-set-year)= item.year
          else
            +e.col._four= item.year
      else
        +e.col._four МЛРД РУБ.
        +e.col._four %

    if (typeof data[0].total === "object")
      +e.row._subcaption
      
        if analytics
          
          if type == 'rate'
            +e.col._four &nbsp;
    
            +e.col._one(data-set='gt1' data-set-stage) факт
            +e.col._one(data-set='gt1') &nbsp;
    
            +e.col._one(data-set='gt2' data-set-stage) факт
            +e.col._one(data-set='gt2') темп, %
    
            +e.col._one(data-set='gt3' data-set-stage) закон утвержденный
            +e.col._one(data-set='gt3') темп, %
    
            +e.col._one(data-set='gt4' data-set-stage) закон утвержденный
            +e.col._one(data-set='gt4') темп, %
    
            +e.col._one(data-set='gt5' data-set-stage) закон утвержденный
            +e.col._one(data-set='gt5') темп, %
            
          else if type == 'part'
            +e.col._four &nbsp;
    
            +e.col._one(data-set='gt1' data-set-stage) факт
            +e.col._one(data-set='gt1') доля
    
            +e.col._one(data-set='gt2' data-set-stage) факт
            +e.col._one(data-set='gt2') доля
    
            +e.col._one(data-set='gt3' data-set-stage) закон утвержденный
            +e.col._one(data-set='gt3') доля
    
            +e.col._one(data-set='gt4' data-set-stage) закон утвержденный
            +e.col._one(data-set='gt4') доля
    
            +e.col._one(data-set='gt5' data-set-stage) закон утвержденный
            +e.col._one(data-set='gt5') доля
            
          else if type == 'exe'
            +e.col._four &nbsp;
    
            +e.col._one(data-set='gt1' data-set-stage) факт
            +e.col._one(data-set='gt1') % исполнения
    
            +e.col._one(data-set='gt2' data-set-stage) факт
            +e.col._one(data-set='gt2') % исполнения
    
            +e.col._one(data-set='gt3' data-set-stage) закон утвержденный
            +e.col._one(data-set='gt3') % исполнения
    
            +e.col._one(data-set='gt4' data-set-stage) закон утвержденный
            +e.col._one(data-set='gt4') % исполнения
    
            +e.col._one(data-set='gt5' data-set-stage) закон утвержденный
            +e.col._one(data-set='gt5') % исполнения
          
        else
          +e.col._four &nbsp;
  
          +e.col._one факт
          +e.col._one &nbsp;
  
          +e.col._one факт
          +e.col._one темп, %
  
          +e.col._one закон о бюджете
          +e.col._one темп, %
  
          +e.col._one закон о бюджете
          +e.col._one темп, %
  
          +e.col._one закон о бюджете
          +e.col._one темп, %
      
    +e.row._level1(data-level='1')._opened.active
      +e.col._four Расходы, всего
        +e.SPAN.arrow
          +icon('angle-arrow')
      +dataType(data, 'total')
      
    +e.row._level2(data-level='2')._opened
      +e.col._four Программные расходы, в том числе:
        +e.SPAN.arrow
          +icon('angle-arrow')
      +dataType(data, 'tax')
      
    +e.row._level3(data-level='3')._opened
      +e.col._four._iconed ГП &laquo;Развитие транспортной системы&raquo;
        +e.SPAN.icon
        +e.SPAN.arrow
          +icon('angle-arrow')
      +dataType(data, 'org')
      
    +e.row._level4(data-level='4')
      +e.col._four Общественный транспорт &laquo;Метрополитен&raquo;
      +dataType(data, 'ndfl')
      
    +e.row._level1(data-level='1').active
      +e.col._four Непрограммные направления деятельности
      +dataType(data, 'org')
      
      
//- таблица Государственный долг
mixin table-govdebt(data)

  mixin dataType(data, type)
    case data.length
      when 3
        - var cells = 'three';
      when 2
        - var cells = 'two';
      when 1
        - var cells = 'one';

    each item in data
      if (typeof data[0].total === "object")
        +e.col._one= item[type].initial
        +e.col._one= item[type].change
      else
        +e(class= 'col_'+cells)= item.total


  +b.table&attributes(attributes)

    +e.row._caption
      +e.col._four Показатели

      if (data[0].year)
        each item in data
          +e.col._four= item.year
      else
        +e.col._four МЛРД РУБ.
        +e.col._four %

    if (typeof data[0].total === "object")
      +e.row._subcaption
        +e.col._four &nbsp;

        +e.col._one факт
        +e.col._one &nbsp;

        +e.col._one факт
        +e.col._one темп

        +e.col._one закон<br> о бюджете
        +e.col._one темп

        +e.col._one закон<br> о бюджете
        +e.col._one темп

        +e.col._one закон<br> о бюджете
        +e.col._one темп

    +e.row
      +e.col._four Налоговые и неналоговые доходы

      +dataType(data, 'total')

    +e.row
      +e.col._four ...

      +dataType(data, 'other')

    +e.row
      +e.col._four Налог на прибыль

      +dataType(data, 'total')

    +e.row
      +e.col._four ...

      +dataType(data, 'other')

    +e.row
      +e.col._four Неналоговые доходы

      +dataType(data, 'total')

//- Аналитика - Государственный долг
mixin table-analytics-gov-debt(data)

  mixin dataType(data, type)
    case data.length
      when 3
        - var cells = 'three';
      when 2
        - var cells = 'two';
      when 1
        - var cells = 'one';
    each item in data
      if (typeof data[0].total === "object")
        +e.col._one(data-set=item.set)= item[type].initial
        +e.col._one(data-set=item.set)= item[type].change
        //+e.col._one= item[type].final
      else
        +e(class= 'col_'+cells)= item.total
  
  +b.table&attributes(attributes)
    +e.row._caption
      +e.col._four Показатели
      if (data[0].year)
        each item in data
          +e.col._four(data-set=item.set)
            span(data-set-month)= item.gdmonth
            span(data-set-year)= item.year
      else
        +e.col._four МЛРД РУБ.
        +e.col._four %
    if (typeof data[0].total === "object")
      +e.row._subcaption
        +e.col._four &nbsp;
        +e.col._one(data-set='gt1' data-set-stage) факт
        +e.col._one(data-set='gt1') &nbsp;
        +e.col._one(data-set='gt2' data-set-stage) факт
        +e.col._one(data-set='gt2') темп, %
        +e.col._one(data-set='gt3' data-set-stage) закон утвержденный
        +e.col._one(data-set='gt3') темп, %
        +e.col._one(data-set='gt4' data-set-stage) закон утвержденный
        +e.col._one(data-set='gt4') темп, %
        +e.col._one(data-set='gt5' data-set-stage) закон утвержденный
        +e.col._one(data-set='gt5') темп, %

    +e.row._level1(data-level='1')._opened.active
      +e.col._four Расходы, всего
        +e.SPAN.arrow
          +icon('angle-arrow')
      +dataType(data, 'total')
      
    +e.row._level2(data-level='2')._opened
      +e.col._four Программные расходы, в том числе:
        +e.SPAN.arrow
          +icon('angle-arrow')
      +dataType(data, 'tax')
      
    +e.row._level3(data-level='3')._opened
      +e.col._four._iconed ГП &laquo;Развитие транспортной системы&raquo;
        +e.SPAN.icon
        +e.SPAN.arrow
          +icon('angle-arrow')
      +dataType(data, 'org')
      
    +e.row._level4(data-level='4')
      +e.col._four Общественный транспорт &laquo;Метрополитен&raquo;
      +dataType(data, 'ndfl')
      
    +e.row._level1(data-level='1').active
      +e.col._four Непрограммные направления деятельности
      +dataType(data, 'org')



mixin table-mrelations(data)

  mixin dataType(data, type)
    case data.length
      when 3
        - var cells = 'three';
      when 2
        - var cells = 'two';
      when 1
        - var cells = 'one';

    each item in data
      if (typeof data[0].total === "object")
        +e.col._one= item[type].initial
        +e.col._one= item[type].change
        +e.col._one= item[type].final
      else
        +e(class= 'col_'+cells)= item.total


  +b.table&attributes(attributes)
    +e.P.periodtext
      span Плановый период

    +e.row._caption
      +e.col._four Виды доходов

      if (data[0].year)
        each item in data
          +e.col._four= item.year
            if item.leftperiod
              +e.SPAN.period-left
            if item.rightperiod
              +e.SPAN.period-right
      else
        +e.col._four МЛРД РУБ.
        +e.col._four %

    if (typeof data[0].total === "object")
      +e.row._subcaption
        +e.col._four empty

        +e.col._one Закон перво- начальный
        +e.col._one Изменение
        +e.col._one Закон с учетом Изменений

        +e.col._one Закон перво- начальный
        +e.col._one Изменение
        +e.col._one Закон с учетом Изменений

        +e.col._one Закон перво- начальный
        +e.col._one Изменение
        +e.col._one Закон с учетом Изменений

    +e.row
      +e.col._four Трансферты из федерального бюджета, всего
      +dataType(data, 'total')

    +e.row
      +e.col._four Субсидии
      +dataType(data, 'tax')

    +e.row
      +e.col._four Субвенции
      +dataType(data, 'org')

    +e.row
      +e.col._four Иные межбюджетные трансферты
      +dataType(data, 'ndfl')

mixin table-mrelations2(data)

  mixin dataType(data, type)
    case data.length
      when 3
        - var cells = 'three';
      when 2
        - var cells = 'two';
      when 1
        - var cells = 'one';

    each item in data
      if (typeof data[0].total === "object")
        +e.col._one= item[type].initial
        +e.col._one= item[type].change
        +e.col._one= item[type].final
      else
        +e(class= 'col_'+cells)= item.total


  +b.table&attributes(attributes)
    +e.P.periodtext
      span Плановый период

    +e.row._caption
      +e.col._four Виды доходов

      if (data[0].year)
        each item in data
          +e.col._four= item.year
            if item.leftperiod
              +e.SPAN.period-left
            if item.rightperiod
              +e.SPAN.period-right
      else
        +e.col._four МЛРД РУБ.
        +e.col._four %

    if (typeof data[0].total === "object")
      +e.row._subcaption
        +e.col._four empty

        +e.col._one Закон перво- начальный
        +e.col._one Изменение
        +e.col._one Закон с учетом Изменений

        +e.col._one Закон перво- начальный
        +e.col._one Изменение
        +e.col._one Закон с учетом Изменений

        +e.col._one Закон перво- начальный
        +e.col._one Изменение
        +e.col._one Закон с учетом Изменений

    +e.row
      +e.col._four Трансферты из федерального бюджета, всего

      +dataType(data, 'total')

    +e.row._opened._hassub
      +e.col._four
        +e.SPAN.arrow
          +icon('angle-arrow')
        | Национальная экономика

      +dataType(data, 'tax')

    +e.row._subrow_tax
      +e.col._four._subcol Дорожное хозяйство

      +dataType(data, 'org')

    +e.row._subrow_tax
      +e.col._four._subcol Другое

      +dataType(data, 'ndfl')

    +e.row
      +e.col._four ...

      +dataType(data, 'other')

    +e.row._hassub
      +e.col._four
        +e.SPAN.arrow
          +icon('angle-arrow')
        | Образование
      +dataType(data, 'nonTax')
