include ../../blocks/icon/icons
include ../../blocks/button/button

mixin contest-popup(isJuridical)

	if isJuridical
		- var fieldIdN = 'nj';
		- var fieldIdF = 'fj';
		- var fieldIdT = 'tj';
		- var fieldIdP = 'pj';
	else
		- var fieldIdN = 'ni';
		- var fieldIdF = 'fi';
		- var fieldIdT = 'ti';
		- var fieldIdP = 'pi';


	mixin participant(number)
		+e.DIV(data-type='text').participant.js-opencon-question
			+e.P.hide
				+icon('close').hide-icon
				| скрыть
			
			if !isJuridical
				+e.P.participant-number 
					| Участник №
					+e.SPAN.js-participant-number 
					i (необходимо заполнить все поля)

			if isJuridical
				+participant-field('text', 'Наименование организации', 'name')
				+participant-field('text', 'Наименование деятельности', 'kind')
				+participant-field('text', 'Адрес местонахождения', 'address')
				+participant-field('text', 'Контактное лицо', 'fio')
				+participant-field('tel', 'Контактный телефон', 'phone')
				+participant-field('text', 'Адрес электронной почты', 'email')
			else
				+participant-field('text', 'ФИО', 'fio')
				+participant-field('text', 'Дата рождения', 'birth')
				+participant-field('text', 'Должность', 'position')
				+participant-field('tel', 'Контактный телефон', 'phone')
				+participant-field('text', 'Электронная почта', 'email')
				+participant-field('text', 'Адрес', 'address')

	mixin participant-field(type, label, name)
		+e.participant-field.js-opencon-field
			+e.LABEL(for='').label= label
			+e.INPUT(type=''+type+'' name=fieldIdP+'-'+name id=fieldIdP+'-'+name).fio

	mixin option(type, label, name, isOther)
		+e.option-field.js-opencon-field
			+e.LABEL(for=type+'-'+name).option-label= label
				+e.INPUT(type='checkbox' name=type+'-'+name id=type+'-'+name)
				+e.chbox

			if (isOther)
				+e.INPUT(type='text' name=type+'-'+'other')

	+b.contest-popup&attributes(attributes)
		+e.head
			+e.H3.title Заявка
			+icon('close').close

		+e.FORM(method='POST' action='#').application

			+e.participants
				+participant()
				
				if !isJuridical
					+button()._kind_yellow.js-button-addparticipant Добавить участника

			+e.options
				+e.DIV(data-type='checkbox').option.js-opencon-question
					
					+e.option-title Номинация конкурса:

					+option(fieldIdN, '«Бюджет города Москвы: сколько я плачу и что получаю?»', 'f1')
					+option(fieldIdN, '«Интерактивный бюджет города Москвы для граждан»', 'f2')
					+option(fieldIdN, '«Разработка рейтинга понятности бюджета города Москвы для граждан»', 'f3')
					+option(fieldIdN, '«Популярный словарь бюджетных терминов»', 'f4')
					+option(fieldIdN, '«Проекты инициативного бюджетирования в городе Москве»', 'f5')
					+option(fieldIdN, '«Бюджет города Москвы: просто о сложном»', 'f6')
				
				+e.DIV(data-type='checkbox').option.js-opencon-question
					+e.option-title Приложением к заявке является проект, представленный в формате:

					+option(fieldIdF, 'Презентация', 'f1')
					+option(fieldIdF, 'Видео', 'f2')
					+option(fieldIdF, 'Интернет-брошюра', 'f3')
					+option(fieldIdF, 'Мультипликационный ролик', 'f4')
					+option(fieldIdF, 'Фото-коллаж', 'f5')
					+option(fieldIdF, 'Иное (указать)', 'f6', true)
						
				//- +e.DIV(data-type='checkbox').option.js-opencon-question
				//- 	+e.option-title Приложением представлено на:

				//- 	+option(fieldIdT, 'Бумажном носителе информации на __ листах', 'f1')
				//- 	+option(fieldIdT, 'Электронном носителе информации', 'f2')
				//- 	+option(fieldIdT, 'Иное (указать)', 'f3', true)

				+e.extra.contest-popup__err(data-file='0' data-size='0')
					+button()(type='button')._kind_yellow.js-button-attachment Прикрепить файл
					+e.I.note Перед отправлением заявки необходимо прикрепить как минимум один файл
					+e.attachment-buttons
						+e.P.attachment-text Как Вы хотите прикрепить файл?
						+e.attachment-buttonblock
							+button()(type='button')._kind_yellow.js-button-attfile Загрузить
							+e.SPAN.attachment-note Общий объем загруженных файлов не должен превышать 20 Мб
						+e.attachment-buttonblock
							+button()(type='button')._kind_yellow.js-button-attlink Указать ссылку
					+e.UL.attachments
						+e.LI.attachment._doc.hidden
							+icon('close').delete-icon
							+e.SPAN.document Document
						+e.LI.attachment._field.hidden
							+e.INPUT(type='text' name='filelink').attachment-input
					+e.SPAN.attachment-note._err Общий вес указанных файлов превышает 20 Мб

				+button(true)._kind_yellow.__submit.disabled Отправить
				
		+e.footer
			+e.P.footer-text По всем возникающим вопросам Вы можете обращаться<br> по телефону +7&nbsp;(495)&nbsp;620-20-00 (доб.64327) или<br> по электронной почте
				a(href="mailto:YUAPetrushova@fin.dep.mos.ru") YUAPetrushova@fin.dep.mos.ru 
				| (Петрушова Юлия).
