include ../page-header/page-header
include ../../blocks/icon/icons
include ../../blocks/link/link


mixin list-item(iconNum, text, category, submenu)
  +e.item(data-category=category)&attributes(attributes)
    +e.A(href='#').item-link
      +e.item-icon
        +icon('support-icon-'+ iconNum)
      +e.SPAN.item-text= text
    if submenu
      +e.UL.sublist
        block

mixin list-subitem(text, subcategory)
  +e.LI.subitem(data-subcategory=subcategory)&attributes(attributes)
    +e.A(href='#').subitem-link= text

mixin submenu-item(text, category, type, subcategory)
  +e.LI.submenu-item(data-category=category, data-type=type, data-subcategory=subcategory)&attributes(attributes)
    +e.A(href='#').submenu-link= text



mixin nav-list()
  +e.UL.list.load-anim-fade(data-delay="1300").depfin-services-social-support__list_simple-container.active
    +list-item(1, 'Дети и их родители', 'cat1')
    +list-item(2, 'Семьи', 'cat2', true)
      +list-subitem('Молодые семьи', 'subcat1')
      +list-subitem('Многодетные семьи', 'subcat2')
      +list-subitem('Малоимущие семьи', 'subcat3')
    +list-item(3, 'Пенсионеры', 'cat3')
    +list-item(4, 'военнослужащие и их семьи', 'cat4')
    +list-item(5, 'Ветераны и инвалиды боевых действий', 'cat5')
    +list-item(6, 'реабилитированные лица', 'cat6')
    +list-item(7, 'инвалиды', 'cat7')
    +list-item(8, 'дети-сироты и их опекуны (усыновители)', 'cat8')
    +list-item(9, 'другие меры соцподдержки', 'cat9')
    +list-item(10, 'Граждане, имеющие особые награды', 'cat10')
    +list-item(11, 'Граждане, имеющие право на льготы', 'cat11')
    +list-item(12, 'Почётные доноры', 'cat12')



mixin submenu-items()
  +e.UL.submenu
    +submenu-item('Пособие по беременности и родам', 'cat1', 'type1')
    +submenu-item('Ежемесячные компенсационные выплаты лицам, находящимся в отпуске по уходу за ребенком до достижения им возраста 3 лет', 'cat1', 'type2')
    +submenu-item('Адресная социальная помощь', 'cat1', 'type3')
    +submenu-item('Единовременное пособие при рождении ребенка', 'cat1', 'type4')
    +submenu-item('Ежемесячное пособие по уходу за ребенком (до достижения им возраста полутора лет)', 'cat1', 'type5')
    +submenu-item('Помощь с организацией детского отдыха', 'cat1', 'type6')
    +submenu-item('Единовременная компенсационная выплата на возмещение расходов в связи с рождением ребенка', 'cat1', 'type7')
    +submenu-item('Ежемесячная компенсационная выплата на возмещение роста стоимости продуктов питания отдельным категориям граждан на детей в возрасте до трех лет', 'cat1', 'type8')
    +submenu-item('Материнский капитал', 'cat1', 'type9')
    +submenu-item('Единовременное пособие женщинам, вставшим на учет в медицинском учреждении в ранние сроки беременности', 'cat1', 'type10')
    +submenu-item('Льготы на проезд в общественном транспорте', 'cat1', 'type11')
    +submenu-item('Ежемесячная компенсационная выплата на возмещение расходов в связи с ростом стоимости жизни отдельным категориям семей с детьми', 'cat1', 'type12')
    +submenu-item('Льготы при посещении государственных дошкольных образовательных учреждений', 'cat1', 'type13')
    +submenu-item('2-1 Пособие по беременности и родам', 'cat2', 'type1', 'subcat1')
    +submenu-item('2-1 Ежемесячные компенсационные выплаты лицам, находящимся в отпуске по уходу за ребенком до достижения им возраста 3 лет', 'cat2', 'type2', 'subcat1')
    +submenu-item('2-1 Адресная социальная помощь', 'cat2', 'type3', 'subcat1')
    +submenu-item('2-1 Единовременное пособие при рождении ребенка', 'cat2', 'type4', 'subcat1')
    +submenu-item('2-1 Ежемесячное пособие по уходу за ребенком (до достижения им возраста полутора лет)', 'cat2', 'type5', 'subcat1')
    +submenu-item('2-2 Помощь с организацией детского отдыха', 'cat2', 'type6', 'subcat2')
    +submenu-item('2-2 Единовременная компенсационная выплата на возмещение расходов в связи с рождением ребенка', 'cat2', 'type7', 'subcat2')
    +submenu-item('2-2 Ежемесячная компенсационная выплата на возмещение роста стоимости продуктов питания отдельным категориям граждан на детей в возрасте до трех лет', 'cat2', 'type8', 'subcat2')
    +submenu-item('2-2 Материнский капитал', 'cat2', 'type9', 'subcat2')
    +submenu-item('2-2 Единовременное пособие женщинам, вставшим на учет в медицинском учреждении в ранние сроки беременности', 'cat2', 'type10', 'subcat2')
    +submenu-item('2-3 Льготы на проезд в общественном транспорте', 'cat2', 'type11', 'subcat3')
    +submenu-item('2-3 Ежемесячная компенсационная выплата на возмещение расходов в связи с ростом стоимости жизни отдельным категориям семей с детьми', 'cat2', 'type12', 'subcat3')
    +submenu-item('2-3 Льготы при посещении государственных дошкольных образовательных учреждений', 'cat2', 'type13', 'subcat3')
    +submenu-item('3 Пособие по беременности и родам', 'cat3', 'type1')
    +submenu-item('3 Ежемесячные компенсационные выплаты лицам, находящимся в отпуске по уходу за ребенком до достижения им возраста 3 лет', 'cat3', 'type2')
    +submenu-item('3 Адресная социальная помощь', 'cat3', 'type3')
    +submenu-item('4 Пособие по беременности и родам', 'cat4', 'type1')
    +submenu-item('4 Ежемесячные компенсационные выплаты лицам, находящимся в отпуске по уходу за ребенком до достижения им возраста 3 лет', 'cat4', 'type2')
    +submenu-item('4 Адресная социальная помощь', 'cat4', 'type3')
    +submenu-item('4 Единовременное пособие при рождении ребенка', 'cat4', 'type4')
    +submenu-item('4 Ежемесячное пособие по уходу за ребенком (до достижения им возраста полутора лет)', 'cat4', 'type5')
    +submenu-item('4 Помощь с организацией детского отдыха', 'cat4', 'type6')
    +submenu-item('5 Пособие по беременности и родам', 'cat5', 'type1')
    +submenu-item('5 Ежемесячные компенсационные выплаты лицам, находящимся в отпуске по уходу за ребенком до достижения им возраста 3 лет', 'cat5', 'type2')
    +submenu-item('5 Адресная социальная помощь', 'cat5', 'type3')
    +submenu-item('5 Единовременное пособие при рождении ребенка', 'cat5', 'type4')
    +submenu-item('6 Пособие по беременности и родам', 'cat6', 'type1')
    +submenu-item('6 Ежемесячные компенсационные выплаты лицам, находящимся в отпуске по уходу за ребенком до достижения им возраста 3 лет', 'cat6', 'type2')
    +submenu-item('7 Материнский капитал', 'cat7', 'type1')
    +submenu-item('7 Единовременное пособие женщинам, вставшим на учет в медицинском учреждении в ранние сроки беременности', 'cat7', 'type2')
    +submenu-item('7 Льготы на проезд в общественном транспорте', 'cat7', 'type3')
    +submenu-item('8 Материнский капитал', 'cat8', 'type1')
    +submenu-item('8 Единовременное пособие женщинам, вставшим на учет в медицинском учреждении в ранние сроки беременности', 'cat8', 'type2')
    +submenu-item('8 Льготы на проезд в общественном транспорте', 'cat8', 'type3')
    +submenu-item('9 Пособие по беременности и родам', 'cat9', 'type1')
    +submenu-item('9 Ежемесячные компенсационные выплаты лицам, находящимся в отпуске по уходу за ребенком до достижения им возраста 3 лет', 'cat9', 'type2')
    +submenu-item('9 Адресная социальная помощь', 'cat9', 'type3')
    +submenu-item('9 Единовременное пособие при рождении ребенка', 'cat9', 'type4')
    +submenu-item('9 Ежемесячное пособие по уходу за ребенком (до достижения им возраста полутора лет)', 'cat9', 'type5')
    +submenu-item('9 Помощь с организацией детского отдыха', 'cat9', 'type6')
    +submenu-item('9 Единовременная компенсационная выплата на возмещение расходов в связи с рождением ребенка', 'cat9', 'type7')
    +submenu-item('9 Ежемесячная компенсационная выплата на возмещение роста стоимости продуктов питания отдельным категориям граждан на детей в возрасте до трех лет', 'cat9', 'type8')
    +submenu-item('10 Льготы при посещении государственных дошкольных образовательных учреждений', 'cat10', 'type1')
    +submenu-item('10 Пособие по беременности и родам', 'cat10', 'type2')
    +submenu-item('10 Ежемесячные компенсационные выплаты лицам, находящимся в отпуске по уходу за ребенком до достижения им возраста 3 лет', 'cat10', 'type3')
    +submenu-item('10 Адресная социальная помощь', 'cat10', 'type4')
    +submenu-item('11 Пособие по беременности и родам', 'cat11', 'type1')
    +submenu-item('11 Единовременное пособие при рождении ребенка', 'cat11', 'type2')
    +submenu-item('12 Пособие по беременности и родам', 'cat12', 'type1')
    +submenu-item('12 Единовременное пособие при рождении ребенка', 'cat12', 'type2')
    



mixin depfin-services-nav-slider()
  +e.cards-slider-container(data-delay="500")
    +e.cards-slider&attributes(attributes).nav-cards-slider.js-drag-scroll-element
      +list-item(1, 'Дети и их родители', 'cat1')
      +list-item(2, 'Семьи', 'cat2', true)
        +list-subitem('Молодые семьи', 'subcat1')
        +list-subitem('Многодетные семьи', 'subcat2')
        +list-subitem('Малоимущие семьи', 'subcat3')
      +list-item(3, 'Пенсионеры', 'cat3')
      +list-item(4, 'военнослужащие и их семьи', 'cat4')
      +list-item(5, 'Ветераны и инвалиды боевых действий', 'cat5')
      +list-item(6, 'реабилитированные лица', 'cat6')
      +list-item(7, 'инвалиды', 'cat7')
      +list-item(8, 'дети-сироты и их опекуны (усыновители)', 'cat8')
      +list-item(9, 'другие меры соцподдержки', 'cat9')
      +list-item(10, 'Граждане, имеющие особые награды', 'cat10')
      +list-item(11, 'Граждане, имеющие право на льготы', 'cat11')
      +list-item(12, 'Почётные доноры', 'cat12')











mixin depfin-services-social-support()
  +b.depfin-services-social-support&attributes(attributes)
    .wrap
      +e.head
        +page-header('Социальная поддержка населения', ['Сервисы'], true)

      +e.main
        block

mixin depfin-services-social-support-cards-innerpage()
  +depfin-services-social-support()
    +depfin-services-nav-slider()
    +e.SECTION.tab.load-anim-fade(data-delay="1600")
      +e.H3.title(data-category="cat1").active Различные пособия детям; Услуги, предоставляемые детям
      +e.H3.title(data-category="cat2") Различные пособия семьям; Услуги, предоставляемые семьям
      +e.H3.title(data-category="cat3") Различные пособия пенсионерам; Услуги, предоставляемые пенсионерам
      +e.H3.title(data-category="cat4") Различные пособия военнослужащим; Услуги, предоставляемые военнослужащим
      +e.H3.title(data-category="cat5") Различные пособия ветеранам; Услуги, предоставляемые ветеранам
      +e.H3.title(data-category="cat6") Различные пособия реабилитированным; Услуги, предоставляемые реабилитированным
      +e.H3.title(data-category="cat7") Различные пособия инвалидам; Услуги, предоставляемые инвалидам
      +e.H3.title(data-category="cat8") Различные пособия сиротам; Услуги, предоставляемые сиротам
      +e.H3.title(data-category="cat9") Различные пособия; Услуги
      +e.H3.title(data-category="cat10") Различные пособия гражданам; Услуги, предоставляемые гражданам
      +e.H3.title(data-category="cat11") Различные пособия льготникам; Услуги, предоставляемые льготникам
      +e.H3.title(data-category="cat12") Различные пособия донорам; Услуги, предоставляемые донорам
      block

mixin article-burger-item(link, category, type, subcategory)
  +e.LI.burger-item(data-category=category, data-type=type, data-subcategory=subcategory)&attributes(attributes)
    +e.A(href=link).burger-link
      block

mixin article-burger-menu()
  +e.burger-menu&attributes(attributes)
    +e.UL.burger-list
      block

mixin article-content(title, category, type, subcategory) 
  +e.content(data-category=category, data-type=type, data-subcategory=subcategory)&attributes(attributes)
    +e.H4.content-title= title
    +e.info
      block

mixin article-left()
  +e.left&attributes(attributes)
    block

mixin article-right()  
  +e.right&attributes(attributes)
    block

mixin article-accordeon()  
  +e.UL.types&attributes(attributes)
    block
      
mixin article-accordeon-block(linktext, maintext, bluetext)  
  +e.LI.type&attributes(attributes)
    +e.type-label
      +b.link._dashed= linktext
      +icon('close').type-label-close
    +e.type-description
      +e.type-text !{maintext}
      +e.A(href='#').type-link !{bluetext}
      block
        
mixin depfin-services-social-support-articlestructure()        
  +e.ARTICLE.article(data-delay="500")&attributes(attributes)
    +e.burger
      +e.burger-button
        span
    block
        
        
        
        










mixin depfin-services-social-support-main()
  +depfin-services-social-support()._main
    //- 01, 02
    +nav-list()
    +depfin-services-nav-slider()
    +e.SECTION.tab(data-delay="800")
      +e.H3.title(data-category="cat1") Различные пособия детям; Услуги, предоставляемые детям
      +e.H3.title(data-category="cat2") Различные пособия семьям; Услуги, предоставляемые семьям
      +e.H3.title(data-category="cat2", data-subcategory="subcat1") Различные пособия молодым семьям; Услуги, предоставляемые молодым семьям
      +e.H3.title(data-category="cat2", data-subcategory="subcat2") Различные пособия многодетным семьям; Услуги, предоставляемые многодетным семьям
      +e.H3.title(data-category="cat2", data-subcategory="subcat3") Различные пособия малоимущим семьям; Услуги, предоставляемые малоимущим семьям
      +e.H3.title(data-category="cat3") Различные пособия пенсионерам; Услуги, предоставляемые пенсионерам
      +e.H3.title(data-category="cat4") Различные пособия военнослужащим; Услуги, предоставляемые военнослужащим
      +e.H3.title(data-category="cat5") Различные пособия ветеранам; Услуги, предоставляемые ветеранам
      +e.H3.title(data-category="cat6") Различные пособия реабилитированным; Услуги, предоставляемые реабилитированным
      +e.H3.title(data-category="cat7") Различные пособия инвалидам; Услуги, предоставляемые инвалидам
      +e.H3.title(data-category="cat8") Различные пособия сиротам; Услуги, предоставляемые сиротам
      +e.H3.title(data-category="cat9") Различные пособия; Услуги
      +e.H3.title(data-category="cat10") Различные пособия гражданам; Услуги, предоставляемые гражданам
      +e.H3.title(data-category="cat11") Различные пособия льготникам; Услуги, предоставляемые льготникам
      +e.H3.title(data-category="cat12") Различные пособия донорам; Услуги, предоставляемые донорам
    +e.submenu-wrapper(data-delay="1100")
      +submenu-items()
    +depfin-services-social-support-articlestructure()
      +article-burger-menu()
        // cat1
        +article-burger-item('#', 'cat1', 'type1') Пособие по беременности и родам
        +article-burger-item('#', 'cat1', 'type2') Ежемесячные компенсационные выплаты лицам, находящимся в отпуске по уходу за ребенком до достижения им возраста 3 лет
        +article-burger-item('#', 'cat1', 'type3') Адресная социальная помощь
        +article-burger-item('#', 'cat1', 'type4') Единовременное пособие при рождении ребенка
        +article-burger-item('#', 'cat1', 'type5') Ежемесячное пособие по уходу за ребенком (до достижения им возраста полутора лет)
        +article-burger-item('#', 'cat1', 'type6') Помощь с организацией детского отдыха
        +article-burger-item('#', 'cat1', 'type7') Единовременная компенсационная выплата на возмещение расходов в связи с рождением ребенка
        +article-burger-item('#', 'cat1', 'type8') Ежемесячная компенсационная выплата на возмещение роста стоимости продуктов питания отдельным категориям граждан на детей в возрасте до трех лет
        +article-burger-item('#', 'cat1', 'type9') Материнский капитал
        +article-burger-item('#', 'cat1', 'type10') Единовременное пособие женщинам, вставшим на учет в медицинском учреждении в ранние сроки беременности
        +article-burger-item('#', 'cat1', 'type11') Льготы на проезд в общественном транспорте
        +article-burger-item('#', 'cat1', 'type12') Ежемесячная компенсационная выплата на возмещение расходов в связи с ростом стоимости жизни отдельным категориям семей с детьми
        +article-burger-item('#', 'cat1', 'type13') Льготы при посещении государственных дошкольных образовательных учреждений
        // cat2
        +article-burger-item('#', 'cat2', 'type1', 'subcat1') 2-1 Пособие по беременности и родам
        +article-burger-item('#', 'cat2', 'type2', 'subcat1') 2-1 Ежемесячные компенсационные выплаты лицам, находящимся в отпуске по уходу за ребенком до достижения им возраста 3 лет
        +article-burger-item('#', 'cat2', 'type3', 'subcat1') 2-1 Адресная социальная помощь
        +article-burger-item('#', 'cat2', 'type4', 'subcat1') 2-1 Единовременное пособие при рождении ребенка
        +article-burger-item('#', 'cat2', 'type5', 'subcat1') 2-1 Ежемесячное пособие по уходу за ребенком (до достижения им возраста полутора лет)
        +article-burger-item('#', 'cat2', 'type6', 'subcat2') 2-2 Помощь с организацией детского отдыха
        +article-burger-item('#', 'cat2', 'type7', 'subcat2') 2-2 Единовременная компенсационная выплата на возмещение расходов в связи с рождением ребенка
        +article-burger-item('#', 'cat2', 'type8', 'subcat2') 2-2 Ежемесячная компенсационная выплата на возмещение роста стоимости продуктов питания отдельным категориям граждан на детей в возрасте до трех лет
        +article-burger-item('#', 'cat2', 'type9', 'subcat2') 2-2 Материнский капитал
        +article-burger-item('#', 'cat2', 'type10', 'subcat2') 2-2 Единовременное пособие женщинам, вставшим на учет в медицинском учреждении в ранние сроки беременности
        +article-burger-item('#', 'cat2', 'type11', 'subcat3') 2-3 Льготы на проезд в общественном транспорте
        +article-burger-item('#', 'cat2', 'type12', 'subcat3') 2-3 Ежемесячная компенсационная выплата на возмещение расходов в связи с ростом стоимости жизни отдельным категориям семей с детьми
        +article-burger-item('#', 'cat2', 'type13', 'subcat3') 2-3 Льготы при посещении государственных дошкольных образовательных учреждений
        // cat3
        +article-burger-item('#', 'cat3', 'type1') 3 Пособие по беременности и родам
        +article-burger-item('#', 'cat3', 'type2') 3 Ежемесячные компенсационные выплаты лицам, находящимся в отпуске по уходу за ребенком до достижения им возраста 3 лет
        +article-burger-item('#', 'cat3', 'type3') 3 Адресная социальная помощь
        // cat4
        +article-burger-item('#', 'cat4', 'type1') 4 Пособие по беременности и родам
        +article-burger-item('#', 'cat4', 'type2') 4 Ежемесячные компенсационные выплаты лицам, находящимся в отпуске по уходу за ребенком до достижения им возраста 3 лет
        +article-burger-item('#', 'cat4', 'type3') 4 Адресная социальная помощь
        +article-burger-item('#', 'cat4', 'type4') 4 Единовременное пособие при рождении ребенка
        +article-burger-item('#', 'cat4', 'type5') 4 Ежемесячное пособие по уходу за ребенком (до достижения им возраста полутора лет)
        +article-burger-item('#', 'cat4', 'type6') 4 Помощь с организацией детского отдыха
        // cat5
        +article-burger-item('#', 'cat5', 'type1') 5 Пособие по беременности и родам
        +article-burger-item('#', 'cat5', 'type2') 5 Ежемесячные компенсационные выплаты лицам, находящимся в отпуске по уходу за ребенком до достижения им возраста 3 лет
        +article-burger-item('#', 'cat5', 'type3') 5 Адресная социальная помощь
        +article-burger-item('#', 'cat5', 'type4') 5 Единовременное пособие при рождении ребенка
        // cat6
        +article-burger-item('#', 'cat6', 'type1') 6 Пособие по беременности и родам
        +article-burger-item('#', 'cat6', 'type2') 6 Ежемесячные компенсационные выплаты лицам, находящимся в отпуске по уходу за ребенком до достижения им возраста 3 лет
        // cat7
        +article-burger-item('#', 'cat7', 'type1') 7 Материнский капитал
        +article-burger-item('#', 'cat7', 'type2') 7 Единовременное пособие женщинам, вставшим на учет в медицинском учреждении в ранние сроки беременности
        +article-burger-item('#', 'cat7', 'type3') 7 Льготы на проезд в общественном транспорте
        // cat8
        +article-burger-item('#', 'cat8', 'type1') 8 Материнский капитал
        +article-burger-item('#', 'cat8', 'type2') 8 Единовременное пособие женщинам, вставшим на учет в медицинском учреждении в ранние сроки беременности
        +article-burger-item('#', 'cat8', 'type3') 8 Льготы на проезд в общественном транспорте
        // cat9
        +article-burger-item('#', 'cat9', 'type1') 9 Пособие по беременности и родам
        +article-burger-item('#', 'cat9', 'type2') 9 Ежемесячные компенсационные выплаты лицам, находящимся в отпуске по уходу за ребенком до достижения им возраста 3 лет
        +article-burger-item('#', 'cat9', 'type3') 9 Адресная социальная помощь
        +article-burger-item('#', 'cat9', 'type4') 9 Единовременное пособие при рождении ребенка
        +article-burger-item('#', 'cat9', 'type5') 9 Ежемесячное пособие по уходу за ребенком (до достижения им возраста полутора лет)
        +article-burger-item('#', 'cat9', 'type6') 9 Помощь с организацией детского отдыха
        +article-burger-item('#', 'cat9', 'type7') 9 Единовременная компенсационная выплата на возмещение расходов в связи с рождением ребенка
        +article-burger-item('#', 'cat9', 'type8') 9 Ежемесячная компенсационная выплата на возмещение роста стоимости продуктов питания отдельным категориям граждан на детей в возрасте до трех лет
        // cat10
        +article-burger-item('#', 'cat10', 'type1') 10 Льготы при посещении государственных дошкольных образовательных учреждений
        +article-burger-item('#', 'cat10', 'type2') 10 Пособие по беременности и родам
        +article-burger-item('#', 'cat10', 'type3') 10 Ежемесячные компенсационные выплаты лицам, находящимся в отпуске по уходу за ребенком до достижения им возраста 3 лет
        +article-burger-item('#', 'cat10', 'type4') 10 Адресная социальная помощь
        // cat11
        +article-burger-item('#', 'cat11', 'type1') 11 Пособие по беременности и родам
        +article-burger-item('#', 'cat11', 'type2') 11 Единовременное пособие при рождении ребенка
        // cat12
        +article-burger-item('#', 'cat12', 'type1') 12 Пособие по беременности и родам
        +article-burger-item('#', 'cat12', 'type2') 12 Единовременное пособие при рождении ребенка
      
      // cat1
      +article-content('Пособие по беременности и родам', 'cat1', 'type1')
        +article-left()
          +e.definition
            p <b>Пособие по беременности</b> — это денежная выплата, положенная беременной женщине
        +article-right()  
          +article-accordeon()
            +article-accordeon-block('В размере среднего заработка', 'в размере среднего заработка, на который начисляются страховые взносы на обязательное социальное страхование на случай временной нетрудоспособности и в связи с материнством, и с учетом иных условий, установленных законодательством РФ', 'Федеральный закон от 19.05.1995 № 81-ФЗ «О государственных пособиях гражданам, имеющим детей»')._active
            +article-accordeon-block('300 рублей', 'в размере среднего заработка, на который начисляются страховые взносы на обязательное социальное страхование на случай временной нетрудоспособности и в связи с материнством, и с учетом иных условий, установленных законодательством РФ', 'Федеральный закон от 19.05.1995 № 81-ФЗ «О государственных пособиях гражданам, имеющим детей»')
            +article-accordeon-block('в размере стипендии', 'в размере среднего заработка, на который начисляются страховые взносы на обязательное социальное страхование на случай временной нетрудоспособности и в связи с материнством, и с учетом иных условий, установленных законодательством РФ', 'Федеральный закон от 19.05.1995 № 81-ФЗ «О государственных пособиях гражданам, имеющим детей»')
            +article-accordeon-block('в размере денежного довольствия', 'в размере среднего заработка, на который начисляются страховые взносы на обязательное социальное страхование на случай временной нетрудоспособности и в связи с материнством, и с учетом иных условий, установленных законодательством РФ', 'Федеральный закон от 19.05.1995 № 81-ФЗ «О государственных пособиях гражданам, имеющим детей»')
            +article-accordeon-block('1500 рублей', 'в размере среднего заработка, на который начисляются страховые взносы на обязательное социальное страхование на случай временной нетрудоспособности и в связи с материнством, и с учетом иных условий, установленных законодательством РФ', 'Федеральный закон от 19.05.1995 № 81-ФЗ «О государственных пособиях гражданам, имеющим детей»')
      +article-content('Ежемесячные компенсационные выплаты лицам, находящимся в отпуске по уходу за ребенком до достижения им возраста 3 лет', 'cat1', 'type2')
        +article-left()
          +e.definition
            p <b>Единовременное пособие при рождении ребенка</b> — это разовая денежная выплата, положенная женщине, родившей ребенка
        +article-right()  
          +article-accordeon()
            +article-accordeon-block('8000 рублей', 'при рождении ребенка', 'Федеральный закон от 19.05.1995 № 81-ФЗ «О государственных пособиях гражданам, имеющим детей»')._only
      +article-content('Адресная социальная помощь', 'cat1', 'type3')
        +article-left()
          +e.definition
            p <b>Единовременное пособие при рождении ребенка</b> — это разовая денежная выплата, положенная женщине, родившей ребенка
        +article-right()  
          +article-accordeon()
            +article-accordeon-block('8000 рублей', 'при рождении ребенка', 'Федеральный закон от 19.05.1995 № 81-ФЗ «О государственных пособиях гражданам, имеющим детей»')._only
      +article-content('Единовременное пособие при рождении ребенка', 'cat1', 'type4')
        +article-left()
          +e.definition
            p <b>Единовременное пособие при рождении ребенка</b> — это разовая денежная выплата, положенная женщине, родившей ребенка
        +article-right()  
          +article-accordeon()
            +article-accordeon-block('8000 рублей', 'при рождении ребенка', 'Федеральный закон от 19.05.1995 № 81-ФЗ «О государственных пособиях гражданам, имеющим детей»')._only
      +article-content('Ежемесячное пособие по уходу за ребенком (до достижения им возраста полутора лет)', 'cat1', 'type5')
        +article-left()
          +e.definition
            p <b>Единовременное пособие при рождении ребенка</b> — это разовая денежная выплата, положенная женщине, родившей ребенка
        +article-right()  
          +article-accordeon()
            +article-accordeon-block('8000 рублей', 'при рождении ребенка', 'Федеральный закон от 19.05.1995 № 81-ФЗ «О государственных пособиях гражданам, имеющим детей»')._only
      +article-content('Помощь с организацией детского отдыха', 'cat1', 'type6')
        +article-left()
          +e.definition
            p <b>Единовременное пособие при рождении ребенка</b> — это разовая денежная выплата, положенная женщине, родившей ребенка
        +article-right()  
          +article-accordeon()
            +article-accordeon-block('8000 рублей', 'при рождении ребенка', 'Федеральный закон от 19.05.1995 № 81-ФЗ «О государственных пособиях гражданам, имеющим детей»')._only
      +article-content('Единовременная компенсационная выплата на возмещение расходов в связи с рождением ребенка', 'cat1', 'type7')
        +article-left()
          +e.definition
            p <b>Единовременное пособие при рождении ребенка</b> — это разовая денежная выплата, положенная женщине, родившей ребенка
        +article-right()  
          +article-accordeon()
            +article-accordeon-block('8000 рублей', 'при рождении ребенка', 'Федеральный закон от 19.05.1995 № 81-ФЗ «О государственных пособиях гражданам, имеющим детей»')._only
      +article-content('Ежемесячная компенсационная выплата на возмещение роста стоимости продуктов питания отдельным категориям граждан на детей в возрасте до трех лет', 'cat1', 'type8')
        +article-left()
          +e.definition
            p <b>Единовременное пособие при рождении ребенка</b> — это разовая денежная выплата, положенная женщине, родившей ребенка
        +article-right()  
          +article-accordeon()
            +article-accordeon-block('8000 рублей', 'при рождении ребенка', 'Федеральный закон от 19.05.1995 № 81-ФЗ «О государственных пособиях гражданам, имеющим детей»')._only
      +article-content('Материнский капитал', 'cat1', 'type9')
        +article-left()
          +e.definition
            p <b>Единовременное пособие при рождении ребенка</b> — это разовая денежная выплата, положенная женщине, родившей ребенка
        +article-right()  
          +article-accordeon()
            +article-accordeon-block('8000 рублей', 'при рождении ребенка', 'Федеральный закон от 19.05.1995 № 81-ФЗ «О государственных пособиях гражданам, имеющим детей»')._only
      +article-content('Единовременное пособие женщинам, вставшим на учет в медицинском учреждении в ранние сроки беременности', 'cat1', 'type10')
        +article-left()
          +e.definition
            p <b>Единовременное пособие при рождении ребенка</b> — это разовая денежная выплата, положенная женщине, родившей ребенка
        +article-right()  
          +article-accordeon()
            +article-accordeon-block('8000 рублей', 'при рождении ребенка', 'Федеральный закон от 19.05.1995 № 81-ФЗ «О государственных пособиях гражданам, имеющим детей»')._only
      +article-content('Льготы на проезд в общественном транспорте', 'cat1', 'type11')
        +article-left()
          +e.definition
            p <b>Единовременное пособие при рождении ребенка</b> — это разовая денежная выплата, положенная женщине, родившей ребенка
        +article-right()  
          +article-accordeon()
            +article-accordeon-block('8000 рублей', 'при рождении ребенка', 'Федеральный закон от 19.05.1995 № 81-ФЗ «О государственных пособиях гражданам, имеющим детей»')._only
      +article-content('Ежемесячная компенсационная выплата на возмещение расходов в связи с ростом стоимости жизни отдельным категориям семей с детьми', 'cat1', 'type12')
        +article-left()
          +e.definition
            p <b>Единовременное пособие при рождении ребенка</b> — это разовая денежная выплата, положенная женщине, родившей ребенка
        +article-right()  
          +article-accordeon()
            +article-accordeon-block('8000 рублей', 'при рождении ребенка', 'Федеральный закон от 19.05.1995 № 81-ФЗ «О государственных пособиях гражданам, имеющим детей»')._only
      +article-content('Льготы при посещении государственных дошкольных образовательных учреждений', 'cat1', 'type13')
        +article-left()
          +e.definition
            p <b>Единовременное пособие при рождении ребенка</b> — это разовая денежная выплата, положенная женщине, родившей ребенка
        +article-right()  
          +article-accordeon()
            +article-accordeon-block('8000 рублей', 'при рождении ребенка', 'Федеральный закон от 19.05.1995 № 81-ФЗ «О государственных пособиях гражданам, имеющим детей»')._only
            
      // cat2
      +article-content('2-1 Пособие по беременности и родам', 'cat2', 'type1', 'subcat1')
        +article-left()
          +e.definition
            p <b>Пособие по беременности</b> — это денежная выплата, положенная беременной женщине
        +article-right()  
          +article-accordeon()
            +article-accordeon-block('В размере среднего заработка', 'в размере среднего заработка, на который начисляются страховые взносы на обязательное социальное страхование на случай временной нетрудоспособности и в связи с материнством, и с учетом иных условий, установленных законодательством РФ', 'Федеральный закон от 19.05.1995 № 81-ФЗ «О государственных пособиях гражданам, имеющим детей»')._active
            +article-accordeon-block('300 рублей', 'в размере среднего заработка, на который начисляются страховые взносы на обязательное социальное страхование на случай временной нетрудоспособности и в связи с материнством, и с учетом иных условий, установленных законодательством РФ', 'Федеральный закон от 19.05.1995 № 81-ФЗ «О государственных пособиях гражданам, имеющим детей»')
            +article-accordeon-block('в размере стипендии', 'в размере среднего заработка, на который начисляются страховые взносы на обязательное социальное страхование на случай временной нетрудоспособности и в связи с материнством, и с учетом иных условий, установленных законодательством РФ', 'Федеральный закон от 19.05.1995 № 81-ФЗ «О государственных пособиях гражданам, имеющим детей»')
            +article-accordeon-block('в размере денежного довольствия', 'в размере среднего заработка, на который начисляются страховые взносы на обязательное социальное страхование на случай временной нетрудоспособности и в связи с материнством, и с учетом иных условий, установленных законодательством РФ', 'Федеральный закон от 19.05.1995 № 81-ФЗ «О государственных пособиях гражданам, имеющим детей»')
            +article-accordeon-block('1500 рублей', 'в размере среднего заработка, на который начисляются страховые взносы на обязательное социальное страхование на случай временной нетрудоспособности и в связи с материнством, и с учетом иных условий, установленных законодательством РФ', 'Федеральный закон от 19.05.1995 № 81-ФЗ «О государственных пособиях гражданам, имеющим детей»')
      +article-content('2-1 Ежемесячные компенсационные выплаты лицам, находящимся в отпуске по уходу за ребенком до достижения им возраста 3 лет', 'cat2', 'type2', 'subcat1')
        +article-left()
          +e.definition
            p <b>Единовременное пособие при рождении ребенка</b> — это разовая денежная выплата, положенная женщине, родившей ребенка
        +article-right()  
          +article-accordeon()
            +article-accordeon-block('8000 рублей', 'при рождении ребенка', 'Федеральный закон от 19.05.1995 № 81-ФЗ «О государственных пособиях гражданам, имеющим детей»')._only
      +article-content('2-1 Адресная социальная помощь', 'cat2', 'type3', 'subcat1')
        +article-left()
          +e.definition
            p <b>Единовременное пособие при рождении ребенка</b> — это разовая денежная выплата, положенная женщине, родившей ребенка
        +article-right()  
          +article-accordeon()
            +article-accordeon-block('8000 рублей', 'при рождении ребенка', 'Федеральный закон от 19.05.1995 № 81-ФЗ «О государственных пособиях гражданам, имеющим детей»')._only
      +article-content('2-1 Единовременное пособие при рождении ребенка', 'cat2', 'type4', 'subcat1')
        +article-left()
          +e.definition
            p <b>Единовременное пособие при рождении ребенка</b> — это разовая денежная выплата, положенная женщине, родившей ребенка
        +article-right()  
          +article-accordeon()
            +article-accordeon-block('8000 рублей', 'при рождении ребенка', 'Федеральный закон от 19.05.1995 № 81-ФЗ «О государственных пособиях гражданам, имеющим детей»')._only
      +article-content('2-1 Ежемесячное пособие по уходу за ребенком (до достижения им возраста полутора лет)', 'cat2', 'type5', 'subcat1')
        +article-left()
          +e.definition
            p <b>Единовременное пособие при рождении ребенка</b> — это разовая денежная выплата, положенная женщине, родившей ребенка
        +article-right()  
          +article-accordeon()
            +article-accordeon-block('8000 рублей', 'при рождении ребенка', 'Федеральный закон от 19.05.1995 № 81-ФЗ «О государственных пособиях гражданам, имеющим детей»')._only
      +article-content('2-2 Помощь с организацией детского отдыха', 'cat2', 'type6', 'subcat2')
        +article-left()
          +e.definition
            p <b>Единовременное пособие при рождении ребенка</b> — это разовая денежная выплата, положенная женщине, родившей ребенка
        +article-right()  
          +article-accordeon()
            +article-accordeon-block('8000 рублей', 'при рождении ребенка', 'Федеральный закон от 19.05.1995 № 81-ФЗ «О государственных пособиях гражданам, имеющим детей»')._only
      +article-content('2-2 Единовременная компенсационная выплата на возмещение расходов в связи с рождением ребенка', 'cat2', 'type7', 'subcat2')
        +article-left()
          +e.definition
            p <b>Единовременное пособие при рождении ребенка</b> — это разовая денежная выплата, положенная женщине, родившей ребенка
        +article-right()  
          +article-accordeon()
            +article-accordeon-block('8000 рублей', 'при рождении ребенка', 'Федеральный закон от 19.05.1995 № 81-ФЗ «О государственных пособиях гражданам, имеющим детей»')._only
      +article-content('2-2 Ежемесячная компенсационная выплата на возмещение роста стоимости продуктов питания отдельным категориям граждан на детей в возрасте до трех лет', 'cat2', 'type8', 'subcat2')
        +article-left()
          +e.definition
            p <b>Единовременное пособие при рождении ребенка</b> — это разовая денежная выплата, положенная женщине, родившей ребенка
        +article-right()  
          +article-accordeon()
            +article-accordeon-block('8000 рублей', 'при рождении ребенка', 'Федеральный закон от 19.05.1995 № 81-ФЗ «О государственных пособиях гражданам, имеющим детей»')._only
      +article-content('2-2 Материнский капитал', 'cat2', 'type9', 'subcat2')
        +article-left()
          +e.definition
            p <b>Единовременное пособие при рождении ребенка</b> — это разовая денежная выплата, положенная женщине, родившей ребенка
        +article-right()  
          +article-accordeon()
            +article-accordeon-block('8000 рублей', 'при рождении ребенка', 'Федеральный закон от 19.05.1995 № 81-ФЗ «О государственных пособиях гражданам, имеющим детей»')._only
      +article-content('2-2 Единовременное пособие женщинам, вставшим на учет в медицинском учреждении в ранние сроки беременности', 'cat2', 'type10', 'subcat2')
        +article-left()
          +e.definition
            p <b>Единовременное пособие при рождении ребенка</b> — это разовая денежная выплата, положенная женщине, родившей ребенка
        +article-right()  
          +article-accordeon()
            +article-accordeon-block('8000 рублей', 'при рождении ребенка', 'Федеральный закон от 19.05.1995 № 81-ФЗ «О государственных пособиях гражданам, имеющим детей»')._only
      +article-content('2-3 Льготы на проезд в общественном транспорте', 'cat2', 'type11', 'subcat3')
        +article-left()
          +e.definition
            p <b>Единовременное пособие при рождении ребенка</b> — это разовая денежная выплата, положенная женщине, родившей ребенка
        +article-right()  
          +article-accordeon()
            +article-accordeon-block('8000 рублей', 'при рождении ребенка', 'Федеральный закон от 19.05.1995 № 81-ФЗ «О государственных пособиях гражданам, имеющим детей»')._only
      +article-content('2-3 Ежемесячная компенсационная выплата на возмещение расходов в связи с ростом стоимости жизни отдельным категориям семей с детьми', 'cat2', 'type12', 'subcat3')
        +article-left()
          +e.definition
            p <b>Единовременное пособие при рождении ребенка</b> — это разовая денежная выплата, положенная женщине, родившей ребенка
        +article-right()  
          +article-accordeon()
            +article-accordeon-block('8000 рублей', 'при рождении ребенка', 'Федеральный закон от 19.05.1995 № 81-ФЗ «О государственных пособиях гражданам, имеющим детей»')._only
      +article-content('2-3 Льготы при посещении государственных дошкольных образовательных учреждений', 'cat2', 'type13', 'subcat3')
        +article-left()
          +e.definition
            p <b>Единовременное пособие при рождении ребенка</b> — это разовая денежная выплата, положенная женщине, родившей ребенка
        +article-right()  
          +article-accordeon()
            +article-accordeon-block('8000 рублей', 'при рождении ребенка', 'Федеральный закон от 19.05.1995 № 81-ФЗ «О государственных пособиях гражданам, имеющим детей»')._only
            
      // cat3
      +article-content('3 Пособие по беременности и родам', 'cat3', 'type1')
        +article-left()
          +e.definition
            p <b>Пособие по беременности</b> — это денежная выплата, положенная беременной женщине
        +article-right()  
          +article-accordeon()
            +article-accordeon-block('В размере среднего заработка', 'в размере среднего заработка, на который начисляются страховые взносы на обязательное социальное страхование на случай временной нетрудоспособности и в связи с материнством, и с учетом иных условий, установленных законодательством РФ', 'Федеральный закон от 19.05.1995 № 81-ФЗ «О государственных пособиях гражданам, имеющим детей»')._active
            +article-accordeon-block('300 рублей', 'в размере среднего заработка, на который начисляются страховые взносы на обязательное социальное страхование на случай временной нетрудоспособности и в связи с материнством, и с учетом иных условий, установленных законодательством РФ', 'Федеральный закон от 19.05.1995 № 81-ФЗ «О государственных пособиях гражданам, имеющим детей»')
            +article-accordeon-block('в размере стипендии', 'в размере среднего заработка, на который начисляются страховые взносы на обязательное социальное страхование на случай временной нетрудоспособности и в связи с материнством, и с учетом иных условий, установленных законодательством РФ', 'Федеральный закон от 19.05.1995 № 81-ФЗ «О государственных пособиях гражданам, имеющим детей»')
            +article-accordeon-block('в размере денежного довольствия', 'в размере среднего заработка, на который начисляются страховые взносы на обязательное социальное страхование на случай временной нетрудоспособности и в связи с материнством, и с учетом иных условий, установленных законодательством РФ', 'Федеральный закон от 19.05.1995 № 81-ФЗ «О государственных пособиях гражданам, имеющим детей»')
            +article-accordeon-block('1500 рублей', 'в размере среднего заработка, на который начисляются страховые взносы на обязательное социальное страхование на случай временной нетрудоспособности и в связи с материнством, и с учетом иных условий, установленных законодательством РФ', 'Федеральный закон от 19.05.1995 № 81-ФЗ «О государственных пособиях гражданам, имеющим детей»')
      +article-content('3 Ежемесячные компенсационные выплаты лицам, находящимся в отпуске по уходу за ребенком до достижения им возраста 3 лет', 'cat3', 'type2')
        +article-left()
          +e.definition
            p <b>Единовременное пособие при рождении ребенка</b> — это разовая денежная выплата, положенная женщине, родившей ребенка
        +article-right()  
          +article-accordeon()
            +article-accordeon-block('8000 рублей', 'при рождении ребенка', 'Федеральный закон от 19.05.1995 № 81-ФЗ «О государственных пособиях гражданам, имеющим детей»')._only
      +article-content('3 Адресная социальная помощь', 'cat3', 'type3')
        +article-left()
          +e.definition
            p <b>Единовременное пособие при рождении ребенка</b> — это разовая денежная выплата, положенная женщине, родившей ребенка
        +article-right()  
          +article-accordeon()
            +article-accordeon-block('8000 рублей', 'при рождении ребенка', 'Федеральный закон от 19.05.1995 № 81-ФЗ «О государственных пособиях гражданам, имеющим детей»')._only
            
      // cat4
      +article-content('4 Пособие по беременности и родам', 'cat4', 'type1')
        +article-left()
          +e.definition
            p <b>Пособие по беременности</b> — это денежная выплата, положенная беременной женщине
        +article-right()  
          +article-accordeon()
            +article-accordeon-block('В размере среднего заработка', 'в размере среднего заработка, на который начисляются страховые взносы на обязательное социальное страхование на случай временной нетрудоспособности и в связи с материнством, и с учетом иных условий, установленных законодательством РФ', 'Федеральный закон от 19.05.1995 № 81-ФЗ «О государственных пособиях гражданам, имеющим детей»')._active
            +article-accordeon-block('300 рублей', 'в размере среднего заработка, на который начисляются страховые взносы на обязательное социальное страхование на случай временной нетрудоспособности и в связи с материнством, и с учетом иных условий, установленных законодательством РФ', 'Федеральный закон от 19.05.1995 № 81-ФЗ «О государственных пособиях гражданам, имеющим детей»')
            +article-accordeon-block('в размере стипендии', 'в размере среднего заработка, на который начисляются страховые взносы на обязательное социальное страхование на случай временной нетрудоспособности и в связи с материнством, и с учетом иных условий, установленных законодательством РФ', 'Федеральный закон от 19.05.1995 № 81-ФЗ «О государственных пособиях гражданам, имеющим детей»')
            +article-accordeon-block('в размере денежного довольствия', 'в размере среднего заработка, на который начисляются страховые взносы на обязательное социальное страхование на случай временной нетрудоспособности и в связи с материнством, и с учетом иных условий, установленных законодательством РФ', 'Федеральный закон от 19.05.1995 № 81-ФЗ «О государственных пособиях гражданам, имеющим детей»')
            +article-accordeon-block('1500 рублей', 'в размере среднего заработка, на который начисляются страховые взносы на обязательное социальное страхование на случай временной нетрудоспособности и в связи с материнством, и с учетом иных условий, установленных законодательством РФ', 'Федеральный закон от 19.05.1995 № 81-ФЗ «О государственных пособиях гражданам, имеющим детей»')
      +article-content('4 Ежемесячные компенсационные выплаты лицам, находящимся в отпуске по уходу за ребенком до достижения им возраста 3 лет', 'cat4', 'type2')
        +article-left()
          +e.definition
            p <b>Единовременное пособие при рождении ребенка</b> — это разовая денежная выплата, положенная женщине, родившей ребенка
        +article-right()  
          +article-accordeon()
            +article-accordeon-block('8000 рублей', 'при рождении ребенка', 'Федеральный закон от 19.05.1995 № 81-ФЗ «О государственных пособиях гражданам, имеющим детей»')._only
      +article-content('4 Адресная социальная помощь', 'cat4', 'type3')
        +article-left()
          +e.definition
            p <b>Единовременное пособие при рождении ребенка</b> — это разовая денежная выплата, положенная женщине, родившей ребенка
        +article-right()  
          +article-accordeon()
            +article-accordeon-block('8000 рублей', 'при рождении ребенка', 'Федеральный закон от 19.05.1995 № 81-ФЗ «О государственных пособиях гражданам, имеющим детей»')._only
      +article-content('4 Единовременное пособие при рождении ребенка', 'cat4', 'type4')
        +article-left()
          +e.definition
            p <b>Единовременное пособие при рождении ребенка</b> — это разовая денежная выплата, положенная женщине, родившей ребенка
        +article-right()  
          +article-accordeon()
            +article-accordeon-block('8000 рублей', 'при рождении ребенка', 'Федеральный закон от 19.05.1995 № 81-ФЗ «О государственных пособиях гражданам, имеющим детей»')._only
      +article-content('4 Ежемесячное пособие по уходу за ребенком (до достижения им возраста полутора лет)', 'cat4', 'type5')
        +article-left()
          +e.definition
            p <b>Единовременное пособие при рождении ребенка</b> — это разовая денежная выплата, положенная женщине, родившей ребенка
        +article-right()  
          +article-accordeon()
            +article-accordeon-block('8000 рублей', 'при рождении ребенка', 'Федеральный закон от 19.05.1995 № 81-ФЗ «О государственных пособиях гражданам, имеющим детей»')._only
      +article-content('4 Помощь с организацией детского отдыха', 'cat4', 'type6')
        +article-left()
          +e.definition
            p <b>Единовременное пособие при рождении ребенка</b> — это разовая денежная выплата, положенная женщине, родившей ребенка
        +article-right()  
          +article-accordeon()
            +article-accordeon-block('8000 рублей', 'при рождении ребенка', 'Федеральный закон от 19.05.1995 № 81-ФЗ «О государственных пособиях гражданам, имеющим детей»')._only
            
      // cat5
      +article-content('5 Пособие по беременности и родам', 'cat5', 'type1')
        +article-left()
          +e.definition
            p <b>Пособие по беременности</b> — это денежная выплата, положенная беременной женщине
        +article-right()  
          +article-accordeon()
            +article-accordeon-block('В размере среднего заработка', 'в размере среднего заработка, на который начисляются страховые взносы на обязательное социальное страхование на случай временной нетрудоспособности и в связи с материнством, и с учетом иных условий, установленных законодательством РФ', 'Федеральный закон от 19.05.1995 № 81-ФЗ «О государственных пособиях гражданам, имеющим детей»')._active
            +article-accordeon-block('300 рублей', 'в размере среднего заработка, на который начисляются страховые взносы на обязательное социальное страхование на случай временной нетрудоспособности и в связи с материнством, и с учетом иных условий, установленных законодательством РФ', 'Федеральный закон от 19.05.1995 № 81-ФЗ «О государственных пособиях гражданам, имеющим детей»')
            +article-accordeon-block('в размере стипендии', 'в размере среднего заработка, на который начисляются страховые взносы на обязательное социальное страхование на случай временной нетрудоспособности и в связи с материнством, и с учетом иных условий, установленных законодательством РФ', 'Федеральный закон от 19.05.1995 № 81-ФЗ «О государственных пособиях гражданам, имеющим детей»')
            +article-accordeon-block('в размере денежного довольствия', 'в размере среднего заработка, на который начисляются страховые взносы на обязательное социальное страхование на случай временной нетрудоспособности и в связи с материнством, и с учетом иных условий, установленных законодательством РФ', 'Федеральный закон от 19.05.1995 № 81-ФЗ «О государственных пособиях гражданам, имеющим детей»')
            +article-accordeon-block('1500 рублей', 'в размере среднего заработка, на который начисляются страховые взносы на обязательное социальное страхование на случай временной нетрудоспособности и в связи с материнством, и с учетом иных условий, установленных законодательством РФ', 'Федеральный закон от 19.05.1995 № 81-ФЗ «О государственных пособиях гражданам, имеющим детей»')
      +article-content('5 Ежемесячные компенсационные выплаты лицам, находящимся в отпуске по уходу за ребенком до достижения им возраста 3 лет', 'cat5', 'type2')
        +article-left()
          +e.definition
            p <b>Единовременное пособие при рождении ребенка</b> — это разовая денежная выплата, положенная женщине, родившей ребенка
        +article-right()  
          +article-accordeon()
            +article-accordeon-block('8000 рублей', 'при рождении ребенка', 'Федеральный закон от 19.05.1995 № 81-ФЗ «О государственных пособиях гражданам, имеющим детей»')._only
      +article-content('5 Адресная социальная помощь', 'cat5', 'type3')
        +article-left()
          +e.definition
            p <b>Единовременное пособие при рождении ребенка</b> — это разовая денежная выплата, положенная женщине, родившей ребенка
        +article-right()  
          +article-accordeon()
            +article-accordeon-block('8000 рублей', 'при рождении ребенка', 'Федеральный закон от 19.05.1995 № 81-ФЗ «О государственных пособиях гражданам, имеющим детей»')._only
      +article-content('5 Единовременное пособие при рождении ребенка', 'cat5', 'type4')
        +article-left()
          +e.definition
            p <b>Единовременное пособие при рождении ребенка</b> — это разовая денежная выплата, положенная женщине, родившей ребенка
        +article-right()  
          +article-accordeon()
            +article-accordeon-block('8000 рублей', 'при рождении ребенка', 'Федеральный закон от 19.05.1995 № 81-ФЗ «О государственных пособиях гражданам, имеющим детей»')._only
            
      // cat6
      +article-content('6 Пособие по беременности и родам', 'cat6', 'type1')
        +article-left()
          +e.definition
            p <b>Пособие по беременности</b> — это денежная выплата, положенная беременной женщине
        +article-right()  
          +article-accordeon()
            +article-accordeon-block('В размере среднего заработка', 'в размере среднего заработка, на который начисляются страховые взносы на обязательное социальное страхование на случай временной нетрудоспособности и в связи с материнством, и с учетом иных условий, установленных законодательством РФ', 'Федеральный закон от 19.05.1995 № 81-ФЗ «О государственных пособиях гражданам, имеющим детей»')._active
            +article-accordeon-block('300 рублей', 'в размере среднего заработка, на который начисляются страховые взносы на обязательное социальное страхование на случай временной нетрудоспособности и в связи с материнством, и с учетом иных условий, установленных законодательством РФ', 'Федеральный закон от 19.05.1995 № 81-ФЗ «О государственных пособиях гражданам, имеющим детей»')
            +article-accordeon-block('в размере стипендии', 'в размере среднего заработка, на который начисляются страховые взносы на обязательное социальное страхование на случай временной нетрудоспособности и в связи с материнством, и с учетом иных условий, установленных законодательством РФ', 'Федеральный закон от 19.05.1995 № 81-ФЗ «О государственных пособиях гражданам, имеющим детей»')
            +article-accordeon-block('в размере денежного довольствия', 'в размере среднего заработка, на который начисляются страховые взносы на обязательное социальное страхование на случай временной нетрудоспособности и в связи с материнством, и с учетом иных условий, установленных законодательством РФ', 'Федеральный закон от 19.05.1995 № 81-ФЗ «О государственных пособиях гражданам, имеющим детей»')
            +article-accordeon-block('1500 рублей', 'в размере среднего заработка, на который начисляются страховые взносы на обязательное социальное страхование на случай временной нетрудоспособности и в связи с материнством, и с учетом иных условий, установленных законодательством РФ', 'Федеральный закон от 19.05.1995 № 81-ФЗ «О государственных пособиях гражданам, имеющим детей»')
      +article-content('6 Ежемесячные компенсационные выплаты лицам, находящимся в отпуске по уходу за ребенком до достижения им возраста 3 лет', 'cat6', 'type2')
        +article-left()
          +e.definition
            p <b>Единовременное пособие при рождении ребенка</b> — это разовая денежная выплата, положенная женщине, родившей ребенка
        +article-right()  
          +article-accordeon()
            +article-accordeon-block('8000 рублей', 'при рождении ребенка', 'Федеральный закон от 19.05.1995 № 81-ФЗ «О государственных пособиях гражданам, имеющим детей»')._only
            
      // cat7
      +article-content('7 Материнский капитал', 'cat7', 'type1')
        +article-left()
          +e.definition
            p <b>Единовременное пособие при рождении ребенка</b> — это разовая денежная выплата, положенная женщине, родившей ребенка
        +article-right()  
          +article-accordeon()
            +article-accordeon-block('8000 рублей', 'при рождении ребенка', 'Федеральный закон от 19.05.1995 № 81-ФЗ «О государственных пособиях гражданам, имеющим детей»')._only
      +article-content('7 Единовременное пособие женщинам, вставшим на учет в медицинском учреждении в ранние сроки беременности', 'cat7', 'type2')
        +article-left()
          +e.definition
            p <b>Единовременное пособие при рождении ребенка</b> — это разовая денежная выплата, положенная женщине, родившей ребенка
        +article-right()  
          +article-accordeon()
            +article-accordeon-block('8000 рублей', 'при рождении ребенка', 'Федеральный закон от 19.05.1995 № 81-ФЗ «О государственных пособиях гражданам, имеющим детей»')._only
      +article-content('7 Льготы на проезд в общественном транспорте', 'cat7', 'type3')
        +article-left()
          +e.definition
            p <b>Единовременное пособие при рождении ребенка</b> — это разовая денежная выплата, положенная женщине, родившей ребенка
        +article-right()  
          +article-accordeon()
            +article-accordeon-block('8000 рублей', 'при рождении ребенка', 'Федеральный закон от 19.05.1995 № 81-ФЗ «О государственных пособиях гражданам, имеющим детей»')._only
            
      // cat8
      +article-content('8 Материнский капитал', 'cat8', 'type1')
        +article-left()
          +e.definition
            p <b>Единовременное пособие при рождении ребенка</b> — это разовая денежная выплата, положенная женщине, родившей ребенка
        +article-right()  
          +article-accordeon()
            +article-accordeon-block('8000 рублей', 'при рождении ребенка', 'Федеральный закон от 19.05.1995 № 81-ФЗ «О государственных пособиях гражданам, имеющим детей»')._only
      +article-content('8 Единовременное пособие женщинам, вставшим на учет в медицинском учреждении в ранние сроки беременности', 'cat8', 'type2')
        +article-left()
          +e.definition
            p <b>Единовременное пособие при рождении ребенка</b> — это разовая денежная выплата, положенная женщине, родившей ребенка
        +article-right()  
          +article-accordeon()
            +article-accordeon-block('8000 рублей', 'при рождении ребенка', 'Федеральный закон от 19.05.1995 № 81-ФЗ «О государственных пособиях гражданам, имеющим детей»')._only
      +article-content('8 Льготы на проезд в общественном транспорте', 'cat8', 'type3')
        +article-left()
          +e.definition
            p <b>Единовременное пособие при рождении ребенка</b> — это разовая денежная выплата, положенная женщине, родившей ребенка
        +article-right()  
          +article-accordeon()
            +article-accordeon-block('8000 рублей', 'при рождении ребенка', 'Федеральный закон от 19.05.1995 № 81-ФЗ «О государственных пособиях гражданам, имеющим детей»')._only
      
      // cat9
      +article-content('9 Пособие по беременности и родам', 'cat9', 'type1')
        +article-left()
          +e.definition
            p <b>Пособие по беременности</b> — это денежная выплата, положенная беременной женщине
        +article-right()  
          +article-accordeon()
            +article-accordeon-block('В размере среднего заработка', 'в размере среднего заработка, на который начисляются страховые взносы на обязательное социальное страхование на случай временной нетрудоспособности и в связи с материнством, и с учетом иных условий, установленных законодательством РФ', 'Федеральный закон от 19.05.1995 № 81-ФЗ «О государственных пособиях гражданам, имеющим детей»')._active
            +article-accordeon-block('300 рублей', 'в размере среднего заработка, на который начисляются страховые взносы на обязательное социальное страхование на случай временной нетрудоспособности и в связи с материнством, и с учетом иных условий, установленных законодательством РФ', 'Федеральный закон от 19.05.1995 № 81-ФЗ «О государственных пособиях гражданам, имеющим детей»')
            +article-accordeon-block('в размере стипендии', 'в размере среднего заработка, на который начисляются страховые взносы на обязательное социальное страхование на случай временной нетрудоспособности и в связи с материнством, и с учетом иных условий, установленных законодательством РФ', 'Федеральный закон от 19.05.1995 № 81-ФЗ «О государственных пособиях гражданам, имеющим детей»')
            +article-accordeon-block('в размере денежного довольствия', 'в размере среднего заработка, на который начисляются страховые взносы на обязательное социальное страхование на случай временной нетрудоспособности и в связи с материнством, и с учетом иных условий, установленных законодательством РФ', 'Федеральный закон от 19.05.1995 № 81-ФЗ «О государственных пособиях гражданам, имеющим детей»')
            +article-accordeon-block('1500 рублей', 'в размере среднего заработка, на который начисляются страховые взносы на обязательное социальное страхование на случай временной нетрудоспособности и в связи с материнством, и с учетом иных условий, установленных законодательством РФ', 'Федеральный закон от 19.05.1995 № 81-ФЗ «О государственных пособиях гражданам, имеющим детей»')
      +article-content('9 Ежемесячные компенсационные выплаты лицам, находящимся в отпуске по уходу за ребенком до достижения им возраста 3 лет', 'cat9', 'type2')
        +article-left()
          +e.definition
            p <b>Единовременное пособие при рождении ребенка</b> — это разовая денежная выплата, положенная женщине, родившей ребенка
        +article-right()  
          +article-accordeon()
            +article-accordeon-block('8000 рублей', 'при рождении ребенка', 'Федеральный закон от 19.05.1995 № 81-ФЗ «О государственных пособиях гражданам, имеющим детей»')._only
      +article-content('9 Адресная социальная помощь', 'cat9', 'type3')
        +article-left()
          +e.definition
            p <b>Единовременное пособие при рождении ребенка</b> — это разовая денежная выплата, положенная женщине, родившей ребенка
        +article-right()  
          +article-accordeon()
            +article-accordeon-block('8000 рублей', 'при рождении ребенка', 'Федеральный закон от 19.05.1995 № 81-ФЗ «О государственных пособиях гражданам, имеющим детей»')._only
      +article-content('9 Единовременное пособие при рождении ребенка', 'cat9', 'type4')
        +article-left()
          +e.definition
            p <b>Единовременное пособие при рождении ребенка</b> — это разовая денежная выплата, положенная женщине, родившей ребенка
        +article-right()  
          +article-accordeon()
            +article-accordeon-block('8000 рублей', 'при рождении ребенка', 'Федеральный закон от 19.05.1995 № 81-ФЗ «О государственных пособиях гражданам, имеющим детей»')._only
      +article-content('9 Ежемесячное пособие по уходу за ребенком (до достижения им возраста полутора лет)', 'cat9', 'type5')
        +article-left()
          +e.definition
            p <b>Единовременное пособие при рождении ребенка</b> — это разовая денежная выплата, положенная женщине, родившей ребенка
        +article-right()  
          +article-accordeon()
            +article-accordeon-block('8000 рублей', 'при рождении ребенка', 'Федеральный закон от 19.05.1995 № 81-ФЗ «О государственных пособиях гражданам, имеющим детей»')._only
      +article-content('9 Помощь с организацией детского отдыха', 'cat9', 'type6')
        +article-left()
          +e.definition
            p <b>Единовременное пособие при рождении ребенка</b> — это разовая денежная выплата, положенная женщине, родившей ребенка
        +article-right()  
          +article-accordeon()
            +article-accordeon-block('8000 рублей', 'при рождении ребенка', 'Федеральный закон от 19.05.1995 № 81-ФЗ «О государственных пособиях гражданам, имеющим детей»')._only
      +article-content('9 Единовременная компенсационная выплата на возмещение расходов в связи с рождением ребенка', 'cat9', 'type7')
        +article-left()
          +e.definition
            p <b>Единовременное пособие при рождении ребенка</b> — это разовая денежная выплата, положенная женщине, родившей ребенка
        +article-right()  
          +article-accordeon()
            +article-accordeon-block('8000 рублей', 'при рождении ребенка', 'Федеральный закон от 19.05.1995 № 81-ФЗ «О государственных пособиях гражданам, имеющим детей»')._only
      +article-content('9 Ежемесячная компенсационная выплата на возмещение роста стоимости продуктов питания отдельным категориям граждан на детей в возрасте до трех лет', 'cat9', 'type8')
        +article-left()
          +e.definition
            p <b>Единовременное пособие при рождении ребенка</b> — это разовая денежная выплата, положенная женщине, родившей ребенка
        +article-right()  
          +article-accordeon()
            +article-accordeon-block('8000 рублей', 'при рождении ребенка', 'Федеральный закон от 19.05.1995 № 81-ФЗ «О государственных пособиях гражданам, имеющим детей»')._only
            
      // cat10
      +article-content('10 Льготы при посещении государственных дошкольных образовательных учреждений', 'cat10', 'type1')
        +article-left()
          +e.definition
            p <b>Единовременное пособие при рождении ребенка</b> — это разовая денежная выплата, положенная женщине, родившей ребенка
        +article-right()  
          +article-accordeon()
            +article-accordeon-block('8000 рублей', 'при рождении ребенка', 'Федеральный закон от 19.05.1995 № 81-ФЗ «О государственных пособиях гражданам, имеющим детей»')._only
      +article-content('10 Пособие по беременности и родам', 'cat10', 'type2')
        +article-left()
          +e.definition
            p <b>Пособие по беременности</b> — это денежная выплата, положенная беременной женщине
        +article-right()  
          +article-accordeon()
            +article-accordeon-block('В размере среднего заработка', 'в размере среднего заработка, на который начисляются страховые взносы на обязательное социальное страхование на случай временной нетрудоспособности и в связи с материнством, и с учетом иных условий, установленных законодательством РФ', 'Федеральный закон от 19.05.1995 № 81-ФЗ «О государственных пособиях гражданам, имеющим детей»')._active
            +article-accordeon-block('300 рублей', 'в размере среднего заработка, на который начисляются страховые взносы на обязательное социальное страхование на случай временной нетрудоспособности и в связи с материнством, и с учетом иных условий, установленных законодательством РФ', 'Федеральный закон от 19.05.1995 № 81-ФЗ «О государственных пособиях гражданам, имеющим детей»')
            +article-accordeon-block('в размере стипендии', 'в размере среднего заработка, на который начисляются страховые взносы на обязательное социальное страхование на случай временной нетрудоспособности и в связи с материнством, и с учетом иных условий, установленных законодательством РФ', 'Федеральный закон от 19.05.1995 № 81-ФЗ «О государственных пособиях гражданам, имеющим детей»')
            +article-accordeon-block('в размере денежного довольствия', 'в размере среднего заработка, на который начисляются страховые взносы на обязательное социальное страхование на случай временной нетрудоспособности и в связи с материнством, и с учетом иных условий, установленных законодательством РФ', 'Федеральный закон от 19.05.1995 № 81-ФЗ «О государственных пособиях гражданам, имеющим детей»')
            +article-accordeon-block('1500 рублей', 'в размере среднего заработка, на который начисляются страховые взносы на обязательное социальное страхование на случай временной нетрудоспособности и в связи с материнством, и с учетом иных условий, установленных законодательством РФ', 'Федеральный закон от 19.05.1995 № 81-ФЗ «О государственных пособиях гражданам, имеющим детей»')
      +article-content('10 Ежемесячные компенсационные выплаты лицам, находящимся в отпуске по уходу за ребенком до достижения им возраста 3 лет', 'cat10', 'type3')
        +article-left()
          +e.definition
            p <b>Единовременное пособие при рождении ребенка</b> — это разовая денежная выплата, положенная женщине, родившей ребенка
        +article-right()  
          +article-accordeon()
            +article-accordeon-block('8000 рублей', 'при рождении ребенка', 'Федеральный закон от 19.05.1995 № 81-ФЗ «О государственных пособиях гражданам, имеющим детей»')._only
      +article-content('10 Адресная социальная помощь', 'cat10', 'type4')
        +article-left()
          +e.definition
            p <b>Единовременное пособие при рождении ребенка</b> — это разовая денежная выплата, положенная женщине, родившей ребенка
        +article-right()  
          +article-accordeon()
            +article-accordeon-block('8000 рублей', 'при рождении ребенка', 'Федеральный закон от 19.05.1995 № 81-ФЗ «О государственных пособиях гражданам, имеющим детей»')._only
            
      // cat11
      +article-content('11 Пособие по беременности и родам', 'cat11', 'type1')
        +article-left()
          +e.definition
            p <b>Пособие по беременности</b> — это денежная выплата, положенная беременной женщине
        +article-right()  
          +article-accordeon()
            +article-accordeon-block('В размере среднего заработка', 'в размере среднего заработка, на который начисляются страховые взносы на обязательное социальное страхование на случай временной нетрудоспособности и в связи с материнством, и с учетом иных условий, установленных законодательством РФ', 'Федеральный закон от 19.05.1995 № 81-ФЗ «О государственных пособиях гражданам, имеющим детей»')._active
            +article-accordeon-block('300 рублей', 'в размере среднего заработка, на который начисляются страховые взносы на обязательное социальное страхование на случай временной нетрудоспособности и в связи с материнством, и с учетом иных условий, установленных законодательством РФ', 'Федеральный закон от 19.05.1995 № 81-ФЗ «О государственных пособиях гражданам, имеющим детей»')
            +article-accordeon-block('в размере стипендии', 'в размере среднего заработка, на который начисляются страховые взносы на обязательное социальное страхование на случай временной нетрудоспособности и в связи с материнством, и с учетом иных условий, установленных законодательством РФ', 'Федеральный закон от 19.05.1995 № 81-ФЗ «О государственных пособиях гражданам, имеющим детей»')
            +article-accordeon-block('в размере денежного довольствия', 'в размере среднего заработка, на который начисляются страховые взносы на обязательное социальное страхование на случай временной нетрудоспособности и в связи с материнством, и с учетом иных условий, установленных законодательством РФ', 'Федеральный закон от 19.05.1995 № 81-ФЗ «О государственных пособиях гражданам, имеющим детей»')
            +article-accordeon-block('1500 рублей', 'в размере среднего заработка, на который начисляются страховые взносы на обязательное социальное страхование на случай временной нетрудоспособности и в связи с материнством, и с учетом иных условий, установленных законодательством РФ', 'Федеральный закон от 19.05.1995 № 81-ФЗ «О государственных пособиях гражданам, имеющим детей»')
      +article-content('11 Единовременное пособие при рождении ребенка', 'cat11', 'type2')
        +article-left()
          +e.definition
            p <b>Единовременное пособие при рождении ребенка</b> — это разовая денежная выплата, положенная женщине, родившей ребенка
        +article-right()  
          +article-accordeon()
            +article-accordeon-block('8000 рублей', 'при рождении ребенка', 'Федеральный закон от 19.05.1995 № 81-ФЗ «О государственных пособиях гражданам, имеющим детей»')._only
            
      // cat12
      +article-content('12 Пособие по беременности и родам', 'cat12', 'type1')
        +article-left()
          +e.definition
            p <b>Пособие по беременности</b> — это денежная выплата, положенная беременной женщине
        +article-right()  
          +article-accordeon()
            +article-accordeon-block('В размере среднего заработка', 'в размере среднего заработка, на который начисляются страховые взносы на обязательное социальное страхование на случай временной нетрудоспособности и в связи с материнством, и с учетом иных условий, установленных законодательством РФ', 'Федеральный закон от 19.05.1995 № 81-ФЗ «О государственных пособиях гражданам, имеющим детей»')._active
            +article-accordeon-block('300 рублей', 'в размере среднего заработка, на который начисляются страховые взносы на обязательное социальное страхование на случай временной нетрудоспособности и в связи с материнством, и с учетом иных условий, установленных законодательством РФ', 'Федеральный закон от 19.05.1995 № 81-ФЗ «О государственных пособиях гражданам, имеющим детей»')
            +article-accordeon-block('в размере стипендии', 'в размере среднего заработка, на который начисляются страховые взносы на обязательное социальное страхование на случай временной нетрудоспособности и в связи с материнством, и с учетом иных условий, установленных законодательством РФ', 'Федеральный закон от 19.05.1995 № 81-ФЗ «О государственных пособиях гражданам, имеющим детей»')
            +article-accordeon-block('в размере денежного довольствия', 'в размере среднего заработка, на который начисляются страховые взносы на обязательное социальное страхование на случай временной нетрудоспособности и в связи с материнством, и с учетом иных условий, установленных законодательством РФ', 'Федеральный закон от 19.05.1995 № 81-ФЗ «О государственных пособиях гражданам, имеющим детей»')
            +article-accordeon-block('1500 рублей', 'в размере среднего заработка, на который начисляются страховые взносы на обязательное социальное страхование на случай временной нетрудоспособности и в связи с материнством, и с учетом иных условий, установленных законодательством РФ', 'Федеральный закон от 19.05.1995 № 81-ФЗ «О государственных пособиях гражданам, имеющим детей»')
      +article-content('12 Единовременное пособие при рождении ребенка', 'cat12', 'type2')
        +article-left()
          +e.definition
            p <b>Единовременное пособие при рождении ребенка</b> — это разовая денежная выплата, положенная женщине, родившей ребенка
        +article-right()  
          +article-accordeon()
            +article-accordeon-block('8000 рублей', 'при рождении ребенка', 'Федеральный закон от 19.05.1995 № 81-ФЗ «О государственных пособиях гражданам, имеющим детей»')._only
            
      
            

mixin depfin-services-social-support-cards()
  +depfin-services-social-support-cards-innerpage()
    //- 03
    +submenu-items()





mixin depfin-services-social-support-article-one()
  +depfin-services-social-support-cards-innerpage()
    +depfin-services-social-support-articlestructure()       
    
      +article-burger-menu()
        +article-burger-item() Единовременное пособие при рождении ребенка
        +article-burger-item('#') Ежемесячные компенсационные выплаты лицам, находящимся в отпуске по уходу за ребенком до достижения им возраста 3 лет
        +article-burger-item('#') Адресная социальная помощь
        +article-burger-item('#') Единовременное пособие при рождении ребенка
        +article-burger-item('#') Ежемесячное пособие по уходу за ребенком (до достижения им возраста полутора лет)
        +article-burger-item('#') Помощь с организацией детского отдыха
        +article-burger-item('#') Единовременная компенсационная выплата на возмещение расходов в связи с рождением ребенка
        +article-burger-item('#') Ежемесячная компенсационная выплата на возмещение роста стоимости продуктов питания отдельным категориям граждан на детей в возрасте до трех лет
        +article-burger-item('#') Материнский капитал
        +article-burger-item('#') Единовременное пособие женщинам, вставшим на учет в медицинском учреждении в ранние сроки беременности
        +article-burger-item('#') Льготы на проезд в общественном транспорте
        +article-burger-item('#') Ежемесячная компенсационная выплата на возмещение расходов в связи с ростом стоимости жизни отдельным категориям семей с детьми
        +article-burger-item('#') Льготы при посещении государственных дошкольных образовательных учреждений
          
      +article-content('Единовременное пособие при рождении ребенка')
        +article-left()
          +e.definition
            p <b>Единовременное пособие при рождении ребенка</b> — это разовая денежная выплата, положенная женщине, родившей ребенка
        
        +article-right()  
          +article-accordeon()
            +article-accordeon-block('8000 рублей', 'при рождении ребенка', 'Федеральный закон от 19.05.1995 № 81-ФЗ «О государственных пособиях гражданам, имеющим детей»')
        
        
        
        
        
mixin depfin-services-social-support-article-two()
  +depfin-services-social-support-cards-innerpage()
    +depfin-services-social-support-articlestructure()       
    
      +article-burger-menu()
        +article-burger-item() Пособие по беременности и родам
        +article-burger-item('#') Ежемесячные компенсационные выплаты лицам, находящимся в отпуске по уходу за ребенком до достижения им возраста 3 лет
        +article-burger-item('#') Адресная социальная помощь
        +article-burger-item('#') Единовременное пособие при рождении ребенка
        +article-burger-item('#') Ежемесячное пособие по уходу за ребенком (до достижения им возраста полутора лет)
        +article-burger-item('#') Помощь с организацией детского отдыха
        +article-burger-item('#') Единовременная компенсационная выплата на возмещение расходов в связи с рождением ребенка
        +article-burger-item('#') Ежемесячная компенсационная выплата на возмещение роста стоимости продуктов питания отдельным категориям граждан на детей в возрасте до трех лет
        +article-burger-item('#') Материнский капитал
        +article-burger-item('#') Единовременное пособие женщинам, вставшим на учет в медицинском учреждении в ранние сроки беременности
        +article-burger-item('#') Льготы на проезд в общественном транспорте
        +article-burger-item('#') Ежемесячная компенсационная выплата на возмещение расходов в связи с ростом стоимости жизни отдельным категориям семей с детьми
        +article-burger-item('#') Льготы при посещении государственных дошкольных образовательных учреждений
          
      +article-content('Пособие по беременности и родам')
        +article-left()
          +e.definition
            p <b>Пособие по беременности</b> — это денежная выплата, положенная беременной женщине
        
        +article-right()  
          +article-accordeon()
            +article-accordeon-block('В размере среднего заработка', 'в размере среднего заработка, на который начисляются страховые взносы на обязательное социальное страхование на случай временной нетрудоспособности и в связи с материнством, и с учетом иных условий, установленных законодательством РФ', 'Федеральный закон от 19.05.1995 № 81-ФЗ «О государственных пособиях гражданам, имеющим детей»')._active
            +article-accordeon-block('300 рублей', 'в размере среднего заработка, на который начисляются страховые взносы на обязательное социальное страхование на случай временной нетрудоспособности и в связи с материнством, и с учетом иных условий, установленных законодательством РФ', 'Федеральный закон от 19.05.1995 № 81-ФЗ «О государственных пособиях гражданам, имеющим детей»')
            +article-accordeon-block('в размере стипендии', 'в размере среднего заработка, на который начисляются страховые взносы на обязательное социальное страхование на случай временной нетрудоспособности и в связи с материнством, и с учетом иных условий, установленных законодательством РФ', 'Федеральный закон от 19.05.1995 № 81-ФЗ «О государственных пособиях гражданам, имеющим детей»')
            +article-accordeon-block('в размере денежного довольствия', 'в размере среднего заработка, на который начисляются страховые взносы на обязательное социальное страхование на случай временной нетрудоспособности и в связи с материнством, и с учетом иных условий, установленных законодательством РФ', 'Федеральный закон от 19.05.1995 № 81-ФЗ «О государственных пособиях гражданам, имеющим детей»')
            +article-accordeon-block('1500 рублей', 'в размере среднего заработка, на который начисляются страховые взносы на обязательное социальное страхование на случай временной нетрудоспособности и в связи с материнством, и с учетом иных условий, установленных законодательством РФ', 'Федеральный закон от 19.05.1995 № 81-ФЗ «О государственных пособиях гражданам, имеющим детей»')
