include ../../blocks/legend/legend
include ../../blocks/checkbox/checkbox
include ../../blocks/icon/icons
include ../../blocks/slide-arrows/slide-arrows

//- legendtype - тип легенды(json файл)
mixin analityc-graphics-round(legendtype)
  +b.analityc-graphics&attributes(attributes)._round
    +e.P.periodtext
      span Плановый период
    .swiper-container.round-graphics_slider
      +e.cols.swiper-wrapper
        +e.col.swiper-slide
          +e.P.year 2017
          +e.graphic._round
            .segment-diagram#diagram-10
              .segment-diagram__value
                p.segment-diagram__value-num 1885,7
                span.segment-diagram__val 20,8%
                span.segment-diagram__val 14,3%
                span.segment-diagram__val 12,2%
                span.segment-diagram__val 21,9%
                span.segment-diagram__val 7,7%
                span.segment-diagram__val 23,2%
        +e.col.swiper-slide
          +e.SPAN.period-left
          +e.P.year 2018
          +e.graphic._round
            .segment-diagram#diagram-11
              .segment-diagram__value
                p.segment-diagram__value-num 1885,7
                span.segment-diagram__val 20,8%
                span.segment-diagram__val 14,3%
                span.segment-diagram__val 12,2%
                span.segment-diagram__val 21,9%
                span.segment-diagram__val 7,7%
                span.segment-diagram__val 23,2%
        +e.col.swiper-slide
          +e.SPAN.period-right
          +e.P.year 2019
          +e.graphic._round
            .segment-diagram#diagram-12
              .segment-diagram__value
                p.segment-diagram__value-num 1885,7
                span.segment-diagram__val 20,8%
                span.segment-diagram__val 14,3%
                span.segment-diagram__val 12,2%
                span.segment-diagram__val 21,9%
                span.segment-diagram__val 7,7%
                span.segment-diagram__val 23,2%
      span.analityc-graphics_round-next
      span.analityc-graphics_round-prev
      if legendtype == 'income1'
        +legend(getData('legend-income1')).analityc-graphics__legend
      if legendtype == 'income2'
        +legend(getData('legend-income2')).analityc-graphics__legend
      if legendtype == 'expenses1'
        +legend(getData('legend-expenses1')).analityc-graphics__legend
      if legendtype == 'expenses2'
        +legend(getData('legend-expenses2')).analityc-graphics__legend
      if legendtype == 'expenses3'
        +legend(getData('legend-expenses3')).analityc-graphics__legend
      if legendtype == 'expenses4'
        +legend(getData('legend-expenses4')).analityc-graphics__legend
      if legendtype == 'expenses5'
        +legend(getData('legend-expenses5')).analityc-graphics__legend



mixin analityc-graphics-round2(legendtype)
  +b.analityc-graphics&attributes(attributes)._round
    +e.P.periodtext
      span Плановый период
    .swiper-container.round-graphics_slider
      +e.cols.swiper-wrapper
        +e.col.swiper-slide
          +e.P.year 2017
          +e.graphic._round
            .segment-diagram#diagram-13
              .segment-diagram__value
                p.segment-diagram__value-num 1885,7
                span.segment-diagram__val 20,8%
                span.segment-diagram__val 14,3%
                span.segment-diagram__val 12,2%
                span.segment-diagram__val 21,9%
                span.segment-diagram__val 7,7%
                span.segment-diagram__val 23,2%
        +e.col.swiper-slide
          +e.SPAN.period-left
          +e.P.year 2018
          +e.graphic._round
            .segment-diagram#diagram-14
              .segment-diagram__value
                p.segment-diagram__value-num 1885,7
                span.segment-diagram__val 20,8%
                span.segment-diagram__val 14,3%
                span.segment-diagram__val 12,2%
                span.segment-diagram__val 21,9%
                span.segment-diagram__val 7,7%
                span.segment-diagram__val 23,2%
        +e.col.swiper-slide
          +e.SPAN.period-right
          +e.P.year 2019
          +e.graphic._round
            .segment-diagram#diagram-15
              .segment-diagram__value
                p.segment-diagram__value-num 1885,7
                span.segment-diagram__val 20,8%
                span.segment-diagram__val 14,3%
                span.segment-diagram__val 12,2%
                span.segment-diagram__val 21,9%
                span.segment-diagram__val 7,7%
                span.segment-diagram__val 23,2%
      span.analityc-graphics_round-next
      span.analityc-graphics_round-prev
      if legendtype == 'income1'
        +legend(getData('legend-income1')).analityc-graphics__legend
      if legendtype == 'income2'
        +legend(getData('legend-income2')).analityc-graphics__legend
      if legendtype == 'expenses1'
        +legend(getData('legend-expenses1')).analityc-graphics__legend
      if legendtype == 'expenses2'
        +legend(getData('legend-expenses2')).analityc-graphics__legend
      if legendtype == 'expenses3'
        +legend(getData('legend-expenses3')).analityc-graphics__legend
      if legendtype == 'expenses4'
        +legend(getData('legend-expenses4')).analityc-graphics__legend
      if legendtype == 'expenses5'
        +legend(getData('legend-expenses5')).analityc-graphics__legend


mixin analityc-graphics-round3(legendtype)
  +b.analityc-graphics&attributes(attributes)._round
    +e.P.periodtext
      span Плановый период
    .swiper-container.round-graphics_slider
      +e.cols.swiper-wrapper
        +e.col.swiper-slide
          +e.P.year 2017
          +e.graphic._round
            .segment-diagram#diagram-16
              .segment-diagram__value
                p.segment-diagram__value-num 1885,7
                span.segment-diagram__val 20,8%
                span.segment-diagram__val 14,3%
                span.segment-diagram__val 12,2%
                span.segment-diagram__val 21,9%
                span.segment-diagram__val 7,7%
                span.segment-diagram__val 23,2%
        +e.col.swiper-slide
          +e.SPAN.period-left
          +e.P.year 2018
          +e.graphic._round
            .segment-diagram#diagram-17
              .segment-diagram__value
                p.segment-diagram__value-num 1885,7
                span.segment-diagram__val 20,8%
                span.segment-diagram__val 14,3%
                span.segment-diagram__val 12,2%
                span.segment-diagram__val 21,9%
                span.segment-diagram__val 7,7%
                span.segment-diagram__val 23,2%
        +e.col.swiper-slide
          +e.SPAN.period-right
          +e.P.year 2019
          +e.graphic._round
            .segment-diagram#diagram-18
              .segment-diagram__value
                p.segment-diagram__value-num 1885,7
                span.segment-diagram__val 20,8%
                span.segment-diagram__val 14,3%
                span.segment-diagram__val 12,2%
                span.segment-diagram__val 21,9%
                span.segment-diagram__val 7,7%
                span.segment-diagram__val 23,2%
      span.analityc-graphics_round-next
      span.analityc-graphics_round-prev
      if legendtype == 'income1'
        +legend(getData('legend-income1')).analityc-graphics__legend
      if legendtype == 'income2'
        +legend(getData('legend-income2')).analityc-graphics__legend
      if legendtype == 'expenses1'
        +legend(getData('legend-expenses1')).analityc-graphics__legend
      if legendtype == 'expenses2'
        +legend(getData('legend-expenses2')).analityc-graphics__legend
      if legendtype == 'expenses3'
        +legend(getData('legend-expenses3')).analityc-graphics__legend
      if legendtype == 'expenses4'
        +legend(getData('legend-expenses4')).analityc-graphics__legend
      if legendtype == 'expenses5'
        +legend(getData('legend-expenses5')).analityc-graphics__legend
mixin analityc-graphics-round4(legendtype)
  +b.analityc-graphics&attributes(attributes)._round
    +e.P.periodtext
      span Плановый период
    .swiper-container.round-graphics_slider
      +e.cols.swiper-wrapper
        +e.col.swiper-slide
          +e.P.year 2017
          +e.graphic._round
            .segment-diagram#diagram-19
              .segment-diagram__value
                p.segment-diagram__value-num 1885,7
                span.segment-diagram__val 20,8%
                span.segment-diagram__val  14,3%
                span.segment-diagram__val  12,2%
                span.segment-diagram__val  21,9%
                span.segment-diagram__val  7,7%
                span.segment-diagram__val  23,2%
        +e.col.swiper-slide
          +e.SPAN.period-left
          +e.P.year 2018
          +e.graphic._round
            .segment-diagram#diagram-20
              .segment-diagram__value
                p.segment-diagram__value-num 1885,7
                span.segment-diagram__val 20,8%
                span.segment-diagram__val  14,3%
                span.segment-diagram__val  12,2%
                span.segment-diagram__val  21,9%
                span.segment-diagram__val  7,7%
                span.segment-diagram__val  23,2%
        +e.col.swiper-slide
          +e.SPAN.period-right
          +e.P.year 2019
          +e.graphic._round
            .segment-diagram#diagram-21
              .segment-diagram__value
                p.segment-diagram__value-num 1885,7
                span.segment-diagram__val 20,8%
                span.segment-diagram__val  14,3%
                span.segment-diagram__val  12,2%
                span.segment-diagram__val  21,9%
                span.segment-diagram__val  7,7%
                span.segment-diagram__val  23,2%
      span.analityc-graphics_round-next
      span.analityc-graphics_round-prev
      if legendtype == 'income1'
        +legend(getData('legend-income1')).analityc-graphics__legend
      if legendtype == 'income2'
        +legend(getData('legend-income2')).analityc-graphics__legend
      if legendtype == 'expenses1'
        +legend(getData('legend-expenses1')).analityc-graphics__legend
      if legendtype == 'expenses2'
        +legend(getData('legend-expenses2')).analityc-graphics__legend
      if legendtype == 'expenses3'
        +legend(getData('legend-expenses3')).analityc-graphics__legend
      if legendtype == 'expenses4'
        +legend(getData('legend-expenses4')).analityc-graphics__legend
      if legendtype == 'expenses5'
        +legend(getData('legend-expenses5')).analityc-graphics__legend

mixin analityc-graphics-round5()
  +b.analityc-graphics&attributes(attributes)._round
    +e.P.periodtext
      span Плановый период
    .swiper-container.round-graphics_slider
      +e.cols.swiper-wrapper
        +e.col.swiper-slide
          +e.P.year 2017
          +e.graphic._round
            .segment-diagram#diagram-30
              .segment-diagram__value
                p.segment-diagram__value-num 434,5
                span.segment-diagram__val 36%
                span.segment-diagram__val  6%
                span.segment-diagram__val  52%
                span.segment-diagram__val  6%

        +e.col.swiper-slide
          +e.SPAN.period-left
          +e.P.year 2018
          +e.graphic._round
            .segment-diagram#diagram-31
              .segment-diagram__value
                p.segment-diagram__value-num 437,0
                span.segment-diagram__val 40%
                span.segment-diagram__val  6%
                span.segment-diagram__val  48%
                span.segment-diagram__val  6%
        +e.col.swiper-slide
          +e.SPAN.period-right
          +e.P.year 2019
          +e.graphic._round
            .segment-diagram#diagram-32
              .segment-diagram__value
                p.segment-diagram__value-num 435,6
                span.segment-diagram__val 40%
                span.segment-diagram__val  6%
                span.segment-diagram__val  48%
                span.segment-diagram__val  6%
      span.analityc-graphics_round-next
      span.analityc-graphics_round-prev
      +legend(getData('legend-moscow-gp')).analityc-graphics__legend

mixin analityc-graphics-round6()
  +b.analityc-graphics&attributes(attributes)._round
    +e.P.periodtext
      span Плановый период
    .swiper-container.round-graphics_slider
      +e.cols.swiper-wrapper
        +e.col.swiper-slide
          +e.P.year 2017
          +e.graphic._round
            .segment-diagram#diagram-33
              .segment-diagram__value
                p.segment-diagram__value-num 434,5
                span.segment-diagram__val 20%
                span.segment-diagram__val 20%
                span.segment-diagram__val 20%
                span.segment-diagram__val 20%
                span.segment-diagram__val 20%

        +e.col.swiper-slide
          +e.SPAN.period-left
          +e.P.year 2018
          +e.graphic._round
            .segment-diagram#diagram-34
              .segment-diagram__value
                p.segment-diagram__value-num 437,0
                span.segment-diagram__val 20%
                span.segment-diagram__val 20%
                span.segment-diagram__val 20%
                span.segment-diagram__val 20%
                span.segment-diagram__val 20%
        +e.col.swiper-slide
          +e.SPAN.period-right
          +e.P.year 2019
          +e.graphic._round
            .segment-diagram#diagram-35
              .segment-diagram__value
                p.segment-diagram__value-num 435,6
                span.segment-diagram__val 20%
                span.segment-diagram__val 20%
                span.segment-diagram__val 20%
                span.segment-diagram__val 20%
                span.segment-diagram__val 20%
      span.analityc-graphics_round-next
      span.analityc-graphics_round-prev
      +legend(getData('legend-moscow-gp1')).analityc-graphics__legend

mixin analityc-graphics-round7()
  +b.analityc-graphics&attributes(attributes)._round
    +e.P.periodtext
      span Плановый период
    .swiper-container.round-graphics_slider
      +e.cols.swiper-wrapper

        +e.col.swiper-slide
          +e.P.year 2017
          +e.graphic._round
            .segment-diagram#diagram-37
              .segment-diagram__value
                p.segment-diagram__value-num 21,1
                span.segment-diagram__val 1%
                span.segment-diagram__val 91%
                span.segment-diagram__val 8%

        +e.col.swiper-slide
          +e.SPAN.period-left
          +e.P.year 2018
          +e.graphic._round
            .segment-diagram#diagram-38
              .segment-diagram__value
                p.segment-diagram__value-num 18,3
                span.segment-diagram__val 1%
                span.segment-diagram__val 90%
                span.segment-diagram__val 9%

        +e.col.swiper-slide
          +e.SPAN.period-right
          +e.P.year 2019
          +e.graphic._round
            .segment-diagram#diagram-39
              .segment-diagram__value
                p.segment-diagram__value-num 18,3
                span.segment-diagram__val 2%
                span.segment-diagram__val 90%
                span.segment-diagram__val 8%

      span.analityc-graphics_round-next
      span.analityc-graphics_round-prev
      +legend(getData('legend-mrelations1')).analityc-graphics__legend

mixin analityc-graphics-round8()
  +b.analityc-graphics&attributes(attributes)._round
    +e.P.periodtext
      span Плановый период
    .swiper-container.round-graphics_slider
      +e.cols.swiper-wrapper

        +e.col.swiper-slide
          +e.P.year 2017
          +e.graphic._round
            .segment-diagram#diagram-40
              .segment-diagram__value
                p.segment-diagram__value-num 21,1
                span.segment-diagram__val 28%
                span.segment-diagram__val 16%
                span.segment-diagram__val 14%
                span.segment-diagram__val 15%
                span.segment-diagram__val 10%
                span.segment-diagram__val 16%

        +e.col.swiper-slide
          +e.SPAN.period-left
          +e.P.year 2018
          +e.graphic._round
            .segment-diagram#diagram-41
              .segment-diagram__value
                p.segment-diagram__value-num 18,3
                span.segment-diagram__val 28%
                span.segment-diagram__val 16%
                span.segment-diagram__val 14%
                span.segment-diagram__val 15%
                span.segment-diagram__val 10%
                span.segment-diagram__val 16%

        +e.col.swiper-slide
          +e.SPAN.period-right
          +e.P.year 2019
          +e.graphic._round
            .segment-diagram#diagram-42
              .segment-diagram__value
                p.segment-diagram__value-num 18,3
                span.segment-diagram__val 28%
                span.segment-diagram__val 16%
                span.segment-diagram__val 14%
                span.segment-diagram__val 15%
                span.segment-diagram__val 10%
                span.segment-diagram__val 16%

      span.analityc-graphics_round-next
      span.analityc-graphics_round-prev
      +legend(getData('legend-mrelations2')).analityc-graphics__legend

mixin analityc-graphics-round9()
  +b.analityc-graphics&attributes(attributes)._round
    +e.P.periodtext
      span Плановый период
    .swiper-container.round-graphics_slider
      +e.cols.swiper-wrapper

        +e.col.swiper-slide
          +e.P.year 2017
          +e.graphic._round
            .segment-diagram#diagram-44
              .segment-diagram__value
                p.segment-diagram__value-num 4,1
                span.segment-diagram__val 5%
                span.segment-diagram__val 63%
                span.segment-diagram__val 23%
                span.segment-diagram__val 9%

        +e.col.swiper-slide
          +e.SPAN.period-left
          +e.P.year 2018
          +e.graphic._round
            .segment-diagram#diagram-45
              .segment-diagram__value
                p.segment-diagram__value-num 4,1
                span.segment-diagram__val 5%
                span.segment-diagram__val 63%
                span.segment-diagram__val 23%
                span.segment-diagram__val 9%

        +e.col.swiper-slide
          +e.SPAN.period-right
          +e.P.year 2019
          +e.graphic._round
            .segment-diagram#diagram-46
              .segment-diagram__value
                p.segment-diagram__value-num 4,1
                span.segment-diagram__val 5%
                span.segment-diagram__val 63%
                span.segment-diagram__val 23%
                span.segment-diagram__val 9%

      span.analityc-graphics_round-next
      span.analityc-graphics_round-prev
      +legend(getData('legend-mrelations3')).analityc-graphics__legend



//- Графики колонки со сдвигом
mixin column-area(color, height, value)
  div(class='column-area column-area_'+color+'', data-height=height)
    .column-value= value

mixin subcolumn-area(color, value)
  .subcolumn-area
    div(class='column-area column-area_'+color+' column-area_sub')
    .column-value= value

//- legendtype - тип легенды(json файл)
mixin analityc-graphics-column(legendtype, expenses)
  +b.analityc-graphics&attributes(attributes)._column
    +e.P.periodtext
      span Плановый период
    +e.P.toptext МЛРД РУБ.
    .swiper-container.column-graphics_slider
      +e.cols.swiper-wrapper
        +e.col.swiper-slide
          +e.P.year 2017
          +e.graphic._column
            .column
              .column__value 1976,5
              +column-area('gray', '69', '495,4')
              +column-area('violet', '35', '233')
              +column-area('blue', '36', '276,2')
              +column-area('pink', '48', '391,2')
              +column-area('green', '59', '434,5')
              +column-area('orange', '23', '146,2')
            .subcolumn
              +subcolumn-area('gray', '+10,0')
              +subcolumn-area('violet', '+10,0')
              +subcolumn-area('blue', '+10,0')
              +subcolumn-area('pink', '+10,0')
              +subcolumn-area('green', '+10,0')
              +subcolumn-area('orange', '+10,0')
            .column
              .column__value 2036,5
              +column-area('gray', '71', '505,4')
              +column-area('violet', '35', '243')
              +column-area('blue', '36', '286,2')
              +column-area('pink', '54', '401,2')
              +column-area('green', '59', '444,5')
              +column-area('orange', '23', '156,2')
          +e.bottom
            if expenses
              p Бюджет дейтсвующий
            else
              p Бюджет первоначальный
            p Бюджет с учетом изменений
        +e.col.swiper-slide
          +e.SPAN.period-left
          +e.P.year 2018
          +e.graphic._column
            .column
              .column__value 1976,5
              +column-area('gray', '69', '495,4')
              +column-area('violet', '35', '233')
              +column-area('blue', '36', '276,2')
              +column-area('pink', '48', '391,2')
              +column-area('green', '59', '434,5')
              +column-area('orange', '23', '146,2')
            .subcolumn
              +subcolumn-area('gray', '+10,0')
              +subcolumn-area('violet', '+10,0')
              +subcolumn-area('blue', '+10,0')
              +subcolumn-area('pink', '+10,0')
              +subcolumn-area('green', '+10,0')
              +subcolumn-area('orange', '+10,0')
            .column
              .column__value 2036,5
              +column-area('gray', '71', '505,4')
              +column-area('violet', '35', '243')
              +column-area('blue', '36', '286,2')
              +column-area('pink', '54', '401,2')
              +column-area('green', '59', '444,5')
              +column-area('orange', '23', '156,2')
          +e.bottom
            if expenses
              p Бюджет дейтсвующий
            else
              p Бюджет первоначальный
            p Бюджет с учетом изменений
        +e.col.swiper-slide
          +e.SPAN.period-right
          +e.P.year 2019
          +e.graphic._column
            .column
              .column__value 1976,5
              +column-area('gray', '69', '495,4')
              +column-area('violet', '35', '233')
              +column-area('blue', '36', '276,2')
              +column-area('pink', '48', '391,2')
              +column-area('green', '59', '434,5')
              +column-area('orange', '23', '146,2')
            .subcolumn
              +subcolumn-area('gray', '+10,0')
              +subcolumn-area('violet', '+10,0')
              +subcolumn-area('blue', '+10,0')
              +subcolumn-area('pink', '+10,0')
              +subcolumn-area('green', '+10,0')
              +subcolumn-area('orange', '+10,0')
            .column
              .column__value 2036,5
              +column-area('gray', '71', '505,4')
              +column-area('violet', '35', '243')
              +column-area('blue', '36', '286,2')
              +column-area('pink', '54', '401,2')
              +column-area('green', '59', '444,5')
              +column-area('orange', '23', '156,2')
          +e.bottom
            if expenses
              p Бюджет дейтсвующий
            else
              p Бюджет первоначальный
            p Бюджет с учетом изменений
      span.analityc-graphics_round-next
      span.analityc-graphics_round-prev
    if legendtype == 'income1'
      +legend(getData('legend-income1')).analityc-graphics__legend
    if legendtype == 'income2'
      +legend(getData('legend-income2')).analityc-graphics__legend
    if legendtype == 'expenses1'
      +legend(getData('legend-expenses1')).analityc-graphics__legend
    if legendtype == 'expenses2'
      +legend(getData('legend-expenses2')).analityc-graphics__legend
    if legendtype == 'expenses3'
      +legend(getData('legend-expenses3')).analityc-graphics__legend
    if legendtype == 'expenses4'
      +legend(getData('legend-expenses4')).analityc-graphics__legend
    if legendtype == 'expenses5'
      +legend(getData('legend-expenses5')).analityc-graphics__legend

mixin analityc-graphics-column2()
  +b.analityc-graphics&attributes(attributes)._column
    +e.P.periodtext
      span Плановый период
    +e.P.toptext МЛРД РУБ.
    .swiper-container.column-graphics_slider
      +e.cols.swiper-wrapper
        +e.col.swiper-slide
          +e.P.year 2017
          +e.graphic._column
            .column
              .column__value 434,5
              +column-area('blue', '127', '227,5')
              +column-area('pink', '24', '24,6')
              +column-area('green', '57', '157,4')
              +column-area('orange', '25', '25,0')
            .subcolumn
              +subcolumn-area('blue', '+10,0')
              +subcolumn-area('pink', '+10,0')
              +subcolumn-area('green', '+10,0')
              +subcolumn-area('orange', '+10,0')
            .column
              .column__value 464,5
              +column-area('blue', '137', '237,5')
              +column-area('pink', '34', '34,6')
              +column-area('green', '67', '167,4')
              +column-area('orange', '25', '25,0')
          +e.bottom
            p Бюджет утвержденный
            p Бюджет с учетом изменений
        +e.col.swiper-slide
          +e.SPAN.period-left
          +e.P.year 2018
          +e.graphic._column
            .column
              .column__value 437,0
              +column-area('blue', '127', '209,8')
              +column-area('pink', '24', '25,2')
              +column-area('green', '57', '176,5')
              +column-area('orange', '25', '25,5')
            .subcolumn
              +subcolumn-area('blue', '+10,0')
              +subcolumn-area('pink', '+10,0')
              +subcolumn-area('green', '+10,0')
              +subcolumn-area('orange', '+10,0')
            .column
              .column__value 467,0
              +column-area('blue', '137', '219,8')
              +column-area('pink', '34', '35,2')
              +column-area('green', '67', '186,5')
              +column-area('orange', '25', '25,5')
          +e.bottom
            p Бюджет утвержденный
            p Бюджет с учетом изменений
        +e.col.swiper-slide
          +e.SPAN.period-right
          +e.P.year 2019
          +e.graphic._column
            .column
              .column__value 435,6
              +column-area('blue', '127', '211,1')
              +column-area('pink', '24', '24,5')
              +column-area('green', '57', '173,5')
              +column-area('orange', '25', '26,5')
            .subcolumn
              +subcolumn-area('blue', '+10,0')
              +subcolumn-area('pink', '+10,0')
              +subcolumn-area('green', '+10,0')
              +subcolumn-area('orange', '+10,0')
            .column
              .column__value 465,6
              +column-area('blue', '137', '221,1')
              +column-area('pink', '34', '34,5')
              +column-area('green', '67', '183,5')
              +column-area('orange', '25', '26,5')
          +e.bottom
            p Бюджет утвержденный
            p Бюджет с учетом изменений
      span.analityc-graphics_round-next
      span.analityc-graphics_round-prev
      +legend(getData('legend-moscow-gp')).analityc-graphics__legend

mixin analityc-graphics-column3()
  +b.analityc-graphics&attributes(attributes)._column
    +e.P.periodtext
      span Плановый период
    .swiper-container.column-graphics_slider
      +e.cols.swiper-wrapper
        +e.col.swiper-slide
          +e.P.year 2017
          +e.graphic._column
            .column
              .column__value 4,1
              +column-area('violet', '30', '0,4')
              +column-area('green', '50', '0,9')
              +column-area('pink', '100', '2,6')
              +column-area('blue', '15', '0,2')
            .subcolumn
              +subcolumn-area('violet', '+0,2')
              +subcolumn-area('green', '+0,1')
              +subcolumn-area('pink', '+0,4')
              +subcolumn-area('blue', '+0,2')
            .column
              .column__value 5,0
              +column-area('violet', '40', '0,6')
              +column-area('green', '60', '1,0')
              +column-area('pink', '120', '3,0')
              +column-area('blue', '30', '0,4')
          +e.bottom
            p Бюджет утвержденный
            p Бюджет с учетом изменений
        +e.col.swiper-slide
          +e.SPAN.period-left
          +e.P.year 2018
          +e.graphic._column
            .column
              .column__value 4,1
              +column-area('violet', '30', '0,4')
              +column-area('green', '50', '0,9')
              +column-area('pink', '100', '2,6')
              +column-area('blue', '15', '0,2')
            .subcolumn
              +subcolumn-area('violet', '+0,2')
              +subcolumn-area('green', '+0,1')
              +subcolumn-area('pink', '+0,4')
              +subcolumn-area('blue', '+0,2')
            .column
              .column__value 5,0
              +column-area('violet', '40', '0,6')
              +column-area('green', '60', '1,0')
              +column-area('pink', '120', '3,0')
              +column-area('blue', '30', '0,4')
          +e.bottom
            p Бюджет утвержденный
            p Бюджет с учетом изменений
        +e.col.swiper-slide
          +e.SPAN.period-right
          +e.P.year 2019
          +e.graphic._column
            .column
              .column__value 4,1
              +column-area('violet', '30', '0,4')
              +column-area('green', '50', '0,9')
              +column-area('pink', '100', '2,6')
              +column-area('blue', '15', '0,2')
            .subcolumn
              +subcolumn-area('violet', '+0,2')
              +subcolumn-area('green', '+0,1')
              +subcolumn-area('pink', '+0,4')
              +subcolumn-area('blue', '+0,2')
            .column
              .column__value 5,0
              +column-area('violet', '40', '0,6')
              +column-area('green', '60', '1,0')
              +column-area('pink', '120', '3,0')
              +column-area('blue', '30', '0,4')
          +e.bottom
            p Бюджет утвержденный
            p Бюджет с учетом изменений
      span.analityc-graphics_round-next
      span.analityc-graphics_round-prev
      +legend(getData('legend-mrelations3')).analityc-graphics__legend

mixin analityc-graphics-column4()
  +b.analityc-graphics&attributes(attributes)._column
    +e.P.periodtext
      span Плановый период
    +e.P.toptext МЛРД РУБ.
    .swiper-container.column-graphics_slider
      +e.cols.swiper-wrapper
        +e.col.swiper-slide
          +e.P.year 2017
          +e.graphic._column
            .column
              .column__value 435,5
              +column-area('blue', '127', '227,5')
              +column-area('pink', '24', '24,6')
              +column-area('green', '57', '157,4')
              +column-area('orange', '25', '25,0')
            .subcolumn
              +subcolumn-area('blue', '+10,0')
              +subcolumn-area('pink', '+10,0')
              +subcolumn-area('green', '+10,0')
              +subcolumn-area('orange', '+10,0')
            .column
              .column__value 474,5
              +column-area('blue', '137', '237,5')
              +column-area('pink', '34', '34,6')
              +column-area('green', '67', '167,4')
              +column-area('orange', '25', '25,0')
          +e.bottom
            p Бюджет утвержденный
            p Бюджет с учетом изменений
        +e.col.swiper-slide
          +e.SPAN.period-left
          +e.P.year 2018
          +e.graphic._column
            .column
              .column__value 438,0
              +column-area('blue', '127', '209,8')
              +column-area('pink', '24', '25,2')
              +column-area('green', '57', '176,5')
              +column-area('orange', '25', '25,5')
            .subcolumn
              +subcolumn-area('blue', '+10,0')
              +subcolumn-area('pink', '+10,0')
              +subcolumn-area('green', '+10,0')
              +subcolumn-area('orange', '+10,0')
            .column
              .column__value 468,0
              +column-area('blue', '137', '219,8')
              +column-area('pink', '34', '35,2')
              +column-area('green', '67', '186,5')
              +column-area('orange', '25', '25,5')
          +e.bottom
            p Бюджет утвержденный
            p Бюджет с учетом изменений
        +e.col.swiper-slide
          +e.SPAN.period-right
          +e.P.year 2019
          +e.graphic._column
            .column
              .column__value 436,6
              +column-area('blue', '127', '211,1')
              +column-area('pink', '24', '24,5')
              +column-area('green', '57', '173,5')
              +column-area('orange', '25', '26,5')
            .subcolumn
              +subcolumn-area('blue', '+10,0')
              +subcolumn-area('pink', '+10,0')
              +subcolumn-area('green', '+10,0')
              +subcolumn-area('orange', '+10,0')
            .column
              .column__value 466,6
              +column-area('blue', '137', '221,1')
              +column-area('pink', '34', '34,5')
              +column-area('green', '67', '183,5')
              +column-area('orange', '25', '26,5')
          +e.bottom
            p Бюджет утвержденный
            p Бюджет с учетом изменений
      span.analityc-graphics_round-next
      span.analityc-graphics_round-prev
      +legend(getData('legend-moscow-gp')).analityc-graphics__legend

//- legendtype - тип легенды(json файл)
mixin analityc-graphics-singleround(legendtype)
  +b.analityc-graphics&attributes(attributes)._singleround
    +e.cols
      +e.col
        +e.P.year 2016
        +e.graphic._round
          .segment-diagram#diagram-22
            .segment-diagram__value
              p.segment-diagram__value-num 1885,7
              span.segment-diagram__val 20,8%
              span.segment-diagram__val 14,3%
              span.segment-diagram__val 12,2%
              span.segment-diagram__val 21,9%
              span.segment-diagram__val 7,7%
              span.segment-diagram__val 23,2%
      +e.col
        if legendtype == 'income1'
          +legend(getData('legend-income1')).analityc-graphics__legend.analityc-graphics__legend_vert
        if legendtype == 'income2'
          +legend(getData('legend-income2')).analityc-graphics__legend.analityc-graphics__legend_vert
        if legendtype == 'expenses1'
          +legend(getData('legend-expenses1')).analityc-graphics__legend.analityc-graphics__legend_vert
        if legendtype == 'expenses2'
          +legend(getData('legend-expenses2')).analityc-graphics__legend.analityc-graphics__legend_vert
        if legendtype == 'expenses3'
          +legend(getData('legend-expenses3')).analityc-graphics__legend.analityc-graphics__legend_vert
        if legendtype == 'expenses4'
          +legend(getData('legend-expenses4')).analityc-graphics__legend.analityc-graphics__legend_vert
        if legendtype == 'expenses5'
          +legend(getData('legend-expenses5')).analityc-graphics__legend.analityc-graphics__legend_vert

mixin analityc-graphics-singleround2()
  +b.analityc-graphics&attributes(attributes)._singleround
    +e.cols
      +e.col
        +e.P.year 2016
        +e.graphic._round
          .segment-diagram#diagram-36
            .segment-diagram__value
              p.segment-diagram__value-num 434,5
              span.segment-diagram__val 41%
              span.segment-diagram__val 10%
              span.segment-diagram__val 48%
              span.segment-diagram__val 1%

      +e.col
        +legend(getData('legend-moscow-gp')).analityc-graphics__legend.analityc-graphics__legend_vert

mixin analityc-graphics-singleround3()
  +b.analityc-graphics&attributes(attributes)._singleround
    +e.cols
      +e.col
        +e.P.year 2016
        +e.graphic._round
          .segment-diagram#diagram-43
            .segment-diagram__value
              p.segment-diagram__value-num 40,0
              span.segment-diagram__val 13%
              span.segment-diagram__val 50%
              span.segment-diagram__val 18%

      +e.col
        +legend(getData('legend-mrelations1')).analityc-graphics__legend.analityc-graphics__legend_vert

mixin analityc-graphics-singleround4()
  +b.analityc-graphics&attributes(attributes)._singleround
    +e.cols
      +e.col
        +e.P.year 2012
        +e.graphic._round
          .segment-diagram#diagram-47
            .segment-diagram__value
              p.segment-diagram__value-num 41,9
              span.segment-diagram__val.segment-diagram__val_dark 5,0%
              span.segment-diagram__val 27,0%
              span.segment-diagram__val 68,0%
      +e.col
        +e.P.year 2012-2018
        +e.graphic._round
          .segment-diagram#diagram-48
            .segment-diagram__value
              p.segment-diagram__value-num 382,4
              span.segment-diagram__val.segment-diagram__val_dark 12,1%
              span.segment-diagram__val 21,1%
              span.segment-diagram__val 66,8%
      +e.col
        +legend(getData('legend-govProgram')).analityc-graphics__legend.analityc-graphics__legend_vert

mixin analityc-graphics-singleround5()
  +b.analityc-graphics&attributes(attributes)._singleround
    +e.cols
      +e.col
        +e.P.year 2016
        +e.graphic._round
          .segment-diagram#diagram-49
            .segment-diagram__value
              p.segment-diagram__value-num 435,5
              span.segment-diagram__val 37%
              span.segment-diagram__val 10%
              span.segment-diagram__val 48%
              span.segment-diagram__val 5%

      +e.col
        +legend(getData('legend-moscow-gp')).analityc-graphics__legend.analityc-graphics__legend_vert


//- legendtype - тип легенды(json файл)
mixin analityc-graphics-singleround-alt(legendtype)
  +b.analityc-graphics&attributes(attributes)._singleround
    +e.cols
      +e.col
        +e.P.year 2016
        +e.graphic._round
          .segment-diagram#diagram-22
            .segment-diagram__value
              p.segment-diagram__value-num 1885,7
              span.segment-diagram__val 20,8%
              span.segment-diagram__val  14,3%
              span.segment-diagram__val  12,2%
              span.segment-diagram__val  21,9%
              span.segment-diagram__val  7,7%
              span.segment-diagram__val  23,2%
    if legendtype == 'income1'
      +legend(getData('legend-income1')).analityc-graphics__legend
    if legendtype == 'income2'
      +legend(getData('legend-income2')).analityc-graphics__legend
    if legendtype == 'expenses1'
      +legend(getData('legend-expenses1')).analityc-graphics__legend
    if legendtype == 'expenses2'
      +legend(getData('legend-expenses2')).analityc-graphics__legend
    if legendtype == 'expenses3'
      +legend(getData('legend-expenses3')).analityc-graphics__legend
    if legendtype == 'expenses4'
      +legend(getData('legend-expenses4')).analityc-graphics__legend
    if legendtype == 'expenses5'
      +legend(getData('legend-expenses5')).analityc-graphics__legend

//- title - Заголовок графиков
//- data - json файл с данными для графиков
mixin analityc-graphics-line(title, data)
  +b.analityc-graphics&attributes(attributes)._line
    +e.P.toptext МЛРД РУБ.
    +e.P.heading= title
      SPAN.js-dp-output.js-dp-output_others.active 22.04.2017
      SPAN.js-dp-output.js-dp-output_cons 1 февраля 2017
    +e.lines
      each obj in data
        +e.DIV(class="__line_"+obj.color+"" data-val1=obj.value1 data-val2=obj.value2 data-barval=obj.barvalue)
          if obj.strong
            +e.P.line-title
              strong= obj.title
          else
            +e.P.line-title= obj.title
          +e.line-values
            = obj.value1
            span /
            = obj.value2
          if obj.overwidth
            +e.line-bar._overwidth
              +e.line-total
              +e.SPAN.line-bar-value= obj.barvalue
              +e.line-abs= obj.barvalue
              +e.line-fill
          else
            +e.line-bar
              +e.line-total
              +e.SPAN.line-bar-value= obj.barvalue
              +e.line-abs= obj.barvalue
              +e.line-fill

mixin analityc-graphics-multiline(data)
  +b.analityc-multiline&attributes(attributes)
    p.analityc-graphics__periodtext
      span Плановый период
    .graphic__row
      .graphic__title
      span.graphic__data.graphic__data_green(data-char='2017') 2017
      span.graphic__data.graphic__data_red(data-char='2018') 2018
        span.graphic__period-left
      span.graphic__data.graphic__data_blue(data-char='2019') 2019
        span.graphic__period-right
      span.graphic__data
    each obj in data
      +e.DIV(class="__line_"+obj.class)
        +e.A(href="#").title= obj.title
          +icon(obj.icon).title-icon
        +e.line-wrap
          +e.line-bar
            +e.line-total._green
              +e.line-value= obj.values[0]
              +e.line-abs= obj.values[0]
            +e.line-total._red
              +e.line-value= obj.values[1]
              +e.line-abs= obj.values[1]
            +e.line-total._blue
              +e.line-value= obj.values[2]
              +e.line-abs= obj.values[2]
            +e.SPAN.line-bar-value= obj.barvalue

mixin analityc-graphics-line-alt(data, title)
  +b.analityc-line&attributes(attributes)._line
    if title
      P.analityc-graphics__heading= title
        SPAN.js-dp-output.js-dp-output_others.active 22.04.2017
        SPAN.js-dp-output.js-dp-output_cons 1 февраля 2017
    P.analityc-graphics__toptext МЛРД РУБ.
    +e.lines
      each obj in data
        +e.DIV(class="__line_"+obj.class)
          +e.A(href="#").title
            span= obj.title
            +icon(obj.icon).title-icon
          +e.line-wrap
            +e.line-bar
              +e.line-total._altred
              +e.line-fill
                +e.line-value= obj.value
                +e.line-abs= obj.value
            +e.SPAN.line-bar-value= obj.barvalue

//- moscow_gov_program
mixin analityc-graphics-mix(data)
  +b.analityc-mix&attributes(attributes)
    +e.round
      +e.round-title= data.roundTitle
      +e.round-content

        .segment-diagram(id='diagram-' + data.diagramId)
          .segment-diagram__value
            p.segment-diagram__value-num 1830,3
            span.segment-diagram__val= data.diagramVal[0]
            span.segment-diagram__val.segment-diagram__val_dark= data.diagramVal[1]

    +e.lines._social-gp
      each item in data.item1
        +e.line
          if item.strong
            +e.P.title
              strong= item.title
          else
            +e.P.title= item.title
              +icon(item.icon).title-icon
          +e.line-wrap
            if item.overwidth
              +e.line-bar._overwidth
                +e.line-values
                  = item.value1
                  span /
                  +e.SPAN.js-grmix-val= item.value2
                +e.line-fill
            else
              +e.line-bar
                +e.line-values
                  = item.value1
                  span /
                  +e.SPAN.js-grmix-val= item.value2
                  +e.line-fill

    +e.lines._other-gp
      each item in data.item2
        +e.line
          if item.strong
            +e.P.title
              strong= item.title
          else
            +e.P.title= item.title
              +icon('edu-hat').title-icon
          +e.line-wrap
            if item.overwidth
              +e.line-bar._overwidth
                +e.line-values
                  = item.value1
                  span /
                  +e.SPAN.js-grmix-val= item.value2
                +e.line-fill
            else
              +e.line-bar
                +e.line-values
                  = item.value1
                  span /
                  +e.SPAN.js-grmix-val= item.value2
                  +e.line-fill
          

mixin analityc-graphics-js-line(title, data)
  +b.analityc-js-line&attributes(attributes)
    P.analityc-graphics__heading= title
      SPAN.js-dp-output.js-dp-output_others.active 22.04.2017
      SPAN.js-dp-output.js-dp-output_cons 1 февраля 2017
    P.analityc-graphics__toptext МЛРД РУБ.
    +e.wrapper
      each item in data.item
        if item.strong
          +e.line._outer._big
            +e.left-block
              +e.P.title
                strong= item.title
              +e.line-bar
                +e.line-total._altred
                +e.line-fill
                  +e.line-values
                    = item.value1
                    span /
                    = item.value2
                +e.SPAN.line-bar-value= item.barvalue
            +e.right-block
              each items in item.items
                +e.line
                  +e.P.title= items.title
                  +e.line-bar
                    +e.line-total._altred
                    +e.line-fill
                      +e.line-values
                        = items.value1
                        span /
                        = items.value2
                    +e.SPAN.line-bar-value= items.barvalue
        else
          +e.line._outer
            +e.left-block
              +e.P.title= item.title
              +e.line-bar
                +e.line-total._altred
                +e.line-fill
                  +e.line-values
                    = item.value1
                    span /
                    = item.value2
                +e.SPAN.line-bar-value= item.barvalue
            +e.right-block
              each items in item.items
                +e.line
                  +e.P.title= items.title
                  +e.line-bar
                    +e.line-total._altred
                    +e.line-fill
                      +e.line-values
                        = items.value1
                        span /
                        = items.value2
                    +e.SPAN.line-bar-value= items.barvalue

            //- data - json файл с данными для графиков
mixin analityc-graphics-line-vertical(data, isWide)
  +b.analityc-graphics-line-vertical&attributes(attributes)

    each item in data
      +e.graphic(data-set=item.set)
        +e.lines

          if isWide
            +e.line._pink
              +e.line-bar-value= item.values[0]
              +e.line-fill
            +e.line._greenyellow
              +e.line-bar-value= item.values[1]
              +e.line-fill
            +e.line._violet
              +e.line-bar-value= item.values[2]
              +e.line-fill
            +e.line._gray
              +e.line-bar-value= item.values[3]
              +e.line-fill
            +e.line._blue
              +e.line-bar-value= item.values[4]
              +e.line-fill
            +e.line._green
              +e.line-bar-value= item.values[5]
              +e.line-fill
            +e.line._red
              +e.line-bar-value= item.values[6]
              +e.line-fill
          else
            +e.line._altblue
              +e.line-bar-value= item.values[0]
              +e.line-fill
            +e.line._pink
              +e.line-bar-value= item.values[1]
              +e.line-fill
            +e.line._green._neg
              +e.line-bar-value= item.values[2]
              +e.line-fill

        +e.caption
          +e.STRONG.caption-year(data-set-year)= item.year
          +e.SPAN.caption-text(data-set-stage)= item.text

mixin analityc-graphics-line-vertical_slider(data, isWide)
  +b.analityc-graphics-line-vertical._slider.swiper-container&attributes(attributes)

    +e.wrapper.swiper-wrapper
      each item in data
        +e.graphic.swiper-slide
          +e.lines

            if isWide
              +e.line._pink
                +e.line-bar-value= item.values[0]
                +e.line-fill
              +e.line._greenyellow
                +e.line-bar-value= item.values[1]
                +e.line-fill
              +e.line._violet
                +e.line-bar-value= item.values[2]
                +e.line-fill
              +e.line._gray
                +e.line-bar-value= item.values[3]
                +e.line-fill
              +e.line._blue
                +e.line-bar-value= item.values[4]
                +e.line-fill
              +e.line._green
                +e.line-bar-value= item.values[5]
                +e.line-fill
              +e.line._red
                +e.line-bar-value= item.values[6]
                +e.line-fill
            else
              +e.line._altblue
                +e.line-bar-value= item.values[0]
                +e.line-fill
              +e.line._pink
                +e.line-bar-value= item.values[1]
                +e.line-fill
              +e.line._green._neg
                +e.line-bar-value= item.values[2]
                +e.line-fill

          +e.caption
            +e.STRONG.caption-year= item.year
            +e.SPAN.caption-text= item.text

  +icon('angle-arrow', true).analityc-graphics-line-vertical__next.swiper-button-next
  +icon('angle-arrow', true).analityc-graphics-line-vertical__prev.swiper-button-prev

mixin analityc-graphics-line-vertical_vmo(data)
  +b.analityc-graphics-line-vertical._vmo&attributes(attributes)
    each item in data
      +e.graphic(data-year=item.year data-percent=item.percent data-val1=item.values[0] data-val2=item.values[1])
        +e.lines
          +e.line._transparentpink
            +e.line-fill
              +e.line-bar-value= item.values[0]
          +e.line._pink2
            +e.line-fill
              +e.line-bar-value= item.values[1]
              +e.line-bar-value._percent= item.percent
        +e.caption
          +e.STRONG.caption-year= item.year

mixin analityc-graphics-line-vertical-vmo_slider(data, isWide)
  +b.analityc-graphics-line-vertical._slider._vmo.swiper-container&attributes(attributes)

    .swiper-wrapper
      each item in data
        +e.graphic.swiper-slide(data-year=item.year data-percent=item.percent data-val1=item.values[0] data-val2=item.values[1])
          +e.lines
            +e.line._transparentpink
              +e.line-fill
                +e.line-bar-value= item.values[0]
            +e.line._pink2
              +e.line-fill
                +e.line-bar-value= item.values[1]
                +e.line-bar-value._percent= item.percent
          +e.caption
            +e.STRONG.caption-year= item.year

  +icon('angle-arrow', true).analityc-graphics-line-vertical__next.swiper-button-next
  +icon('angle-arrow', true).analityc-graphics-line-vertical__prev.swiper-button-prev


mixin analityc-graphics-line-vertical-alt(data)
  +b.analityc-graphics-line-vertical._alt&attributes(attributes)

    each item in data
      +e.graphic(data-set=item.set)
        +e.lines

          +e.line._red(data-name=item.names[0])
            +e.line-bar-value= item.values[0]
            +e.line-fill
          +e.line._green(data-name=item.names[1])
            +e.line-bar-value= item.values[1]
            +e.line-fill
          +e.line._pink(data-name=item.names[2])
            +e.line-bar-value= item.values[2]
            +e.line-fill
          +e.line._grey(data-name=item.names[3])
            +e.line-bar-value= item.values[3]
            +e.line-fill
          +e.line._altblue(data-name=item.names[4])
            +e.line-bar-value= item.values[4]
            +e.line-fill
          +e.line._lightgreen(data-name=item.names[5])
            +e.line-bar-value= item.values[5]
            +e.line-fill
          +e.line._blue(data-name=item.names[6])
            +e.line-bar-value= item.values[6]
            +e.line-fill

        +e.caption
          +e.STRONG.caption-year
            span(data-set-month)= item.month
            span(data-set-year)= item.year
          +e.SPAN.caption-text(data-set-stage)= item.text


mixin analityc-graphics-line-gorizontal(data)
  +b.analityc-graphics-line-gorizontal&attributes(attributes)

    +e.top
      +e.captions
        each item in data
          +e.caption= item.city 

      +e.lines
        +e.lines-layout
          each item in data      
            +e.lines-wrap
              +e.line._yellow
                +e.line-bar-value= item.values[0]
              +e.line._altblue
                +e.line-bar-value= item.values[1]
              +e.line._pink
                +e.line-bar-value= item.values[2]

    +e.bottom
      +e.SPAN.data Города
      +e.UL.units
        +e.LI.unit
          span -10
        +e.LI.unit
          span 0
        +e.LI.unit
          span 10
        +e.LI.unit
          span 20
        +e.LI.unit
          span 30
        +e.LI.unit
          span 40
        +e.LI.unit
          span 50
        +e.LI.unit
          span 60
        +e.LI.unit
          span 70
        +e.LI.unit
          span 80
        +e.LI.unit
          span 90
        +e.LI.unit 
          span 100
        +e.LI.unit
          span 110
        +e.LI.unit
          span 120
      +e.P.measurement млрд дол США ($)

    +e.legend
      +legend(getData('legend-moscow'))


mixin analityc-graphics-classic(data)
  //.analityc-table._gr-classic
    +slide-arrows().__slide-arrows
    +b.analityc-graphics-classic.analityc-table__wrapper(data-offset='100')&attributes(attributes)
  +b.analityc-graphics-classic&attributes(attributes)
    +e.wrapper
      +e.clipper
        +e.part._lines
          each item in data
            +e.item(data-set=item.set)
              +e.item-wrapper._income(data-val=item.income)
                +e.val= item.income + '%'
                +e.line
              +e.item-wrapper._expenses(data-val=item.expenses) 
                +e.val= item.expenses + '%'
                +e.line
      +e.part._captions
        each year in data
          +e.item(data-set=year.set)
            +e.item-wrapper-bottom
              +e.val(data-set-year)= year.year
              +e.stage(data-set-stage)= year.stage

mixin analityc-graphics-custom1()
  +b.analityc-graphics-custom&attributes(attributes)
    //- реализация на js

mixin analityc-graphics-custom2()
  +b.analityc-graphics-custom&attributes(attributes)
    //- реализация на js

mixin analityc-graphics-bars(data)
  +b.analityc-graphics-bars&attributes(attributes)

    each item in data
      +e.graphic(data-set=item.set)
        +e.lines
          +e.line
            +e.line-bar-value= item.value
            
            - for (var i = item.bars.length - 1; i > -1; i--)
              +e.line-fill(class='_'+item.bars[i].color+'', data-height=item.bars[i].height, data-name=item.bars[i].name)
                +e.val= item.bars[i].barvalue
                if item.rateline
                  +e.rate-line
                
          if item.changes
            if item.changes[2]
              +e.changes._neg
                +e.abs= item.changes[0]
                +e.percent= item.changes[1]
            else
              +e.changes
                +e.abs= item.changes[0]
                +e.percent= item.changes[1]
                
        +e.caption
          if item.month
            +e.STRONG.caption-year
              span(data-set-month)= item.month
              span(data-set-year)= item.year
          else
            +e.STRONG.caption-year(data-set-year)= item.year
          +e.SPAN.caption-text(data-set-stage)= item.text

mixin analityc-graphics-bars-alt(data)
  +b.analityc-graphics-bars&attributes(attributes)

    each item in data
      +e.graphic(data-set=item.set data-rate=item.rate)
        +e.lines
          +e.line
          
            if item.year
              +e.line-bar-value= item.value
              
              - for (var i = item.bars.length - 1; i > -1; i--)
                +e.line-fill(class='_'+item.bars[i].color+'', data-height=item.bars[i].height, data-name=item.bars[i].name)
                  +e.val= item.bars[i].barvalue
                  
            if item.rate
            
              - for (var i = item.bars.length - 1; i > -1; i--)
                +e.line-fill-area(data-name=item.bars[i].name)
                  +e.line-fill(class='_'+item.bars[i].color+'')
                  
                  if item.bars[i].change
                    +e.val= item.bars[i].change[0]
                      br
                      = item.bars[i].change[1]

          if item.changes
            if item.changes[2]
              +e.changes._neg
                +e.abs= item.changes[0]
                +e.percent= item.changes[1]
            else
              +e.changes
                +e.abs= item.changes[0]
                +e.percent= item.changes[1]
                
        +e.caption
          if !item.rate
            +e.STRONG.caption-year(data-set-year)= item.year
            +e.SPAN.caption-text(data-set-stage)= item.text



//- Темп роста
mixin growth-rate(minrate, maxrate, height)
  +b.growth-rate&attributes(attributes)(data-minrate=minrate, data-maxrate=maxrate, data-height=height)
    block
    
mixin growth-rate-col(level, text, last)
  +e.col&attributes(attributes)
    +e.P.level(data-rate-level=level)= text
      if !last
        +e.line



//- Государственный долг
mixin analityc-graphics-govdebt-approved()
  +b.analityc-graphics&attributes(attributes)._approved
    +e.P.periodtext
      span Плановый период
    +e.graphic-container
      +slide-arrows().__slide-arrows
      +e.graphic-slider(data-offset='sliderwidth')
        +e.graphic-wrapper
          +e.head
            +e.col
              +e.P.year 2017
            +e.col
              +e.SPAN.period-left
              +e.P.year 2018
            +e.col
              +e.SPAN.period-right
              +e.P.year 2019
          +growth-rate(2.9, 5, 70)._blue._columns.__growth-rate._level
            +growth-rate-col('3.5', '3,5%')
            +growth-rate-col('3.1', '3,1%')
            +growth-rate-col('2.9', '2,9%', true)
          +growth-rate(57.1, 87.6, 70)._pink._columns.__growth-rate._limit
            +growth-rate-col('87.6', '87,6')
            +growth-rate-col('61.5', '61,5')
            +growth-rate-col('57.1', '57,1', true)
          +e.columns
            +e.col
              +e.graphic._limitcolumn
                +e.P.limitcolumn-value 61,5
            +e.col
              +e.graphic._limitcolumn
                +e.P.limitcolumn-value 57,1
            +e.col
              +e.graphic._limitcolumn
                +e.P.limitcolumn-value 57,1
    +legend(getData('legend-govdebt1')).__legend

mixin analityc-graphics-govdebt-changes()
  +b.analityc-graphics&attributes(attributes)._changes
    +e.P.periodtext
      span Плановый период
    +e.graphic-container
      +slide-arrows().__slide-arrows
      +e.graphic-slider(data-offset='sliderwidth')
        +e.graphic-wrapper
          +e.cols
            +e.col
              +e.P.year 2017
              +e.changes._neg
                +e.abs +14,0
                +e.percent +22,8%
              +e.graphic._double-column
                +e.graphic-column
                  +e.graphic-column-val 61,5
                +e.graphic-column
                  +e.graphic-column-val 75,5
              +e.bottom
                p Бюджет утвержденный
                p Бюджет с учетом изменений
            +e.col
              +e.SPAN.period-left
              +e.P.year 2018
              +e.changes._rev
                +e.abs -10,0
                +e.percent -3,8%
              +e.graphic._double-column
                +e.graphic-column
                  +e.graphic-column-val 61,5
                +e.graphic-column
                  +e.graphic-column-val 47,1
              +e.bottom
                p Бюджет утвержденный
                p Бюджет с учетом изменений
            +e.col
              +e.SPAN.period-right
              +e.P.year 2019
              +e.graphic._double-column
                +e.graphic-column
                  +e.graphic-column-val 57,1
                +e.graphic-column
                  +e.graphic-column-val 57,1
              +e.bottom
                p Бюджет утвержденный
                p Бюджет с учетом изменений
    +b.legend.__legend
      +e.P.item._yellow Верхний предел государственного долга, млрд руб.

mixin analityc-graphics-govdebt-date()
  +b.analityc-graphics&attributes(attributes)._date
    +e.P.graphic-heading Объем государственного долга на
      SPAN.js-dp-output.js-dp-output_cons.active 1 февраля 2017
    +e.cols
      +e.col._wide
        +e.graphic-triangle
          img(src="assets/images/graphics-border.svg")
          +e.graphic-angle._big
            .segment-diagram#diagram-23
              .segment-diagram__value
                p.segment-diagram__value-num 71,5
                span.segment-diagram__val 68,8%
                span.segment-diagram__val  10,0%
                span.segment-diagram__val  12,5%
                span.segment-diagram__val 0,7%
          +e.graphic-angle._right-top
            p.graphic-text Внутренний долг
            .segment-diagram#diagram-24
              .segment-diagram__value
                p.segment-diagram__value-num 61,5
                span.segment-diagram__val 68,8%
                span.segment-diagram__val  10,0%
                span.segment-diagram__val  12,5%
                span.segment-diagram__val 0,7%
          +e.graphic-angle._right-bottom
            p.graphic-text Внешний долг
            .segment-diagram#diagram-25
              .segment-diagram__value
                p.segment-diagram__value-num 0,0
                span.segment-diagram__val.segment-diagram__val_dark 0,0%
                //span.segment-diagram__val  50,0%
      +e.col
        +b.legend.__legend._vert
          +e.P.item._pink
            +icon('depfin-icons-28').__icon._pink
            | Развитие транспортной системы
          +e.P.item._blue
            +icon('depfin-icons-29').__icon._blue
            | Банковские кредиты
          +e.P.item._green
            +icon('depfin-icons-30').__icon._green
            | Бюджетные кредиты
          +e.P.item._yellow
            +icon('depfin-icons-27').__icon._yellow
            | Государственные гарантии

mixin analityc-graphics-govdebt-repayment()
  +b.analityc-graphics&attributes(attributes)._repayment
    +e.graphic-container
      +slide-arrows().__slide-arrows
      +e.graphic-slider(data-offset='sliderwidth')
        +e.graphic-wrapper._noslide
          +e.graphic._multicolumn
            +e.graphic-column
              +e.graphic-column-fill
                +e.P.graphic-column-val 26,1
            +e.graphic-column._low
              +e.graphic-column-fill
                +e.P.graphic-column-val 4,4
            +e.graphic-column._zero
              +e.graphic-column-fill
                +e.P.graphic-column-val 0,0
            +e.graphic-column._zero
              +e.graphic-column-fill
                +e.P.graphic-column-val 0,0
            +e.graphic-column._zero
              +e.graphic-column-fill
                +e.P.graphic-column-val 0,0
            +e.graphic-column
              +e.graphic-column-fill
                +e.P.graphic-column-val 30,0
            +e.graphic-column._low
              +e.graphic-column-fill
                +e.P.graphic-column-val 1,5
          +e.graphic-years
            +e.P.graphic-year 2017
            +e.P.graphic-year 2018
            +e.P.graphic-year 2019
            +e.P.graphic-year 2020
            +e.P.graphic-year 2021
            +e.P.graphic-year 2022
            +e.P.graphic-year 2025-2034
    +b.legend.__legend
      +e.P.item._nvioletblue Прямой долг

//- @qluqua
//- Используется на странице depfin_budget_moscow_aip
mixin analityc-graphics-aip(legendtype)
  +b.analityc-graphics&attributes(attributes)._aip
    +e.P.periodtext
      span Плановый период
    .swiper-container.round-graphics_slider
      +e.cols.swiper-wrapper
        +e.col.swiper-slide
          +e.P.year 2016
          +e.graphic._round
            .segment-diagram#diagram-13
              .segment-diagram__value
                p.segment-diagram__value-num 1885,7
                span.segment-diagram__val 20,8%
                span.segment-diagram__val  14,3%
                span.segment-diagram__val  12,2%
                span.segment-diagram__val  21,9%
                span.segment-diagram__val  7,7%
                span.segment-diagram__val  23,2%
        +e.col.swiper-slide
          +e.P.year 2017
          +e.graphic._round
            .segment-diagram#diagram-10
              .segment-diagram__value
                p.segment-diagram__value-num 1885,7
                span.segment-diagram__val 20,8%
                span.segment-diagram__val  14,3%
                span.segment-diagram__val  12,2%
                span.segment-diagram__val  21,9%
                span.segment-diagram__val  7,7%
                span.segment-diagram__val  23,2%
        +e.col.swiper-slide
          +e.SPAN.period-left
          +e.P.year 2018
          +e.graphic._round
            .segment-diagram#diagram-11
              .segment-diagram__value
                p.segment-diagram__value-num 1885,7
                span.segment-diagram__val 20,8%
                span.segment-diagram__val  14,3%
                span.segment-diagram__val  12,2%
                span.segment-diagram__val  21,9%
                span.segment-diagram__val  7,7%
                span.segment-diagram__val  23,2%
        +e.col.swiper-slide
          +e.SPAN.period-right
          +e.P.year 2019
          +e.graphic._round
            .segment-diagram#diagram-12
              .segment-diagram__value
                p.segment-diagram__value-num 1885,7
                span.segment-diagram__val 20,8%
                span.segment-diagram__val  14,3%
                span.segment-diagram__val  12,2%
                span.segment-diagram__val  21,9%
                span.segment-diagram__val  7,7%
                span.segment-diagram__val  23,2%
      span.analityc-graphics_round-next
      span.analityc-graphics_round-prev
      +legend-icon-woch()

//- Прогноз социально-экономического развития города Москвы (численность населения)
mixin analityc-graphics-forecast-population()
  +b.analityc-graphics-rate-columns&attributes(attributes)
    +growth-rate(100.0, 101.5, 15)._orange._columns.__growth-rate
      +growth-rate-col('100.0', '100,0%')
      +growth-rate-col('101.1', '101,1%')
      +growth-rate-col('100.9', '100,9%')
      +growth-rate-col('100.7', '100,7%')
      +growth-rate-col('100.7', '100,7%', true)
    +e.population
      +e.col
        +e.graphic-column(data-height="87%")
          +e.P.population-value 12 263,9
      +e.col
        +e.graphic-column(data-height="91%")
          +e.P.population-value 12 263,9
      +e.col
        +e.graphic-column(data-height="100%")
          +e.P.population-value 12 263,9
      +e.col
        +e.graphic-column(data-height="100%")
          +e.P.population-value 12 263,9
      +e.col
        +e.graphic-column(data-height="100%")
          +e.P.population-value 12 263,9
    +e.captions
      +e.col
        +e.P.caption 2015
          span Факт
      +e.col
        +e.P.caption 2016
          span Оценка
      +e.col
        +e.P.caption 2017
          span План
      +e.col
        +e.P.caption 2018
          span План
      +e.col
        +e.P.caption 2019
          span План
    +b.legend.__legend
      +e.P.item._blue Тыс. чел.
      +e.P.item._redline Темп роста к предыдущему периоду, %
  
//- Прогноз социально-экономического развития города Москвы (индекс промышленного производства)
mixin analityc-graphics-forecast-industry()
  +b.analityc-graphics-broken-line&attributes(attributes)
    +growth-rate(64, 102, 180)._orange._points.__growth-rate
      +growth-rate-col('94.9', '94,9%')
      +growth-rate-col('98.6', '98,6%')
      +growth-rate-col('98.8', '98,8%')
      +growth-rate-col('102.6', '102,6%')
      +growth-rate-col('101.1', '101,1%', true)
    +e.captions
      +e.col
        +e.P.caption 2015
          span Факт
      +e.col
        +e.P.caption 2016
          span Оценка
      +e.col
        +e.P.caption 2017
          span План
      +e.col
        +e.P.caption 2018
          span План
      +e.col
        +e.P.caption 2019
          span План
    +b.legend.__legend
      +e.P.item._orangeline в % к предыдущему году в сопоставимых основных ценах

//- Аналитика - Государственный долг (уровень долговой нагрузки)
mixin analityc-graphics-analytics-gov-debt-line()
  +b.analityc-graphics-broken-line&attributes(attributes)
    +growth-rate(8, 15, 70)._grey._points.__growth-rate
      +growth-rate-col('10.0', '10,0%')(data-set='gt1')
      +growth-rate-col('12.0', '12,0%')(data-set='gt2')
      +growth-rate-col('15.0', '15,0%')(data-set='gt3')
      +growth-rate-col('10.0', '10,0%')(data-set='gt4')
      +growth-rate-col('8.0', '8,0%', true)(data-set='gt5')
