include ../../blocks/legend/legend
include ../../blocks/icon/icons
include ../../blocks/checkbox/checkbox
include ../../blocks/link/link
//- type - тип шапки доходов бюджета (один из четырех)
mixin analityc-widgethead-income(type)
  +b.analityc-widgethead&attributes(attributes)
    .analityc-control-group._year
      span Год
      select.analityc-select
        option(selected) 2017
        option 2016
        option 2015
    .analityc-control-group._stage
      span Этап
      select.analityc-select
        option(selected) Закон о бюджете утвержденный
        option Закон о внесении изменений
        option Закон об исполнении
        option Исполнение на дату
    .analityc-control-group._level
      span Уровень
      select.analityc-select
        option(selected) Бюджет москвы
        option Бюджет области
        option Бюджет региона
        option Консолидированный бюджет
    .analityc-control-group._transfer
      span Классификация доходов
      select.analityc-select
        option(selected) Виды
        option Виды
    .analityc-control-switcher.analityc-control-switcher_default.active
      a(href="#").active %
      a(href="#") млрд руб.
    .analityc-control-buttons.active
      a(href="#").analityc-control-button.analityc-control-button_graphics.active
        +icon('graphic', true)
      a(href="#").analityc-control-button.analityc-control-button_table
        +icon('table', true)
    .analityc-control-switcher.analityc-control-switcher_big
      a(href="#").active млрд руб.
      a(href="#") млн руб.
    .analityc-control-group._dp
      input(placeholder="Выберите дату исполнения", value="Выберите дату исполнения", readonly="readonly").datepicker
    .analityc-control-group._dp-alt.expenses__dp
      select(disabled).analityc-select.analityc-select_date.analityc-select_disabled
        option 01
      select.analityc-select.analityc-select_month
        option(selected=selected) января
        option февраля
        option марта
        option апреля
        option мая
        option июня
        option июля
        option августа
        option сентября
        option октября
        option ноября
        option декабря
      select.analityc-select.analityc-select_year
        option 2014
        option(selected=selected) 2015
        option 2016
        option 2017
        option 2018

//- type - тип шапки расходов бюджета (один из трех)
mixin analityc-widgethead-expenses(type)
  +b.analityc-widgethead&attributes(attributes)
    .analityc-control-group._year
      span Год
      select.analityc-select
        option(selected) 2017
        option 2016
        option 2015
    .analityc-control-group._stage
      span Этап
      select.analityc-select
        option(selected) Закон о бюджете утвержденный
        option Закон о внесении изменений
        option Закон об исполнении
        option Исполнение на дату
    .analityc-control-group._level
      span Уровень
      select.analityc-select
        option(selected) Бюджет москвы
        option Бюджет области
        option Бюджет региона
        option Консолидированный бюджет
    .analityc-control-group._transfer
      span Межбюджетные трансферы
      select.analityc-select
        option(selected) Без межбюджетных трансфертов
        option(disabled) с трансфертами
      p.analityc-popup Принятие закона о бюджете города Москвы происходит до принятия федерального бюджета, в котором установлены суммы межбюджетных трансфертов, поэтому в&nbsp;первоначальной версии бюджета города Москвы отсутствуют межбюджетные трансферты.
    .analityc-control-buttons
      a(href="#").analityc-control-button.analityc-control-button_graphics.active
        +icon('graphic', true)
      a(href="#").analityc-control-button.analityc-control-button_table
        +icon('table', true)
    .analityc-control-switcher.analityc-control-switcher_large.active
      a(href="#").active доля от общей суммы, %
      a(href="#") млрд руб.
    .analityc-control-switcher.analityc-control-switcher_big
      a(href="#").active млрд руб.
      a(href="#") млн руб.
    .analityc-control-group._dp
      input(value="Выберите дату исполнения", readonly="readonly").datepicker

    .analityc-control-group._classify
      span Классификация доходов
      select.analityc-select
        option Целевые статьи (программный и непрограммный тип)
        option Разделы и подразделы
        option Ведомства
        option(selected) Виды

    .analityc-control-group._dp-alt.expenses__dp
      select(disabled).analityc-select.analityc-select_date.analityc-select_disabled
        option 01
      select.analityc-select.analityc-select_month
        option(selected=selected) января
        option февраля
        option марта
        option апреля
        option мая
        option июня
        option июля
        option августа
        option сентября
        option октября
        option ноября
        option декабря
      select.analityc-select.analityc-select_year
        option 2014
        option(selected=selected) 2015
        option 2016
        option 2017
        option 2018

//- Основные параметры
mixin analityc-widgethead-main()
  +b.analityc-widgethead&attributes(attributes)

    .analityc-control-frame.analityc-control-frame_left
      span.analityc-control-frame-title Выберите год и этап
      .analityc-control-group
        a(href='#').analityc-remove-group
          +icon('delete', true)
        select.analityc-select.analityc-select_year
          option 2018
          option 2017
          option 2016
          option(selected) 2015
        select.analityc-select.analityc-select_stage
          option(selected) Фактическое исполнение
          option Закон о бюджете (утвержденный)
      .analityc-control-group
        a(href='#').analityc-remove-group
          +icon('delete', true)
        select.analityc-select.analityc-select_year
          option 2018
          option 2017
          option(selected) 2016
          option 2015
        select.analityc-select.analityc-select_stage
          option(selected) Фактическое исполнение
          option Закон о бюджете (утвержденный)
      .analityc-control-group
        a(href='#').analityc-remove-group
          +icon('delete', true)
        select.analityc-select.analityc-select_year
          option 2018
          option(selected) 2017
          option 2016
          option 2015
        select.analityc-select.analityc-select_stage
          option Фактическое исполнение
          option(selected) Закон о бюджете (утвержденный)

      .analityc-control-group
        a(href='#').analityc-remove-group
          +icon('delete', true)
        select.analityc-select.analityc-select_year
          option(selected) 2018
          option 2017
          option 2016
          option 2015
        select.analityc-select.analityc-select_stage
          option Фактическое исполнение
          option(selected) Закон о бюджете (утвержденный)
      a(href='#').analityc-add-group + Добавить год и этап

    .analityc-control-frame.analityc-control-frame_right
      .frame-wrap
        .analityc-control-group.analityc-control-group_level
          span Уровень
          select.analityc-select
            option(selected) Бюджет москвы
            option Бюджет области
            option Бюджет региона
            option Консолидированный бюджет

        .analityc-control-group.analityc-control-group_transfer
          span Межбюджетные трансферты
          select.analityc-select
            option(selected) Без межбюджетных трансфертов
            option с трансфертами
      
      .analityc-control-group.analityc-control-group_buttons
        .analityc-control-switcher.analityc-control-switcher_large.active
          a(href="#" data-type='line').active млрд. руб.
          a(href="#" data-type='classic') темп роста к предыдущему периоду, %

        +legend(getData('legend-main')).analityc-control-legend

mixin analityc-widgethead-sources(type)
  +b.analityc-widgethead&attributes(attributes)
    .analityc-control-group._year
      span Год
      select.analityc-select
        option(selected) 2017
        option 2016
        option 2015
    .analityc-control-group._stage
      span Этап
      select.analityc-select
        option Закон о бюджете утвержденный
        option Закон о внесении изменений
        option Закон об исполнении
        option(selected) Исполнение на дату
    .analityc-control-group._level
      span Уровень
      select.analityc-select
        option(selected) Бюджет москвы
        option Бюджет области
        option Бюджет региона
        option Консолидированный бюджет
    .analityc-control-buttons.active
      a(href="#").analityc-control-button.analityc-control-button_graphics.active
        +icon('graphic', true)
      a(href="#").analityc-control-button.analityc-control-button_table
        +icon('table', true)
    .analityc-control-switcher.analityc-control-switcher_big
      a(href="#").active млрд руб.
      a(href="#") млн руб.
    .analityc-control-group._dp
      input(placeholder="22.04.2017", value="22.04.2017", readonly="readonly").datepicker

mixin analityc-widgethead-analityc-income()
  +b.analityc-widgethead._income&attributes(attributes)

    .analityc-control-frame.analityc-control-frame_left
      span.analityc-control-frame-title Выберите год и этап
      .analityc-control-group
        a(href='#').analityc-remove-group
          +icon('delete', true)
        select.analityc-select.analityc-select_year
          option 2018
          option 2017
          option 2016
          option(selected) 2015
        select.analityc-select.analityc-select_month
          option(selected) год
          option январь
          option февраль
          option март
          option апрель
          option май
          option июнь
          option июль
          option август
          option сентябрь
          option октябрь
          option ноябрь
          option декабрь
        select.analityc-select.analityc-select_stage
          option(selected) Фактическое исполнение
          option Закон о бюджете (утвержденный)
      .analityc-control-group
        a(href='#').analityc-remove-group
          +icon('delete', true)
        select.analityc-select.analityc-select_year
          option 2018
          option 2017
          option(selected) 2016
          option 2015
        select.analityc-select.analityc-select_month
          option(selected) год
          option январь
          option февраль
          option март
          option апрель
          option май
          option июнь
          option июль
          option август
          option сентябрь
          option октябрь
          option ноябрь
          option декабрь
        select.analityc-select.analityc-select_stage
          option(selected) Фактическое исполнение
          option Закон о бюджете (утвержденный)
      .analityc-control-group
        a(href='#').analityc-remove-group
          +icon('delete', true)
        select.analityc-select.analityc-select_year
          option 2018
          option(selected) 2017
          option 2016
          option 2015
        select.analityc-select.analityc-select_month
          option(selected) год
          option январь
          option февраль
          option март
          option апрель
          option май
          option июнь
          option июль
          option август
          option сентябрь
          option октябрь
          option ноябрь
          option декабрь
        select.analityc-select.analityc-select_stage
          option Фактическое исполнение
          option(selected) Закон о бюджете (утвержденный)

      .analityc-control-group
        a(href='#').analityc-remove-group
          +icon('delete', true)
        select.analityc-select.analityc-select_year
          option(selected) 2018
          option 2017
          option 2016
          option 2015
        select.analityc-select.analityc-select_month
          option(selected) год
          option январь
          option февраль
          option март
          option апрель
          option май
          option июнь
          option июль
          option август
          option сентябрь
          option октябрь
          option ноябрь
          option декабрь
        select.analityc-select.analityc-select_stage
          option Фактическое исполнение
          option(selected) Закон о бюджете (утвержденный)
      a(href='#').analityc-add-group + Добавить год и этап

    .analityc-control-frame.analityc-control-frame_right
      .frame-wrap
        .analityc-control-group.analityc-control-group_level
          span Уровень
          select.analityc-select
            option(selected) Бюджет москвы
            option Бюджет области
            option Бюджет региона
            option Консолидированный бюджет

        .analityc-control-group.analityc-control-group_transfer
          span Классификация доходов
          select.analityc-select
            option(selected) Виды
            option с трансфертами
            
      .analityc-control-group.analityc-control-group_comparison
        span Режим сравнения
        select.analityc-select
          option(selected) Общий анализ основных видов доходов
          option Сравнительный анализ доходов по выбору
      .d-smr__add-char
          p.d-smr__add-char-label Добавить показатель на страницу
          .d-smr__add-char-block
            ul.d-smr__add-char-list.scroll-pane
              li.d-smr__add-char-item
                input(type='checkbox', name='a', value)#a
                label(for='a') НАЛОГОВЫЕ ДОХОДЫ - всего в том числе:
                ul.d-smr__char-sublist
                  li.d-smr__add-char-item
                    input(type='checkbox', name='aa', value='aa')#aa
                    label(for='aa') Налог на прибыль
                  li.d-smr__add-char-item
                    input(type='checkbox', name='ab', value='ab')#ab
                    label(for='ab') Налог на доходы физ.лиц
                  li.d-smr__add-char-item
                    input(type='checkbox', name='ac', value='ac')#ac
                    label(for='ac') Акцизы
                  li.d-smr__add-char-item
                    input(type='checkbox', name='ad', value='ad')#ad
                    label(for='ad') из них: нефтепродукты
                  li.d-smr__add-char-item
                    input(type='checkbox', name='ae', value='ae')#ae
                    label(for='ae') Единый упрощенный доход
                  li.d-smr__add-char-item
                    input(type='checkbox', name='ae', value='ae')#af
                    label(for='ae') Единый вмененный доход
                  li.d-smr__add-char-item
                    input(type='checkbox', name='ae', value='ae')#ag
                    label(for='ae') Налог на имущество организаций
                  li.d-smr__add-char-item
                    input(type='checkbox', name='ae', value='ae')#ah
                    label(for='ae') Транспортный налог
                  li.d-smr__add-char-item
                    input(type='checkbox', name='ae', value='ae')#ai
                    label(for='ae') Налог на игорный бизнес
                  li.d-smr__add-char-item
                    input(type='checkbox', name='ae', value='ae')#aj
                    label(for='ae') Госпошлина
                  li.d-smr__add-char-item
                    input(type='checkbox', name='ae', value='ae')#ak
                    label(for='ae') Прочие налоги
                  li.d-smr__add-char-item
                    input(type='checkbox', name='ae', value='ae')#al
                    label(for='ae') Задолженность по отмененным налогам
              li.d-smr__add-char-item
                input(type='checkbox', name='b', value)#b
                label(for='b') НЕНАЛОГОВЫЕ ДОХОДЫ - всего в том числе:
                ul.d-smr__char-sublist
                  li.d-smr__add-char-item
                    input(type='checkbox', name='ba', value='ba')#ba
                    label(for='ba') Дивиденды
                  li.d-smr__add-char-item
                    input(type='checkbox', name='bb', value='bb')#bb
                    label(for='bb') Расходы в расчёте на 1 жителя
                  li.d-smr__add-char-item
                    input(type='checkbox', name='bc', value='bc')#bc
                    label(for='bc') Общегосударственные вопросы
      .analityc-control-group.analityc-control-group_buttons
        .analityc-control-switcher.analityc-control-switcher_xl.active
          
          a(href="#" data-type='pace').active темп роста к предыдущему периоду, %
          a(href="#" data-type='share') доля в общей сумме, %
          a(href="#" data-type='done') % исполнения

//- Гос. программы
mixin analityc-widgethead-gp()
  +b.analityc-widgethead&attributes(attributes)

    .analityc-control-frame.analityc-control-frame_left
      span.analityc-control-frame-title Выберите год и этап

      .analityc-control-group
        a(href='#').analityc-remove-group
          +icon('delete', true)
        select.analityc-select.analityc-select_year
          option 2018
          option 2017
          option 2016
          option(selected) 2015
        select.analityc-select.analityc-select_month
          option(selected) Год
          option январь
          option февраль
          option март
          option апрель
          option май
          option июнь
          option июль
          option август
          option сентябрь
          option октябрь
          option ноябрь
          option декабрь
        select.analityc-select.analityc-select_stage
          option(selected) Фактическое исполнение
          option Закон о бюджете (утвержденный)

      .analityc-control-group
        a(href='#').analityc-remove-group
          +icon('delete', true)
        select.analityc-select.analityc-select_year
          option 2018
          option 2017
          option 2016
          option(selected) 2015
        select.analityc-select.analityc-select_month
          option(selected) Год
          option январь
          option февраль
          option март
          option апрель
          option май
          option июнь
          option июль
          option август
          option сентябрь
          option октябрь
          option ноябрь
          option декабрь
        select.analityc-select.analityc-select_stage
          option(selected) Фактическое исполнение
          option Закон о бюджете (утвержденный)

      .analityc-control-group
        a(href='#').analityc-remove-group
          +icon('delete', true)
        select.analityc-select.analityc-select_year
          option 2018
          option 2017
          option 2016
          option(selected) 2015
        select.analityc-select.analityc-select_month
          option(selected) Год
          option январь
          option февраль
          option март
          option апрель
          option май
          option июнь
          option июль
          option август
          option сентябрь
          option октябрь
          option ноябрь
          option декабрь
        select.analityc-select.analityc-select_stage
          option(selected) Фактическое исполнение
          option Закон о бюджете (утвержденный)

      .analityc-control-group
        a(href='#').analityc-remove-group
          +icon('delete', true)
        select.analityc-select.analityc-select_year
          option 2018
          option 2017
          option 2016
          option(selected) 2015
        select.analityc-select.analityc-select_month
          option(selected) Год
          option январь
          option февраль
          option март
          option апрель
          option май
          option июнь
          option июль
          option август
          option сентябрь
          option октябрь
          option ноябрь
          option декабрь
        select.analityc-select.analityc-select_stage
          option(selected) Фактическое исполнение
          option Закон о бюджете (утвержденный)
          
      .analityc-control-group
        a(href='#').analityc-remove-group
          +icon('delete', true)
        select.analityc-select.analityc-select_year
          option 2018
          option 2017
          option 2016
          option(selected) 2015
        select.analityc-select.analityc-select_month
          option(selected) Год
          option январь
          option февраль
          option март
          option апрель
          option май
          option июнь
          option июль
          option август
          option сентябрь
          option октябрь
          option ноябрь
          option декабрь
        select.analityc-select.analityc-select_stage
          option(selected) Фактическое исполнение
          option Закон о бюджете (утвержденный)

      a(href='#').analityc-add-group + Добавить год и этап

    .analityc-control-frame.analityc-control-frame_right

        span.analityc-control-frame-title Межбюджетные трансферты

        select.analityc-select.analityc-select_transfer
          option(selected) Без межбюджетных трансфертов
          option с трансфертами
        
        span.analityc-control-frame-title Режим сравнения

        select.analityc-select.analityc-select_compare
          option(selected) Сравнительный анализ программ по выбору
          option Option#1

        .analityc-select.analityc-select_add
          .option Добавить государственную программу на страницу
          .checklist
            span.checklist-title Выберите государственную программу
            .checklist-items
              +checkbox().checklist-item
                | Развитие транспортной системы
              +checkbox().checklist-item
                | Социальная поддержка жителей Москвы
              +checkbox().checklist-item
                | Столичное образование

        .analityc-control-switcher.analityc-control-switcher_graphic.analityc-control-switcher_large.active
          a(href="#").active Темп роста к пред. периоду, млрд руб.
          a(href="#") Доля в общей суммы,%
          a(href="#") % исполнения

//- открытые данные(oprn-file)
mixin analityc-widgethead-of()
  +b.analityc-widgethead&attributes(attributes)
    +e.FORM.head
      +e.INPUT.search(placeholder="Поиск по наименованию", type="text")
      +link() Всего 10 наборов
      +link() 150 наборов загружено
      +link() 5 предложений на публикацию наборов
    .d-smr__add-char
        p.d-smr__add-char-label поиск по категории
        .d-smr__add-char-block
          ul.d-smr__add-char-list.scroll-pane
            li.d-smr__add-char-item
              input(type='checkbox', name='a', value)#a
              label(for='a') НАЛОГОВЫЕ ДОХОДЫ - всего в том числе:
              ul.d-smr__char-sublist
                li.d-smr__add-char-item
                  input(type='checkbox', name='aa', value='aa')#aa
                  label(for='aa') Налог на прибыль
                li.d-smr__add-char-item
                  input(type='checkbox', name='ab', value='ab')#ab
                  label(for='ab') Налог на доходы физ.лиц
                li.d-smr__add-char-item
                  input(type='checkbox', name='ac', value='ac')#ac
                  label(for='ac') Акцизы
                li.d-smr__add-char-item
                  input(type='checkbox', name='ad', value='ad')#ad
                  label(for='ad') из них: нефтепродукты
                li.d-smr__add-char-item
                  input(type='checkbox', name='ae', value='ae')#ae
                  label(for='ae') Единый упрощенный доход
                li.d-smr__add-char-item
                  input(type='checkbox', name='ae', value='ae')#af
                  label(for='ae') Единый вмененный доход
                li.d-smr__add-char-item
                  input(type='checkbox', name='ae', value='ae')#ag
                  label(for='ae') Налог на имущество организаций
                li.d-smr__add-char-item
                  input(type='checkbox', name='ae', value='ae')#ah
                  label(for='ae') Транспортный налог
                li.d-smr__add-char-item
                  input(type='checkbox', name='ae', value='ae')#ai
                  label(for='ae') Налог на игорный бизнес
                li.d-smr__add-char-item
                  input(type='checkbox', name='ae', value='ae')#aj
                  label(for='ae') Госпошлина
                li.d-smr__add-char-item
                  input(type='checkbox', name='ae', value='ae')#ak
                  label(for='ae') Прочие налоги
                li.d-smr__add-char-item
                  input(type='checkbox', name='ae', value='ae')#al
                  label(for='ae') Задолженность по отмененным налогам
            li.d-smr__add-char-item
              input(type='checkbox', name='b', value)#b
              label(for='b') НЕНАЛОГОВЫЕ ДОХОДЫ - всего в том числе:
              ul.d-smr__char-sublist
                li.d-smr__add-char-item
                  input(type='checkbox', name='ba', value='ba')#ba
                  label(for='ba') Дивиденды
                li.d-smr__add-char-item
                  input(type='checkbox', name='bb', value='bb')#bb
                  label(for='bb') Расходы в расчёте на 1 жителя
                li.d-smr__add-char-item
                  input(type='checkbox', name='bc', value='bc')#bc
                  label(for='bc') Общегосударственные вопросы

mixin analityc-widgethead-analytics-expenses()
  +b.analityc-widgethead&attributes(attributes)

    .analityc-control-frame.analityc-control-frame_left
      span.analityc-control-frame-title Выберите год и этап

      .analityc-control-group
        a(href='#').analityc-remove-group
          +icon('delete', true)
        select.analityc-select.analityc-select_year
          option 2018
          option 2017
          option 2016
          option(selected) 2015
        select.analityc-select.analityc-select_month
          option(selected) Год
          option январь
          option февраль
          option март
          option апрель
          option май
          option июнь
          option июль
          option август
          option сентябрь
          option октябрь
          option ноябрь
          option декабрь
        select.analityc-select.analityc-select_stage
          option(selected) Фактическое исполнение
          option Закон о бюджете (утвержденный)

      .analityc-control-group
        a(href='#').analityc-remove-group
          +icon('delete', true)
        select.analityc-select.analityc-select_year
          option 2018
          option 2017
          option 2016
          option(selected) 2015
        select.analityc-select.analityc-select_month
          option(selected) Год
          option январь
          option февраль
          option март
          option апрель
          option май
          option июнь
          option июль
          option август
          option сентябрь
          option октябрь
          option ноябрь
          option декабрь
        select.analityc-select.analityc-select_stage
          option(selected) Фактическое исполнение
          option Закон о бюджете (утвержденный)

      .analityc-control-group
        a(href='#').analityc-remove-group
          +icon('delete', true)
        select.analityc-select.analityc-select_year
          option 2018
          option 2017
          option 2016
          option(selected) 2015
        select.analityc-select.analityc-select_month
          option(selected) Год
          option январь
          option февраль
          option март
          option апрель
          option май
          option июнь
          option июль
          option август
          option сентябрь
          option октябрь
          option ноябрь
          option декабрь
        select.analityc-select.analityc-select_stage
          option(selected) Фактическое исполнение
          option Закон о бюджете (утвержденный)

      .analityc-control-group
        a(href='#').analityc-remove-group
          +icon('delete', true)
        select.analityc-select.analityc-select_year
          option 2018
          option 2017
          option 2016
          option(selected) 2015
        select.analityc-select.analityc-select_month
          option(selected) Год
          option январь
          option февраль
          option март
          option апрель
          option май
          option июнь
          option июль
          option август
          option сентябрь
          option октябрь
          option ноябрь
          option декабрь
        select.analityc-select.analityc-select_stage
          option(selected) Фактическое исполнение
          option Закон о бюджете (утвержденный)
          
      .analityc-control-group
        a(href='#').analityc-remove-group
          +icon('delete', true)
        select.analityc-select.analityc-select_year
          option 2018
          option 2017
          option 2016
          option(selected) 2015
        select.analityc-select.analityc-select_month
          option(selected) Год
          option январь
          option февраль
          option март
          option апрель
          option май
          option июнь
          option июль
          option август
          option сентябрь
          option октябрь
          option ноябрь
          option декабрь
        select.analityc-select.analityc-select_stage
          option(selected) Фактическое исполнение
          option Закон о бюджете (утвержденный)

      a(href='#').analityc-add-group + Добавить год и этап

    .analityc-control-frame.analityc-control-frame_right

      .frame-wrap
        .analityc-control-group.analityc-control-group_level
          span Уровень
          select.analityc-select
            option(selected) Бюджет москвы
            option Бюджет области
            option Бюджет региона
            option Консолидированный бюджет

        .analityc-control-group.analityc-control-group_transfer
          span Межбюджетные трансферты
          select.analityc-select
            option(selected) Без межбюджетных трансфертов
            option с трансфертами
    
      .analityc-control-group.analityc-control-group_classify
        span Классификация расходов
        select.analityc-select
          option(selected) Целевые статьи (программный и непрограммный тип)
          option Разделы и подразделы
          option Ведомства
          option Виды

      .analityc-control-group.analityc-control-group_comparison
        span Режим сравнения
        select.analityc-select
          option(selected) Общий анализ основных видов расходов
          option Сравнительный анализ расходов по выбору
      .d-smr__add-char
          p.d-smr__add-char-label Добавить показатель на страницу
          .d-smr__add-char-block
            ul.d-smr__add-char-list.scroll-pane
              li.d-smr__add-char-item
                input(type='checkbox', name='a', value)#a
                label(for='a') НАЛОГОВЫЕ РАСХОДЫ - всего в том числе:
                ul.d-smr__char-sublist
                  li.d-smr__add-char-item
                    input(type='checkbox', name='aa', value='aa')#aa
                    label(for='aa') Налог на прибыль
                  li.d-smr__add-char-item
                    input(type='checkbox', name='ab', value='ab')#ab
                    label(for='ab') Налог на доходы физ.лиц
                  li.d-smr__add-char-item
                    input(type='checkbox', name='ac', value='ac')#ac
                    label(for='ac') Акцизы
                  li.d-smr__add-char-item
                    input(type='checkbox', name='ad', value='ad')#ad
                    label(for='ad') из них: нефтепродукты
                  li.d-smr__add-char-item
                    input(type='checkbox', name='ae', value='ae')#ae
                    label(for='ae') Единый упрощенный доход
                  li.d-smr__add-char-item
                    input(type='checkbox', name='ae', value='ae')#af
                    label(for='ae') Единый вмененный доход
                  li.d-smr__add-char-item
                    input(type='checkbox', name='ae', value='ae')#ag
                    label(for='ae') Налог на имущество организаций
                  li.d-smr__add-char-item
                    input(type='checkbox', name='ae', value='ae')#ah
                    label(for='ae') Транспортный налог
                  li.d-smr__add-char-item
                    input(type='checkbox', name='ae', value='ae')#ai
                    label(for='ae') Налог на игорный бизнес
                  li.d-smr__add-char-item
                    input(type='checkbox', name='ae', value='ae')#aj
                    label(for='ae') Госпошлина
                  li.d-smr__add-char-item
                    input(type='checkbox', name='ae', value='ae')#ak
                    label(for='ae') Прочие налоги
                  li.d-smr__add-char-item
                    input(type='checkbox', name='ae', value='ae')#al
                    label(for='ae') Задолженность по отмененным налогам
              li.d-smr__add-char-item
                input(type='checkbox', name='b', value)#b
                label(for='b') НЕНАЛОГОВЫЕ РАСХОДЫ - всего в том числе:
                ul.d-smr__char-sublist
                  li.d-smr__add-char-item
                    input(type='checkbox', name='ba', value='ba')#ba
                    label(for='ba') Дивиденды
                  li.d-smr__add-char-item
                    input(type='checkbox', name='bb', value='bb')#bb
                    label(for='bb') Расходы в расчёте на 1 жителя
                  li.d-smr__add-char-item
                    input(type='checkbox', name='bc', value='bc')#bc
                    label(for='bc') Общегосударственные вопросы

      .analityc-control-switcher.analityc-control-switcher_expenses.analityc-control-switcher_large.active
        a(href="#").active Темп роста к пред. периоду, млрд руб.
        a(href="#") Доля в общей суммы,%
        a(href="#") % исполнения


mixin analityc-widgethead-govdebt()
  +b.analityc-widgethead&attributes(attributes)
    .analityc-control-group._year
      span Год
      select.analityc-select
        option(selected) 2017
        option 2016
        option 2015
    .analityc-control-group._stage
      span Этап
      select.analityc-select
        option(selected) Закон о бюджете утвержденный
        option Закон о внесении изменений
        option Исполнение на дату
    .analityc-control-group._dp
      select(disabled).analityc-select.analityc-select_date.analityc-select_disabled
        option 01
      select.analityc-select.analityc-select_month
        option(selected=selected) января
        option февраля
        option марта
        option апреля
        option мая
        option июня
        option июля
        option августа
        option сентября
        option октября
        option ноября
        option декабря
      select.analityc-select.analityc-select_year
        option 2014
        option(selected=selected) 2015
        option 2016
        option 2017
        option 2018
    .analityc-control-switcher
        a(href="#").active доля от общей суммы, %
        a(href="#") млрд. руб.

mixin analityc-widgethead-moscow-gp()
  +b.analityc-widgethead&attributes(attributes)
    .analityc-control-group._year
      span Год
      select.analityc-select
        option(selected) 2017
        option 2016
        option 2015
    .analityc-control-group._stage
      span Этап
      select.analityc-select
        option(selected) Закон о бюджете утвержденный
        option Закон о внесении изменений
        option Исполнение на дату
    .analityc-control-group._level
      span Уровень
      select.analityc-select
        option(selected) Бюджет москвы
        option Бюджет области
        option Бюджет региона
        option Консолидированный бюджет
    .analityc-control-group._transfer
      span Межбюджетные трансферты
      select.analityc-select
        option(selected) Виды
        option Виды
    .analityc-control-buttons.active
      a(href="#").analityc-control-button.analityc-control-button_graphics.active
        +icon('graphic', true)
      a(href="#").analityc-control-button.analityc-control-button_table
        +icon('table', true)
    .analityc-control-switcher.analityc-control-switcher_large
      a(href="#", data-type='gp').active Государственные программы
      a(href="#", data-type='structure') Структура
    .analityc-control-group._dp
      input(placeholder="Выберите дату исполнения", value="Выберите дату исполнения", readonly="readonly").datepicker
