include ../../blocks/checkbox/checkbox
include ../../blocks/tag/tag
include ../../blocks/icon/icons
include ../../blocks/link/link
include ../../blocks/button/button
include ../../blocks/selectbox/selectbox
include ../../blocks/radio/radio

mixin searchForm(placeholder)
  +b.FORM.search.d-si__search-form(action="#")
    +e.search-line
      input.d-si__search(type="text", placeholder=placeholder)
      input.d-si__submit(type="submit" value="")
      +icon('icon-glass').__submit
    +e.filter
      +link()._dashed._light-yellow._extra.filter-link Расширенный поиск
      +b.extra-search.modal
        +e.wrapper
          +e.cols
            +e.col_min
              +e.title Вид документа
              +checkbox() текст
              +checkbox() инфографика
              +checkbox() таблица
              +checkbox() график
              +checkbox() фотографии
              +checkbox() видео
              +checkbox() события
            +e.col_one
              +e.title Дата публикации
              .form__date-range(id='rid-0')
                INPUT(type='text', value='дд.мм.гг', readonly='true').form__date-range-input.jq-f-datepicker.input-min
                SPAN.form__date-range-sep —
                INPUT(type='text', value='дд.мм.гг', readonly='true').form__date-range-input.jq-f-datepicker.input-max
                SPAN.form__date-range-icon
              +checkbox() искать только в заголовках страниц
              //+checkbox() искать только в разделе Документы
              //+checkbox() искать только в разделе Новости
              +radio-alt('searchplace', 'all', true) искать по всему порталу
              +radio-alt('searchplace', 'documents') искать только в разделе Документы
              +radio-alt('searchplace', 'news') искать только в разделе Новости
            +e.col_two
              +e.title Раздел
              +e.checkbox
                +checkbox-all(true) О бюджете
                +icon('caret').icon.js-icon
                +e.checkbox-group
                  +checkbox(true) Что такое бюджет?
                  +checkbox(true) Бюджетная система
                  +checkbox(true) три
                  +checkbox(true) четыре
              +e.checkbox
                +checkbox-all(true) Бюджет Москвы
                +icon('caret').icon.js-icon
                +e.checkbox-group
                  +checkbox(true) Основные параметры бюджета
                  +checkbox(true) Доходы бюджета
                  +checkbox(true) три
                  +checkbox(true) четыре
              +e.checkbox
                +checkbox-all(true) Аналитика
                +icon('caret').icon.js-icon
                +e.checkbox-group
                  +checkbox(true) один
                  +checkbox(true) два
                  +checkbox(true) три
                  +checkbox(true) четыре
              +checkbox(true) Сервисы
              +e.checkbox
                +checkbox-all(true) Открытость
                +icon('caret').icon.js-icon
                +e.checkbox-group
                  +checkbox(true) один
                  +checkbox(true) два
                  +checkbox(true) три
                  +checkbox(true) четыре
              +e.checkbox
                +checkbox-all(true) Медиацентр
                +icon('caret').icon.js-icon
                +e.checkbox-group
                  +checkbox(true) один
                  +checkbox(true) два
                  +checkbox(true) три
                  +checkbox(true) четыре
              +checkbox(true) Обратная связь
          +button()._kind_blue Искать
          +e.INPUT.reset(type="reset" value="Сбросить фильтр")
          u.btn-close.js-close-modal
      +link()._dashed._light-yellow._tags.filter-link Поиск по тэгам
      +b.tags.modal
        +e.wrapper
          +e.title Тэги
          +e.list
            - for (var i = 0; i<25; i++)
              +tag('Банки', 'searchTag')
          +button()._kind_blue Искать
          +e.INPUT.reset(type="reset" value="Сбросить все фильтры")
          u.btn-close.js-close-modal

mixin searchFormNews(placeholder)
  +b.FORM.search.search_news.d-si__search-form(action="#")
    +e.search-line
      input.d-si__search(type="text", placeholder=placeholder)
      input.d-si__submit(type="submit" value="")
      +icon('icon-glass').__submit
    +e.filter
      +link()._dashed._light-yellow._extra.filter-link Расширенный поиск
      +b.extra-search.modal
        +e.wrapper
          +e.cols
            +e.col_one
              +e.title Дата публикации
              .form__date-range(id='rid-0')
                INPUT(type='text', value='дд.мм.гг', readonly='true').form__date-range-input.jq-f-datepicker.input-min
                SPAN.form__date-range-sep —
                INPUT(type='text', value='дд.мм.гг', readonly='true').form__date-range-input.jq-f-datepicker.input-max
                SPAN.form__date-range-icon
              +checkbox() искать только в заголовках страниц
            +e.col_two
              +e.title Раздел
              +e.checkbox
                +checkbox-all(true) Медиацентр
                +icon('caret').icon.js-icon
                +e.checkbox-group
                  +checkbox(true) Новости бюджета
                  +checkbox(true) Новости Москвы
                  +checkbox(true) Федеральные новости
          +button()._kind_blue Искать
          +e.INPUT.reset(type="reset" value="Сбросить фильтр")
          u.btn-close.js-close-modal
      +link()._dashed._light-yellow._tags.filter-link Поиск по тэгам
      +b.tags.modal
        +e.wrapper
          +e.title Тэги
          +e.list
            - for (var i = 0; i<25; i++)
              +tag('Банки', 'searchTag')
          +button()._kind_blue Искать
          +e.INPUT.reset(type="reset" value="Сбросить все фильтры")
          u.btn-close.js-close-modal

mixin searchFormWidget(placeholder, tooltip)
  +b.FORM.search.search_widget.d-si__search-form(action="#")&attributes(attributes)
    +e.search-line
      input.d-si__search(type="text", placeholder=placeholder, title=tooltip, value=placeholder)
      input.d-si__submit(type="submit" value="")
      .search__tooltip
        i
        span= tooltip
      +icon('icon-glass').__submit

mixin searchFormOpen(placeholder)
  +b.FORM.search.search_news.d-si__search-form(action="#")
    +e.search-line
      input.d-si__search(type="text", placeholder=placeholder)
      input.d-si__submit(type="submit" value="")
      +icon('icon-glass').__submit
    +e.filter
      +link()._dashed._light-yellow._extra.filter-link Расширенный поиск
      +b.extra-search.modal
        +e.wrapper
          +e.cols
            +e.col_one
              +e.title Дата последнего обновления
              .form__date-range(id='rid-0')
                INPUT(type='text', value='дд.мм.гг', readonly='true').form__date-range-input.jq-f-datepicker.input-min
                SPAN.form__date-range-sep —
                INPUT(type='text', value='дд.мм.гг', readonly='true').form__date-range-input.jq-f-datepicker.input-max
                SPAN.form__date-range-icon
              +checkbox() искать только в наименовании
          +button()._kind_blue Искать
          +e.INPUT.reset(type="reset" value="Сбросить фильтр")
          u.btn-close.js-close-modal
      +link()._dashed._light-yellow._tags.filter-link Поиск по тэгам
      +b.tags.modal
        +e.wrapper
          +e.title Тэги
          +e.list
            - for (var i = 0; i<25; i++)
              +tag('Банки', 'searchTag')
          +button()._kind_blue Искать
          +e.INPUT.reset(type="reset" value="Сбросить все фильтры")
          u.btn-close.js-close-modal

//- другой фильтр
mixin searchFormNet(placeholder, tooltip)
  +b.FORM.search.search_net.search_widget.d-si__search-form(action="#")&attributes(attributes)
    +e.search-line
      input.d-si__search(type="text", placeholder=placeholder, title=tooltip, value=placeholder)
      input.d-si__submit(type="submit" value="")
      .search__tooltip
        i
        span= tooltip
      +icon('icon-glass').__submit
    +link()._dashed._extra.filter-link Расширенный поиск

    +e.filter
      +b.extra-search.modal
        +e.wrapper
          +e.title Расширенный поиск
          +e.cols
            +e.col_one
              +e.field
                +e.SPAN.field-label Сфера
                +selectbox('domain', [{"val":"opt1", "text":"Все"}, {"val":"opt2", "text":"Другое"}]).extra-search__field-input
              +e.field
                +e.SPAN.field-label Округ
                +selectbox('zone', [{"val":"opt1", "text":"Все"}, {"val":"opt2", "text":"Другое"}]).extra-search__field-input
              //- +e.LABEL.field
              //-   +e.SPAN.field-label Краткое название
              //-   +e.INPUT(type='text' name='short').field-input
              +e.LABEL.field
                +e.SPAN.field-label Адрес
                +e.INPUT(type='text' name='address').field-input
            +e.col_two
              +e.LABEL.field
                +e.SPAN.field-label ИНН
                +e.INPUT(type='text' name='inn').field-input
              +e.LABEL.field
                +e.SPAN.field-label КПП
                +e.INPUT(type='text' name='kpp').field-input
              //- +e.LABEL.field
              //-   +e.SPAN.field-label Адрес
              //-   +e.INPUT(type='text' name='address').field-input

          +button()._kind_blue Искать
          +e.INPUT.reset(type="reset" value="Сбросить фильтр")
          +icon('icon-cross').close

mixin searchFormVMO(placeholder, tooltip)
  +b.FORM.search.search_widget.d-si__search-form(action="#")&attributes(attributes)
    +e.search-line
      input.d-si__search(type="text", title=tooltip, value=placeholder)
      input.d-si__submit(type="submit" value="")
      .search__tooltip
        i
        span= tooltip
      +icon('icon-glass').__submit