//- image - название файла с картинкой
//- category - категория новости
//- title - заголовок новости
//- date - дата новости
//- модификатор ._big для увеличенной карточки

mixin news-card(image, category, title, date)
  +b.news&attributes(attributes)
    a(href="#").news__thumb
      img(src="assets/images/news/"+image+".jpg", alt="thumb")
    a(href="#").news__category= category
    a(href="#").news__title= title
    .news__bottom
      p.news__date= date
      .news__tags
        a(href="#") #итоги
        a(href="#") #апробация
        a(href="#") #старшеклассники
    button.share__btn
    .share__panel
      a(href="#").share__a.share__a_fb
      a(href="#").share__a.share__a_vk
      a(href="#").share__a.share__a_tw
      a(href="#").share__a.share__a_ok

mixin event-card(image, title, date)
  +b.news._events&attributes(attributes)
    a(href="#").news__thumb
      img(src="assets/images/events/"+image+".jpg", alt="thumb")
    a(href="#").news__title= title
    .news__bottom
      p.news__date= date

mixin photo-card(image, name, position, date)
  +b.news._photo&attributes(attributes)
    a(href="#").news__thumb
      img(src="assets/images/smi-fin/"+image+".jpg", alt="thumb")
    +e.name= name
    +e.position= position
    .news__bottom
      p.news__date= date
      
mixin material-card(image, title, date)
  +b.news._material&attributes(attributes)
    a(href="#").news__thumb
      img(src="assets/images/smi-fin/"+image+".jpg", alt="thumb")
    .news__bottom
      a(href="#").news__title= title
      p.news__date= date

mixin news-card-dropdown(image, category, title, date)
  +b.news._dropdown&attributes(attributes)
    a(href="#").news__thumb
      img(src="assets/images/news/"+image+".jpg", alt="thumb")
    a(href="#").news__category= category
    a(href="#").news__title= title
    .news__bottom
      p.news__date= date
      .news__tags
        a(href="#") #итоги
        a(href="#") #апробация
        a(href="#") #старшеклассники
    button.share__btn
    .share__panel
      a(href="#").share__a.share__a_fb
      a(href="#").share__a.share__a_vk
      a(href="#").share__a.share__a_tw
      a(href="#").share__a.share__a_ok

mixin short-newscard(category, date, title)
  +b.short-newscard&attributes(attributes)
    +e.A(href="#").category= category
    +e.P.date= date
    +e.A(href="#").title= title
